= form_tag '/admin/ci_builds', method: 'get' do
  = hidden_field_tag 'env', params[:env]
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if (params[:env] == 'all' || !params[:env]))}
        = link_to ci_builds_filter_path do
          all
      %li{class: ("active" if params[:env] == 'alpha')}
        = link_to ci_builds_filter_path(env: 'alpha') do
          alpha
      %li{class: ("active" if params[:env] == "beta")}
        = link_to ci_builds_filter_path(env: 'beta') do
          beta
  %div
    = text_field_tag 'gt', params[:gt], {class: "datepicker span2", placeholder: "start time"}
  %div
    = text_field_tag 'lt', params[:lt], {class: "datepicker span2", placeholder: "end time"}
  %div
    = submit_tag 'Submit', class: 'btn btn-primary'
