%h3.page-title Ci Build Analysis
%br

.row
  .span3
    = render 'filter'

  .span9
    -if @error
      %div{class: "alert alert-error"}
        = @error
    %table
      %thead
        %tr
          %th Job Name
          %th Failure
          %th Total
          %th Failure Rate
      %tbody
        = render partial: "build", collection: @data
        - if @data.blank?
          %tr
            %td.nothing_here_message{colspan: 4} nothing to show here
