%h2.page-title
  GitPub (联系我们: ezc@dianping.com)
  .pull-right
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
%p.slead
  Self Hosted Git Management
  %br
  Fast, secure and stable solution based on Ruby on Rails.

.row
  .span4
    .ui-box
      .title
        Quick help
      %ul.well-list
        %li
          %strong= link_to "CI Help", "https://docs.google.com/a/dianping.com/document/d/1-P31PnCkwcafCRCPQ6AQUpuElw1cPmY4L0vdqxapDeI/edit", :target => "_blank"
          %p Learn how to use GitPub CI and how to release an app

        %li
          %strong= link_to "New App", "https://docs.google.com/a/dianping.com/document/d/1VrIZTeXSuqU3XnFyz7idKyhtrPZFP7wrB1Bqi4AmP5A/edit", :target => "_blank"
          %p The workflow of create a new app

        %li
          %strong= link_to "Job Deploy", help_online_job_path, :target => "_blank"
          %p The workflow of deploy a job

        %li
          %strong= link_to "Merge Request Check", help_merge_request_check_path, :target => "_blank"
          %p The workflow of deploy a job

        %li
          %strong= link_to "Arch Versions", artifacts_dashboard_path, :target => "_blank"

        / %li
        /   Email your
        /   = mail_to gitlab_config.support_email, "support contact"
        / %li
        /   Use the
        /   = link_to "search bar", '#', onclick: "$('#search').focus();"
        /   on the top of this page
        / %li
        /   Use
        /   = link_to "shortcuts", '#', onclick: "new Shortcuts()"
        / %li
        /   Ask in our
        /   = link_to "mailing list", "https://groups.google.com/forum/#!forum/gitlabhq"
        /   or on
        /   = link_to "Stack Overflow", "http://stackoverflow.com/questions/tagged/gitlab"
        / %li
        /   Browse our
        /   = link_to "issue tracker", "https://github.com/gitlabhq/gitlabhq/issues"

  .span4
    .ui-box
      .title
        User documentation
      %ul.well-list
        %li
          %strong= link_to "Workflow", help_workflow_path
          %p Learn how to use Git and GitLab together.

        %li
          %strong= link_to "SSH keys", help_ssh_path
          %p Setup secure access to your projects.

        %li
          %strong= link_to "GitLab Markdown", help_markdown_path
          %p Learn what you can do with GitLab's advanced formatting system.

        / %li
        /   %strong= link_to "Permissions", help_permissions_path
        /   %p Get familiar with GitLab's permission levels.

        %li
          %strong= link_to "API", help_api_path
          %p Explore how you can access GitLab via a simple and powerful API.

        %li
          %strong= link_to "Web Hooks", help_web_hooks_path
          %p Let GitLab notify you when new code has been pushed to your project.

  .span4
    .ui-box
      .title
        Admin documentation
      %ul.well-list

        %li
          %strong= link_to "Rake Tasks", help_raketasks_path
          %p Explore what GitLab has in store for you to make administration easier.

        %li
          %strong= link_to "System Hooks", help_system_hooks_path
          %p Let GitLab notify you when certain management tasks need to be carried out.

        %li
          %strong= link_to "Public Access", help_public_access_path
          %p Learn how you can allow public access to a project.
