.row
  .span1
  .span8
    %div#intro-farm
      %div#step1
        %h2
          Merge Request增加特殊检查的流程
        %a.btn.btn-large.btn-success.pull-right{ "href" => "javascript:void(0);", "onclick" => "startIntro()"} Show me how
        %hr
        %h4 适用：满足业务团队对代码及分支特殊的管理需求。
        %h4 优点：确保关键分支在变更前通过各项检查；各业务团队可以定制自己的检查点。
        %h4 步骤：

        %ul
          %li
            %a{ "href" => "#step2" } 一  进入到具体项目的【 Settings 】tab ，点击【 Web Hooks 】。
          %li
            %a{ "href" => "#step3" } 二  勾选 Merge requests events。
          %li
            %a{ "href" => "#step4" } 三  配置检查的url，点击【 Add Web Hook 】。
          %li
            %a{ "href" => "#step5" } 四  到jenkins服务器上创建job的模板。
      %hr
      %div#step2
        %h3
          一  进入到具体项目的【 Settings 】tab ，点击【 Web Hooks 】
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/project_settings.JPG"}

      %hr
      %div#step3
        %h3
          二  勾选 Merge requests events。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/choose_webhook_type.JPG"}

      %hr
      %div#step4
        %h3
          三  配置用来检查的URL，点击【 Add Web Hook 】
          %h5 我们采用jenkins来执行具体的检查，因此需要配置jenkins服务器, 请选择alpha ci对应的jenkins server。
          %h5 每个项目采用同一个检查模板，每次merge request提交后，jenkins服务器会根据此模板创建一个jenkins的job来跑测试。
          %h5 在url地址中，除了编辑 my_jenkins_server 外，还要配置 my_check_template（此名称请自行定制，避免和别的项目同名）。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/configure_check_template.JPG"}

      %hr
      %div#step5
        %h3
          四  到jenkins服务器上创建job的模板
        %h4 步骤：

        %ul
          %li
            %a{ "href" => "#step6" } 1）在jenkins服务器上创建一个job，假设我们把它叫作 my_check_template 。
          %li
            %a{ "href" => "#step7" } 2）修改 my_check_template 的配置，勾选 “参数化构建过程”。
          %li
            %a{ "href" => "#step7" } 3）添加3个 “String Parameter” 类型的参数，参数名分别为 from，to，merge_request_id。
          %li
            %a{ "href" => "#step8" } 4）增加 “Execute Shell” 类型的构建步骤。

      %hr
      %div#step6
        %h4
          1）在jenkins服务器上创建一个job，选择 “构建一个自由分格的软件项目” ，假设我们把它叫作 my_check_template 。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/create_a_jenkins_job.JPG"}

      %hr
      %div#step7
        %h4
          2）修改 my_check_template 的配置，勾选 “参数化构建过程”。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/choose_parameter_build.JPG"}
        %h4
          3）添加3个 “String Parameter” 类型的参数，参数名分别为 from，to，merge_request_id。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/string_parameters.JPG"}

      %hr
      %div#step8
        %h4
          4）增加 “Execute Shell” 构建步骤。
          %h5 各项目可以把检查脚本放在code.dianpingoa.com的某个git仓库中，仓库名建议统一为 merge_request_check.git 。
          %h5 除了红色方框中的内容需用户自定义外，其他不用修改。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/merge_request_check/execute_shell.JPG"}

:javascript
  function startIntro(){
    help_deploy("tooltip");
  }
