.row
  .span1
  .span8
    %div#intro-farm
      %div#step1
        %h2
          点评Java项目job上线流程
        %a.btn.btn-large.btn-success.pull-right{ "href" => "javascript:void(0);", "onclick" => "startIntro()"} Show me how
        %hr
        %h4 适用：把打好的 job 部署到测试设备或线上设备上。
        %h4 优点：业务开发人员不再依赖运维人员完成 job 包的部署，可利用 gitpub 系统来完成 ，因此，job 的部署变得更加便捷高效。
        %h4 步骤：

        %ul
          %li
            %a{ "href" => "#step2" } 一  进入【 Rollout 】tab ，为 job 打包。
          %li
            %a{ "href" => "#step3" } 二  进入【Job上线】tab，为 job 部署选择测试设备，然后部署。
          %li
            %a{ "href" => "#step5" } 三  部署完毕，通过 gitpub 上提供的链接进入 taurus 系统，为 job 配置定时运行的参数。
      %hr
      %div#step2
        %h3
          一  进入【 Rollout 】tab ，为 job 打包。
          %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/online_job/job_packing.PNG"}

      %hr
      %div#step3
        %h3
          二  进入【Job上线】tab，为 job 部署选择测试设备，然后部署。
        %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/online_job/job_saving.PNG"}

      %div#step4
        %h4 点击【New OnlineJob】后，出现配置界面。
        %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/4af61bac4a526f2984774d0c2f9da29150531fac/online_job/job_configuration.PNG"}

      %hr
      %div#step5
        %h3
          三  部署完毕，通过 gitpub 上提供的链接进入 taurus 系统，为 job 配置定时运行的参数。
        %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/online_job/go_to_taurus.PNG"}
        %h4 点击【New Cron】就是新建任务计划。
        %h4 点击【Edit Cron】就是编辑已有的任务计划。

      %div#step6
        %h4 点击任一按钮，页面将跳转到 taurus 系统，该系统会告诉大家刚才的 job 包被部署到运行设备的具体位置。如下图所示:
        %img{src: "https://raw.githubusercontent.com/unaheidi/gitpub-images/master/online_job/job_location.PNG"}

:javascript
  function startIntro(){
    help_deploy("tooltip");
  }
