= form_for [project, task, config], html: { id: "task-config-form", class: "form-horizontal" } do |f|
  -if config.errors.any?
    .alert.alert-error
      %ul
        - config.errors.full_messages.each do |msg|
          %li= msg
  
  .control-group
    .left
      = f.label '应用名称: ', class: "control-label"
      .controls{style: "width: 228px"}
        = f.select :name, options_for_select(exist_packages(task, "only_name"), config[:name]), class: "project-access-select chosen"
    .left
      = f.label '配置类型: ', class: "control-label"
      .controls      
        = f.select :type, options_for_select({"Lion" =>"Lion"}, "Lion"), class: "project-access-select chosen"

  .control-group 
    .left
      = f.label 'key名称: ', class: "control-label"
      .controls
        = f.text_field :key, placeholder: "ex: project_name.key"
    .left
      = f.label '线上操作: ', class: "control-label"
      .controls      
        = f.select :online_op, options_for_select({"增加" => "Add","删除" => "Remove"}, "Add"), class: "project-access-select chosen"

  .control-group
    .left
      = f.label '线上值: ', class: "control-label"
      .controls
        = f.text_field :online_value
    .left
      = f.label '泳道: ', class: "control-label"
      .controls
        = f.select :swimlane, options_for_select({"所有" => ""}, ""), class: "project-access-select chosen"
  .control-group 
    %button.btn_offline
      %i.icon-edit
      特设线下值 

  .control-group
    .left
      = f.label 'Dev值: ', class: "control-label"
      .controls
        = f.text_field :offline_dev, disabled: true, class: "offline"
    .left
      .control-group
        = f.label 'Alpha值: ', class: "control-label"
        .controls
          = f.text_field :offline_alpha, disabled: true, class: "offline"
  .control-group
    .left
      = f.label 'Beta值: ', class: "control-label"
      .controls
        = f.text_field :offline_beta, disabled: true, class: "offline"
    .left
      .control-group
        = f.label '预发值: ', class: "control-label"
        .controls
          = f.text_field :offline_pre_release, disabled: true, class: "offline"

  - if config.persisted?
    .control-group    
      .controls
        = f.submit 'Submit', class: "btn btn-create"


