%div#lion-config-table
  %table.tablesorter
    %thead
      %tr
        %th 应用名称
        %th KEY名称
        %th 上线VALUE 
        %th 操作
        %th 状态
        %th Edit
        %th Destroy

    %tbody
      - TaskConfig.find_all_by_task_id(task.id).each do |config|
        %tr 
          %td  #{config.name}
          %td  #{config.key}
          %td  #{config.online_value}
          %td  #{config.online_op}
          %td  #{config.status}
          %td
            = link_to 'Edit', edit_project_task_task_config_path(project, task, config), id: config.id, class: "btn btn-small"
          %td
            = link_to 'Destroy', [@project, @task, config],confirm: remove_config(config), method: :delete, class: "btn btn-small btn-remove"