- @paas_rollout ||= paas_rollout
- logs.each do |log|
  - if 'paas' == log['location_type']
    %pre
      = Gitlab::GitLogger.read_latest_for(log['location']).join("\n")
%pre
  = @paas_rollout.paas_log.to_s