%tr
  %td
    %span.module_status{ class: color_status(m_status) }
      = m_status
    = link_to m_url do
      %span.module-name{ class: m_type }
        = module_name
  %td
    = pom_module[:version]
  %td
    = m_type
  - if lookup_context.template_exists?("projects/ci_branch/java/deployers/#{m_type}", [], true)
    = render partial: "projects/ci_branch/java/deployers/#{m_type}", locals: { ci_branch: ci_branch, pom_module: pom_module } 
  - else
    = render partial: "projects/ci_branch/java/deployers/empty", locals: { ci_branch: ci_branch, pom_module: pom_module }