%table#phoenix.module-machine-list
  %thead
    %tr
      %th
        %i.icon-plane
        Phoenix
      %th Ip
      %th 测试机域名
      %th 路由默认域
      %th Command
    %tr
    %td
      = render partial: "projects/ci_branch/java/deployers/phoenix", locals: { machine: ci_branch.machines.find_by_module_name(CiBranch::PHOENIX_MODULE)}
