- unless @tree.error_message.blank?
  .dropdown.inline
    %a.dropdown-toggle.btn.btn-small.btn-remove{href: '#', "data-toggle" => "dropdown"} 
      %i.icon-warning-sign
      %span Pom Error 
      %b.caret
    %ul.dropdown-menu{ style: "min-width: 600px"}
      %h3 pom 不规范
      %pre
        = @tree.error_message

- else
  Module