- if @status
  = render partial: 'projects/ci_branch/java/phoenix', locals: { ci_branch: ci_branch } if ci_branch.deployers == 'Phoenix'
  %table.module-machine-list{ class: branch_table_class(ci_branch) }
    %thead
      %tr
        %th
          = render 'projects/ci_branch/java/pom_check' unless 'ShadowBranch' == ci_branch.class.to_s
          = '镜像alpha环境' if 'ShadowBranch' == ci_branch.class.to_s
        %th Version
        %th Type
        %th Ip
        %th.cred Command!
        %th
          - unless 'ShadowBranch' == ci_branch.class.to_s
            = link_to project_ci_branch_lion_path(@project, ci_branch.branch_name), class: 'btn btn-primary has_bottom_tooltip pull-right', "data-original-title" => "创建lion项目" do
              %i.icon-plus
              lion项目
        %th
          .pull-right
            = switch_deployer

    - ci_branch.imf.modules.each do |module_name, imf|
      - m_status = imf[:jenkins].nil? ? 'not run' : imf[:jenkins]['status']
      - m_url = imf[:jenkins].nil? ? '#' : imf[:jenkins]['url']
      - pom_module = imf
      - m_type = imf[:type]
      - if ['war', 'zip'].include?(m_type) && has_beta_paas_or_not(@project,imf[:module_name]) && ci_branch.beta?
        = render partial: "projects/ci_branch/java/deployers/beta_paas",locals: {ci_branch: ci_branch,module_name: imf[:module_name]}
      - else
        = render partial: "projects/ci_branch/java/modules",locals: { ci_branch: ci_branch, pom_module: imf, m_status: m_status,m_url: m_url,m_type: m_type,module_name: module_name}

= render partial: "projects/ci_branch/java/deployers/edit_rollback_beta_package" 


