= render "projects/ci_branch/head"

= form_for 'lion', url: project_ci_branch_lion_path(@project, @ci_branch), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|

  %fieldset
    %legend creat new lion project
    .row
      .span6
        .control-group
          = f.label :team, class: "control-label"
          .controls
            = f.select :team, @teams, {:include_blank => true}, { class: 'chosen span4', "data-placeholder" => "Choose a project..."}

        .control-group
          = f.label :product, class: "control-label"
          .controls
            = f.select :product, [], {:include_blank => true}, { class: 'chosen span4', "data-placeholder" => "Choose a product...", "data-url" => "#{products_project_ci_branch_lion_path}" }

        .control-group
          = f.label :project, class: "control-label"
          .controls
            = f.select :project, @modules, {:include_blank => true}, { class: 'chosen span4', "data-placeholder" => "Choose a project..."}    

        .control-group
          = f.label "", class: "control-label"
          .controls
            .btn-toolbar
              .btn-group
                = link_to 'add project', "javascript:void(0);", "data-link" => new_project_project_ci_branch_lion_path(@project), class: 'btn btn-primary add-lion-project'
