.projects_box
  %h5.title
    = link_to 'Public Projects','public'
    %small
      (#{public_projects.count})
      
  %ul.well-list
    - public_projects.each do |project|
      %li
        = link_to project_path(project), class: dom_class(project) do
          - if project.namespace
            = project.namespace.human_name
            \/
          %strong.well-title
            = truncate(project.name, length: 25)
          %span.arrow
            &rarr;
          %span.last_activity
            %strong Last activity:
            %span= project_last_activity(project)
    - if public_projects.blank?
      %li
        %h3.nothing_here_message There are no public_projects here.
 