%h3.page_title
%div 
  %table.tablesorter
    %thead
      %tr
        %th Group ID
        %th Artifact ID
        %th 最低版本
        %th 生效时间
    %tbody
      - @artifacts.each do |artifact|
        %tr
          %td= artifact.group_id
          %td= artifact.artifact_id
          %td= artifact.version
          %td= artifact.updated_at.try(:strftime,"%Y-%m-%d %I:%M") 
        

 