%h3.page-title
  Rollouts

.row
  .span2
    = render 'dashboard/grouping_strategies/filter'  
  .span10
    .ui-box  
      =render 'dashboard/grouping_strategies/head_filter'
    - @grouping_strategies.group_by(&:package).each do |package|
      - unless package[0].blank?
        .ui-box.small-box
          .title
            = link_to "Package ##{package[0].id}", project_ticket_path(package[0].project, package[0].ticket)
            %small.cgray belongs to
            = link_to package[0].project.name_with_namespace, project_path(package[0].project)
          %ul.well-list.mr-list
            - package[1].each do |grouping_strategy|
              = render partial: "projects/grouping_strategies/grouping_strategy", locals: {grouping_strategy: grouping_strategy, current: (package[0].tag.to_s == grouping_strategy.tag.to_s)}
    - if @grouping_strategies.blank?
      %li
        %h4.nothing_here_message No tickets to show
    - if @grouping_strategies.present?
      .pull-right
        %span.cgray.pull-right #{@grouping_strategies.total_count} tickets for this filter

      = paginate @grouping_strategies, theme: "gitlab"