%h3.page-title
  = "Issues (#{@issues.total_count})"
  .pull-right
    = link_to classifications_path, class: 'btn btn-primary' do
      %i.icon-share-alt
      View all issues


%p.light
  Only issues created by you or assigned to you are listed here.
%hr

.row
  .span3
    = render 'shared/filter', entity: 'issue'
  .span9
    = render 'shared/issues'
