%h3.page_title
%div
  - if @status
    %table.tablesorter
      %thead
        %tr
          %th Group name
          %th 30天内活动项目平均覆盖率
          %th 30天内新增行覆盖率
          %th 30天内新增代码行
          %th 30天内覆盖代码行
      %tbody
        - @groups.each do |group|
          - if !@ave_ut_coverage[group.id].nan? || !@new_ut_coverage[group.id].nan?
            %tr
              %td
                = link_to group.name,group_path(group)
              %td
                = (@ave_ut_coverage[group.id].blank? || @ave_ut_coverage[group.id].nan?) ? 'n/a' : "#{@ave_ut_coverage[group.id]}%"
              %td
                = (@new_ut_coverage[group.id].blank? || @new_ut_coverage[group.id].nan?) ? 'n/a' : "#{@new_ut_coverage[group.id]}%"
                - if !@new_ut_coverage[group.id].blank? && !@ave_ut_coverage[group.id].blank?
                  - if @new_ut_coverage[group.id] > @ave_ut_coverage[group.id]
                    %i.icon-arrow-up{style: "color:red"}
                  - elsif @new_ut_coverage[group.id] < @ave_ut_coverage[group.id]
                    %i.icon-arrow-down{style: "color:green"}
              %td #{@new_line_count[group.id]}
              %td #{@covered_line_count[group.id]}
  - else
    %h3.cred{style: 'text-align: center;margin-top: 100px;'}
      系统正在处理 sonar 数据, 请稍候再试!
