%h3.page_title
%div 
  %table.tablesorter
    %thead
      %tr
        %th 应用名
        %th IP
        %th 项目名
        %th 分支名
    %tbody
      -unless @swimlane_apps.blank?
        - @swimlane_apps.each do |app|  
          %tr
            %td= app.module_name
            %td= app.ip
            %td= app.project.name
            %td= app.build_branch.branch_name
        

 