%fieldset
  - if ["status", "scope", "released_at", extra].select { |k| params[k].present? }.any?
    = link_to list_tickets_path, class: 'cgray pull-right' do
      %i.icon-remove
      %strong Clear filter
