#editStaticPackage.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 静态上线
    #bind-status
  .modal-body
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label  name
          .controls
            %input#static_package_name_edit
        .control-group
          %label.control-label  url
          .controls
            %input#static_package_url_edit
        .control-group
          .controls
            %input#request_url{ type: "hidden" }
        .control-group
          .controls
            %input#package_id{ type: "hidden" }
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
    %a.btn.btn-primary#edit_static_package_name 修改