- gss = gss || nil
- error = error || nil
%legend= "Grouping Strategy"
-if !gss.blank?
  %table{ class: "grouping-strategies-list", "data-package-id" => package.id }
    %thead
      %tr
        %th App
        %th Group
        %th Status
        %th Action
        %th Log
    
    %tbody
    -if !gss.blank?
      - gss.each do |gs|
        %tr{ class: "grouping-item-info", "data-group-id" => gs.id }
          %td #{gs.appname}
          %td
            %a.group-hostname{ :"data-content" => gs.hostname,
                              :"data-placement" => 'top',
                              :"data-trigger" => 'hover' } #{gs.name}
          %td #{gs.status_name.to_s.titleize}
          %td 
            .btn-group
              -if !gs.in_progress?
                %button.btn{ title: "deploy", class: "release-deploy release-btn","data-link" =>deploy_by_group_project_ticket_grouping_strategy_path(@project, ticket, gs,{package_id: package.id})}
                  发布
              -if gs.can_reset?
                %button.btn{ title: "reset", class: "release-reset release-btn", "data-link" => reset_project_ticket_grouping_strategy_path(@project, ticket, gs) }
                  重置
          %td
            = link_to gs.log, :target => "_blank" do
              %i.icon-film


  %td
    %button.btn.hide_grouping_strategy{:onclick =>"$('.ticket-packing-item').replaceWith('<div class="'"span6 ticket-packing-item"'"><legend>Grouping Strategy</legend><h4>Click wars in left table to show  detail of grouping strategy.</h4></div>')"}      
      %i.icon-remove
        隐藏
- elsif error.blank?
  %h4
    %i.icon-warning-sign
    指定package没有分组信息...
    %br
    %i.icon-warning-sign
      如果已经有机器，请联系ops添加分组信息...
    %br
    %i.icon-warning-sign
      还木有机器，  
      %a{href:"http://workflow.dp/wfe/start/77",style:"color:red"}请点我进行线上机器和分组申请
- else
  %h4
    %i.icon-warning-sign
    = error