.title
  .task-filters
    %span Filter by
    .inline
      = form_tag tickets_filter_path, method: 'get', id: "tickets-index-form" do
        %i.icon-time
        =text_field_tag 'released_at', params[:released_at], {class: "datepicker date-search span2", placeholder: "pick release date"}
