.span6
  %legend= "Static"
  %table#ticket-packing-list
    %thead
      %tr
        %th Name
        %th URL
        %th Action
    - if !@packages.blank?
      - @packages.each do |package|
        = render "ticket_package", package: package, ticket: @ticket

  %td
    = link_to packages_project_static_ticket_path(@project, @ticket), class: "btn", method: :put do
      %i.icon-edit
      Add package

.span6     
  .loading.hide   
  .ticket-packing-item
    %legend= "Grouping Strategy"
    %h4 Click wars in left table to show  detail of grouping strategy.          
