%tr{"data-link" => grouping_strategy_project_static_ticket_path(@ticket.project, @ticket, {package_id: package.id}) }
  %td  #{package.name}
  %td.url  #{package.url}
  %td.edit-static-package-name{ "name" => package.name , "url" => package.url, "request_url" => update_static_package_project_static_ticket_path(@ticket.project, @ticket), "package_id" => package.id}
    %button.btn{ "data-toggle" => "modal", "href" => '#editStaticPackage', "class" => 'editStaticPackage', "data-keyboard" => "false"}
      %i.icon-edit
      修改

