= render "projects/rollout_branches/head"

= form_for :static_tickets, :url => { :action => :create }, method: :post do |f|
  = button_tag(type: 'submit', class: "pull-right btn btn-create") do
    %i.icon-edit
    我要发布静态包

%h3.page-title
  Rollout Tickets
  %span="(#{@tickets.size})"

.row
  .span3
    = render 'ticket_filter'
    = render 'clear_filter', extra: nil
  .span9
    .ui-box
      =render "head_filter"
      %ul.well-list.ticket-list
        - @tickets.each do |ticket|
          = render partial: "ticket", locals: {ticket: ticket, project: @project}
        - if @tickets.blank?
          %li
            %h4.nothing_here_message No tickets to show
    - if @tickets.present?
      .pull-right
        %span.cgray.pull-right #{@tickets.total_count} rollout tickets for this filter

      = paginate @tickets, theme: "gitlab"
