= form_tag add_packages_project_static_ticket_path(@project,@ticket), method: :put do
  -if @ticket.errors.any?
    .alert.alert-error
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .row
    .span12
      .control-group
        = label_tag "modules" do
          Static Module:
        .controls
          = select_tag :module, options_for_select(all_static_modules), multiple: false, data: {placeholder: 'Select wars'}, class: 'chosen', style: "width: 200px"

      .control-group
        = label_tag "url" do
          URL:
        .controls
          = text_field_tag :url, '', {style: "width: 600px"}

    .span5

  .form-actions
    = submit_tag 'Submit Static Package', class: "btn btn-create"
