= render "projects/rollout_branches/head"

%h3.page-title
  = "Ticket ##{@ticket.id} #{@ticket.released_at} :"

%h4.box-title.clearfix
  .back-link
    .btn-group
      = link_to project_static_tickets_path(@project), class: "btn" do
        %i.icon-long-arrow-left
        To Rollout Tickets

  .row
    %div{style: "margin:0;padding:0;display:inline"}
      %h5.box-title
        = render "packages"
  %br

  = render 'edit_package'  