= form_for 'cache', url: project_ppe_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|

  %fieldset
    %legend clear cache
    .row
      .span6
        .control-group
          = f.label :app, class: "control-label"
          .controls
            = select_tag :app, options_for_select(ProjectModule.uniq.pluck(:module_name)), multiple: true, data: {placeholder: 'Select wars'}, class: 'chosen span4'

        .control-group
          = f.label :enviroment, class: "control-label"
          .controls
            = f.select :enviroment, options_for_select(['prelease', 'release']), {}, { class: 'chosen span4'}

        .control-group
          = f.label "action", class: "control-label"
          .controls
            .btn-toolbar
              .btn-group
                = link_to 'clear cache', "javascript:void(0);", "data-link" => clear_cache_project_ppe_branch_path(@project, @rollout), class: 'btn btn-small clear-cache'
