= form_tag project_compare_index_path(@project), method: :post, :target => '_blank', class: "form-horizontal", id: "rollout-form" do 
  %fieldset
    %legend= "compare with last release"
    .row
      .span6
        .control-group
          = label_tag :commits, "commits", class: "control-label"
          .controls
            = text_field_tag :from, @rollout.imf.jenkins_datasource.last_success_build_revision[0..9], class: "input-xlarge input-xpadding span2"
            = "..."
            = text_field_tag :to, @project.repository(@rollout.branch_name).commit.short_id(9), class: "input-xlarge input-xpadding span2"
        .control-group
          = label_tag :action, "", class: "control-label"
          .controls    
            = submit_tag "Compare", class: "btn btn-create commits-compare-btn", disabled: disable
          