= image_tag gravatar_icon(@user.email, 60), alt: '', class: 'avatar s60'
%h3.page-title
  = @user.name
  %br
  %small
    = @user.email

  .pull-right
    = link_to destroy_user_session_path, class: "logout", method: :delete do
      %small
        %i.icon-signout
        Logout
%hr

= form_for @user, url: profile_path, method: :put, html: { class: "edit_user form-horizontal" }  do |f|
  -if @user.errors.any?
    %div.alert.alert-error
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .span7
      .control-group
        = f.label :name, class: "control-label"
        .controls
          = f.text_field :name, class: "input-xlarge", required: true, disabled: true
          %span.help-block Enter your name, so people you know can recognize you.
      .control-group
        = f.label :email, class: "control-label"
        .controls
          = f.text_field :email, class: "input-xlarge", required: true, disabled: true
          %span.help-block We also use email for avatar detection.
      .control-group
        = f.label :skype, class: "control-label"
        .controls= f.text_field :skype, class: "input-xlarge"
      .control-group
        = f.label :linkedin, class: "control-label"
        .controls= f.text_field :linkedin, class: "input-xlarge"
      .control-group
        = f.label :twitter, class: "control-label"
        .controls= f.text_field :twitter, class: "input-xlarge"
      .control-group
        = f.label :bio, class: "control-label"
        .controls
          = f.text_area :bio, rows: 6, class: "input-xlarge", maxlength: 250
          %span.help-block Tell us about yourself in fewer than 250 characters.

    .span5.pull-right
      %fieldset.tips
        %legend Tips:
        %ul
          %li
            %p You can change your password on the Account page
          - if Gitlab.config.gravatar.enabled
            %li
              %p You can change your avatar at #{link_to "gravatar.com", "http://gravatar.com"}

          - if Gitlab.config.omniauth.enabled && @user.provider?
            %li
              %p
                You can login through #{@user.provider.titleize}!
                = link_to "click here to change", account_profile_path
          - if current_user.can_create_group?
            %li
              %p
                Need a group for several dependent projects?
                = link_to new_group_path, class: "btn btn-tiny" do
                  Create a group
      - unless current_user.projects_limit_left > 100
        %fieldset
          %legend
            Personal projects:
            %small.pull-right
              %span= current_user.personal_projects.count
              of
              %span= current_user.projects_limit
          .padded
            .progress
              .bar{style: "width: #{current_user.projects_limit_percent}%;"}

      %fieldset
        %legend
          SSH public keys:
          %span.pull-right
            = link_to pluralize(current_user.keys.count, 'key'), profile_keys_path
        .padded
          = link_to "Add Public Key", new_profile_key_path, class: "btn btn-small"

  .form-actions
    = f.submit 'Save changes', class: "btn btn-save"
