%ul.nav.nav-pills.nav-stacked
  %li{class: ("active" if params[:status].blank?)}
    = link_to grouping_strategies_filter_path(status: nil) do
      All
  - GroupingStrategy.state_machines[:status].states.each do |state|
    %li{class: ("active" if params[:status].to_i == state.value)}
      = link_to grouping_strategies_filter_path(status: state.value) do
        = state.name.to_s.titleize