.title
  .task-filters
    %span Filter by
    .dropdown.inline.prepend-left-10
      %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
        %i.icon-folder-close
        %span.light group:
        - if @group.present?
          %strong= @group.name
        - else
          Any
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to grouping_strategies_filter_path(namespace_id: nil) do
            Any
        - current_user.authorized_groups.each do |group|
          %li
            = link_to grouping_strategies_filter_path(namespace_id: group.id) do
              = group.name

    .inline
      = form_tag grouping_strategies_filter_path, method: 'get', id: "tasks-index-form" do
        %i.icon-time
        =text_field_tag 'released_at', ( params[:released_at] || Date.today.to_s ) , {class: "datepicker date-search span2", placeholder: "Pick release date"}
