= form_for [@project, @online_job], url: project_online_jobs_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|
  -if @online_job.errors.any?
    .alert.alert-error
      %ul
        - @online_job.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= "Online Job Deploy"

    .row
      .span6
        .control-group
          = f.label :Branch, class: "control-label"
          .controls
            - if @online_job.build_branch_id.blank?
              = f.select :build_branch_id, branch_for_project(@project), {}, { class: 'chosen span4 branch_name_select', disabled: disable }
            - else
              = BuildBranch.find(@online_job.build_branch_id).branch_name

        .control-group
          = f.label :module_name, class: "control-label"
          .controls
            - if @online_job.jar_name.blank?
              = f.select :jar_name,[],{},{ class: 'chosen span4 jar_name_select', disabled: disable,url:"#{jars_project_online_jobs_path(@project)}",method:'get'}
            - else
              = @online_job.jar_name

        .control-group
          = f.label :tag, class: "control-label"
          .controls
            - if @online_job.tag.blank?
              = f.select :tag, [],{},{ class: 'chosen span4 tag_name_select', disabled: disable,url: "#{tags_for_jar_project_online_jobs_path(@project)}",method:'get'}
            - else
              %p= @online_job.tag

        .control-group
          = f.label :env, class: "control-label"
          .controls
            = f.select :env, [[],"alpha","beta","ppe","product"],{},{ class: 'chosen span4 env_select', disabled: disable}

        - if @online_job.machine.blank?
          .control-group{class:"business_belongs_to_group"}
            = f.label :所属业务, class: "control-label"
            .controls{class:"business_belongs_to_detail"}
              = f.select :business_belongs_to,[],{},{ class: 'chosen span4 business_belongs_to_select',disabled: disable,url:"#{business_groups_project_online_jobs_path(@project)}"}

        .control-group
          = f.label :运行在, class: "control-label"
          .controls
            - if @online_job.machine.blank?
              = f.select :machine, [],{},{ class: 'chosen span4 service_ip_select', disabled: disable,url:"#{ips_for_business_project_online_jobs_path(@project)}"}
            - else
              = @online_job.machine

        / .control-group
        /   = f.label :online_script, class: "control-label"
        /   .controls
        /     = text_field_tag :online_script,"", style: "width: 356px", placeholder: "Input the online script here...", disabled: disable
      -if disable
        .span5
          .control-group
            = f.label "modules", class: "control-label"
            .controls
              - unless @online_job.jar_url.blank?
                =render "modules", online_job: @online_job
          .control-group
            = f.label "deploy status", class: "control-label"
            .controls
              .label{ class: "label-#{online_job_label_for_status(@online_job)}", style: "margin: 8px 0 0" }= "#{@online_job.human_status_name}"
          - if @online_job.human_status_name == "发布成功"
            %hr
            .control-group
              .controls
                %p job包已发布到设备上。请点击下边的按钮，到taurus上配置任务计划。
              .controls
                = link_to 'New Cron', @online_job.create_url,class: 'btn btn-small btn-primary',:target => "_blank"
                = link_to 'Edit Cron', @online_job.update_url,class: 'btn btn-small btn-primary',:target => "_blank"

    -unless disable
      .control-group

      .form-actions
        = f.submit 'Deploy Job', class: "btn btn-primary"
