= link_to new_project_online_job_path(@project),class:"pull-right btn btn-new" do
  %i.icon-plus
  New OnlineJob

- if !@online_jobs.blank?
  .row
    .span6
      = render "online_jobs", disable: false
      = paginate @online_jobs, theme: "gitlab"
    .span6{ class: "packing-item" }
      = render "item", online_job: nil

    %center
      %h5{style:"padding-right:320px; "}
        Click New OnlineJob to deploy a job...
- else
  = render "new_deploy", disable:false