.ui-box
  %h5.title
    Jar Uploaded (Click to copy link)
  %ul.well-list
    %li
      %a.btn.copy-link{ "data-clipboard-text" => "#{online_job.jar_url}", "title" => "#{online_job.jar_url}", "style" => "margin-bottom: 5px" }
        =online_job.jar_name
        %i.icon-copy

%script{"type" => "text/javascript" }
  var clip = new ZeroClipboard($(".copy-link"), { moviePath: "/assets/ZeroClipboard.swf" });
  clip.on('complete', function() { flash_notice(true, "Copied."); });
