%table#online-job-list
  %tr
    %th job模块名
    %th 发布时间
    %th
      .control-group
        .pull-right
          %span Filter by
          .dropdown.inline.prepend-left-10
            %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
              %i.icon-tags
              %span.light envs:
              - if params[:env].present?
                %strong= params[:env]
              - else
                Any
            %ul.dropdown-menu
              %li
                = link_to project_filter_path(env: nil) do
                  Any
              - job_running_envs.each do |env|
                %li
                  = link_to project_filter_path(env: env) do
                    %span
                      %i.icon-tag
                    = env
    = render @online_jobs
    - if @online_jobs.blank?
      %li
        %h4.nothing_here_message No jobs to show