%tr{ "data-link" => item_project_online_job_path(@project, online_job) }
  %td
    = online_job.jar_name
  %td
    - if online_job.human_status_name != "发布成功"
      %span= time_ago_in_words(online_job.created_at)
      %span ago
    - else
      = time_ago_in_words(online_job.created_at)
      ago
  %td
    .pull-right
      .label{ class: "label-#{online_job_label_for_status(online_job)}", style: "margin: 8px 0 0" }= "#{online_job.human_status_name}"
