= render "head"

%div.packing-wrap
  = render partial: "item", locals: { online_job: @online_job }

- if @online_job.deploying?
  :javascript
    (new Packing("#{item_project_online_job_path(@project, @online_job)}")).refresh();