- @ref = @repository.root_ref if @ref.nil?
= nav_link(controller: [:commit, :commits]) do
  = link_to 'Commits', project_commits_path(@project, @ref)
= nav_link(controller: :compare) do
  = link_to 'Compare', project_compare_index_path(@project)

= nav_link(html_options: {class: branches_tab_class}) do
  = link_to recent_project_branches_path(@project) do
    Branches
    %span.badge= @repository.branches.length

= nav_link(controller: :tags) do
  = link_to project_tags_path(@project) do
    Tags
    %span.badge= @repository.tags.length

= nav_link(controller: :repositories, action: :stats) do
  = link_to stats_project_repository_path(@project) do
    Stats    

= nav_link(controller: [:ci_branch, :deps, :lion]) do
  = link_to project_ci_branch_path(@project, @ref) do
    CI
    %span.badge= @project.ci_branchs.length

= nav_link(controller: :rollout_branches) do
  = link_to project_rollout_branches_path(@project) do
    Packing

/ = nav_link(controller: :ci_branchs) do
/   = link_to beta_logs_project_ci_branch_path(@project,@ref) do
/     Beta_Logs

- if current_controller?(:commits) && current_user.private_token
  %li.pull-right
    = link_to project_commits_path(@project, @ref, {format: :atom, private_token: current_user.private_token}), title: "Feed" do
      %i.icon-rss    
