- unless blob.blank? || project.blank?
  %li
    .file-holder
      .file-title
        = link_to project_blob_path(project, tree_join(blob.ref, blob.filename), :anchor => "L" + blob.startline.to_s) do
          %i.icon-file
          %strong
            = '( ' + project.name_with_namespace + ' ) ' + blob.filename
      .file-content.code.term
        %div{class: user_color_scheme_class}
          = raw blob.colorize( formatter: :gitlab, options: { first_line_number: blob.startline } )

