%br
%h3
  Commits results
  %small (#{@comments.count})
%hr
.search_results
  .row
    .span6
      %table
        %thead
          %tr
            %th Comment
        %tbody
          - @comments.each do |comment|
            %tr
              %td
                = link_to (comment.project.namespace == nil ? '' : (comment.project.namespace.name + "/" ))+comment.project.path+"/commit/"+comment.commit_id do
                  %strong.term= truncate comment.note, length: 40
                  %small.cgray
                    created at
                    = comment.created_at.stamp("Aug 26, 2011")
                %strong.right
                  %span.label= comment.project.name 
          - if @comments.blank?
            %tr
              %td
                %h4.nothing_here_message No Comments
