%fieldset
  %legend
    Search results
    %span.cgray (#{@total_results})

%ul.nav.nav-pills
  %li{class: ("active" if params[:search_code].present?)}
    = link_to search_path(params.merge(search_code: true)) do
      Repository Code
  %li{class: ("active" if params[:search_code].blank?)}
    = link_to search_path(params.merge(search_code: nil)) do
      Everything else

.search_results
  %ul.bordered-list
    - @projects.each do |project|
      %li
        project:
        = link_to project do
          %strong.term= project.name_with_namespace
    - @merge_requests.each do |merge_request|
      %li
        merge request:
        = link_to [merge_request.target_project, merge_request] do
          %span ##{merge_request.id}
          %strong.term
            = truncate merge_request.title, length: 50
        - if merge_request.for_fork?
          %span.light (#{merge_request.source_project.name_with_namespace}:#{merge_request.source_branch} &rarr; #{merge_request.target_project.name_with_namespace}:#{merge_request.target_branch})
        - else
          %span.light (#{merge_request.source_branch} &rarr; #{merge_request.target_branch})
        - if merge_request.closed?
          %span.label Closed

    - @issues.each do |issue|
      %li
        issue:
        = link_to [issue.project, issue] do
          %span ##{issue.id}
          %strong.term
            = truncate issue.title, length: 50
        %span.light (#{issue.project.name_with_namespace})
        - if issue.closed?
          %span.label Closed

    - @wiki_pages.each do |wiki_page|
      %li
        wiki:
        = link_to project_wiki_path(wiki_page.project, wiki_page) do
          %strong.term
            = truncate wiki_page.title, length: 50
        %span.light (#{wiki_page.project.name_with_namespace})

    - @blobs.each do |r|
      - b = blob_grep(r) rescue nil
      = render 'blob', blob: b, project: Project.find(r.project_id) unless b.blank?
 
  = paginate @blobs, theme: 'gitlab' unless @blobs.blank?

:javascript
  $(function() {
    var keywords = "#{escape_javascript(@keyword)}";
    $(".search_results .term").highlight(keywords.split(/\s/), {className: "highlight_word"});
  })
