= form_tag search_path, method: :get, class: 'form-inline' do |f|
  .search-holder#commit-search
    %div
      = label_tag :search_comments do
        Search
      .input
        = search_field_tag :search, params[:search], placeholder: "issue 143", class: "input-xxlarge search-text-input", id: "dashboard_search"

        = hidden_field_tag :project_id, params[:project_id]
        = hidden_field_tag :group_id, params[:group_id]
        = hidden_field_tag :search_code, params[:search_code]
        = submit_tag 'Search', class: "btn btn-primary wide"
    %div
      = label_tag :search_comments do
        Comments
      %div{class: "input prepend-top-10"}
        = search_field_tag :username, params[:username], placeholder: "user name", class: 'search-field'
        = search_field_tag :projectname, params[:projectname], placeholder: "project name", class: 'search-field'
        = search_field_tag :createdat, params[:createdat], placeholder: "after the days", id: "createdat-search", class: 'search-field'
    %div{class: "input prepend-top-10"}
      = render 'filter', f: f

  .results.prepend-top-10
    - if params[:search].present?
      = render 'search/result'

    - if params[:username].present? || params[:projectname].present? || params[:createdat].present?
      = render 'search/commits'  

:javascript
  $(function() {
    $( "#createdat-search" ).datepicker({
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText, inst) { $("#createdat-search").val(dateText) }
    }).datepicker("setDate", $.datepicker.parseDate('yy-mm-dd', $('#createdat-search').val()));
  });
