.btn-toolbar
  .btn-group
    = link_to '日志', "javascript:void(0);", class: "btn btn-small packing-log", "data-link" => log_project_rollout_branch_path(@project, packing)
    - unless packing.note.blank?
      = link_to '说明', "javascript:void(0);", class: "btn btn-small packing-note", "data-link" => note_project_rollout_branch_path(@project, packing)
    - if packing.can_rebuild?
      = link_to '重打', "javascript:void(0);", class: "btn btn-small packing-rebuild", "data-link" => rebuild_project_rollout_branch_path(@project, packing)
    - if packing.can_deploy?
      - if !packing_include_war?(packing) && packing_include_jar?(packing)
        = link_to '发布', new_project_online_job_path(@project), class: "btn btn-small btn-primary"
      - else
        = link_to '发布', ticket_project_rollout_branch_path(@project, packing), method: :post, class: "btn btn-small btn-primary"
    - elsif packing.can_sign?
      = link_to '请允许发布', sign_off_project_rollout_branch_path(@project, packing), class: "btn btn-small btn-create"      

    