%center.light.prepend-top-20.padded
  = link_to '#', class: 'btn js-toggle-visibility-link' do
    Dangerous settings
    %i.icon-chevron-down

.js-toggle-visibility-container.hide
  %button.btn.btn-remove.jdk-change{ "data-link" => change_jdk_version_project_rollout_branches_path(@project), "data-version" => 'JDK1.7.0_72'}
    切换到jdk1.7
  %button.btn.jdk-change{ "data-link" => change_jdk_version_project_rollout_branches_path(@project), "data-version" => 'JDK1.6'}
    切换到jdk1.6