#ClearCacheModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 选择需要清缓存的包
    #bind-status

  .modal-body{style:"overflow-y:visible;height:240px;"}
    %ol{style: "color:red"}
      %li 依次选择需要清缓存的War包.
      %li 点击确定进行ci build.
      %li ci build成功以后，会直接清除所选package的缓存.
    %hr
    %form.form-horizontal{ "data-project" => @project.to_param }
      %fieldset
        .control-group{style:"padding-bottom:8px;"}
          %label.control-label{style:'width:100px;'} 包
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the package to clear cache",options_for_select(ProjectModule.uniq.pluck(:module_name)),multiple: false, data: {placeholder: 'Choose a package......'}, class: 'package_select_for_clear_cache chosen',style:"width:80%",multiple: true
  .modal-footer
    %a.btn{ title: "add package to clear cache", class: "add_prod_package release-btn btn-new","data-link" =>add_rollback_package_project_rollback_packages_path(@project)} 确定
    %a.btn{ class:"btn-danger","href" =>"#", "data-dismiss" => "modal"} 关闭