%h3{style: 'text-align: center;margin-top: 100px; color: #666'}
  = @rollout.errors.messages.values.join(' ')
  = link_to ' Create here.', project_ci_branch_path(@project, @project.default_branch || @project.repository.root_ref)