= form_for [@project, @rollout], url: project_rollout_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|
  -if @rollout.errors.any?
    .alert.alert-error
      %ul
        - @rollout.errors.full_messages.each do |msg|
          %li= msg

  -if (@packing && @packing.errors.any?)
    .alert.alert-error
      %ul
        - @packing.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= @packing.try(:tag)

    .row
      .span6
        -if disable
          .control-group
            = f.label "action", class: "control-label"
            .controls
              =render "action", packing: @packing

        .control-group
          = f.label "签核人", class: "control-label"
          .controls
            - unless @packing.sign_off.blank?
              = @packing.sign_off.to_s     

        .control-group
          = f.label :branch_name, class: "control-label"
          .controls
            = f.select :branch_name, options_for_select(@repository.heads.map(&:name), @packing.try(:branch_name) || @rollout.branch_name), {}, { class: 'chosen span4', disabled: disable , "data-url" => change_branch_project_rollout_branches_path }

        .control-group.packing-tag
          = f.label "new tag", class: "control-label"
          .controls
            = text_field_tag "packing[tag]", @packing.try(:tag), style: "width: 356px", placeholder: "Type the new tag here, ex: v1.0.0", disabled: disable

        .control-group
          = f.label "commit", class: "control-label"
          - commit = @project.repository(@rollout.branch_name).commit( @packing.try(:commit) )
          .controls
            - unless commit.blank?
              .label{ class: "commit_short_id", style: "margin: 8px 0 0; background-color: white" }= link_to commit.short_id(12), project_commit_path(@project, commit)

        .control-group
          = f.label "module name", class: "control-label"
          .controls
            = select :packing, :module_names, options_for_select(@rollout.modules_without_type(['pom']).collect{|m| [m.name_with_version, m.module_name] }, @packing.module_name_list), { include_hidden: false}, multiple: true, data: {placeholder: 'Select wars or jobs'}, class: 'chosen span4', disabled: disable
  
      -if disable
        .span5
          .control-group
            = f.label "创建时间", class: "control-label"
            .controls
              .label{ class: 'label-info', style: "margin: 8px 0 0" }
                = @packing.try(:created_at).try(:localtime).try(:strftime, "%Y-%m-%d %H:%M:%S")

          .control-group
            = f.label "回滚状态", class: "control-label"
            .controls
              .label{ class: "label-#{label_for_rollback_status(@packing)}", style: "margin: 8px 0 0" }= "#{@packing && @packing.rollback_status}"

          .control-group
            = f.label "deploy status", class: "control-label"
            .controls
              .label{ class: "label-#{label_for_status(@packing)}", style: "margin: 8px 0 0" }= "#{@packing && @packing.status_message.to_s.titleize}"

          .control-group
            = f.label "modules", class: "control-label"
            .controls
              - unless @packing.blank? || @packing.war_urls.blank?
                =render "modules", packing: @packing
              - else
                %div{class: "alert alert-info"}
                  The upload task may be failed or didn't complete, check the log via `View log` Button.


    -unless disable
      .control-group
        = f.label "不可回滚", class: "control-label"
        .controls
          = check_box :packing, :cant_rollback, disabled: disable

      .control-group
        = f.label "上线说明", class: "control-label"
        .controls
          = text_area :packing, :note, class: 'span4', rows: 5, disabled: disable

      .form-actions
        = f.submit 'Build the war package', class: "btn btn-primary"
