- if @project.branch_for_sonar.try(:static?)
  = nav_link(controller: :ppe_branches) do
    = link_to project_ppe_branches_path(@project) do
      PPE
  = nav_link(controller: :rollout_branches) do
    = link_to project_rollout_branches_path(@project) do
      Product
  - if @rollout && @rollout.static?
    = nav_link(controller: :caches) do
      = link_to project_cache_path(@project) do
        ClearIpCache
- else
  = nav_link(controller: :rollout_branches) do
    = link_to project_rollout_branches_path(@project) do
      打包

= nav_link(controller: :tasks, html_options: { class: 'pull-right' }) do
  = link_to project_tasks_path(@project) do
    开发任务
- if @rollout && @rollout.static?

- else
  = nav_link(controller: :tickets) do
    = link_to current_project_tickets_path(@project) do
      - if @project.rollout_branch.try(:nodejs?)
        Nodejs上线

      - if @project.rollout_branch.try(:php?) || @project.rollout_branch.try(:cmdb_php?)
        Php上线

      - elsif @project.rollout_branch.try(:zipfile?)
        Zip上线

      - else
        War上线

  = nav_link(controller: :online_jobs) do
    = link_to project_online_jobs_path(@project) do
      Job上线

  = nav_link(controller: :static_tickets, html_options: { class: 'hide' }) do
    = link_to project_static_tickets_path(@project) do
      静态文件发布

  = nav_link(controller: :scripts) do
    = link_to project_scripts_path(@project) do
      上传数据库脚本

  = nav_link(controller: :grouping_strategies) do
    = link_to project_rollback_packages_path(@project) do
      我要回滚

  = nav_link(controller: :rollout_logs) do
    = link_to project_rollout_logs_path(@project) do
      发布日志
      
  / = nav_link(controller: :performance_tests) do 
  /   = link_to project_performance_tests_path(@project) do 
  /     性能测试    
