= link_to *new_packing_link do
  %i.icon-plus
  New Packing

= render "build_status"

- if @packings.blank?
  %center
    %h3
      Click New Packing to create packing.
- else
  .row
    .span6
      %table#packing-list
        %thead
          %tr
            %th{ style:'width: 40%' } Tag
            %th{ style:'width: 40%' } Module Name
            %th{ style:'width: 5%' }
            %th Action
        - @packings.each do |packing|
          = render "packing", packing: packing

      = paginate @packings, theme: "gitlab"

    .span6{ class: "packing-item" }
      = render "item", rollout: nil, packing: nil
      
  =render "log_viewer"

- if @rollout.java?
  =render 'change_jdk_version'



