#packing-log-modal.large-modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 部署日志

  .modal-body
    %div.log-content

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭


#packing-note-modal.large-modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 上线说明

  .modal-body
    %div.log-content

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭    
