.ui-box
  %h5.title
    War / Jar Uploaded (Click to copy link)
    %span.light= "(#{packing.modules.size})"
  %ul.well-list
    %li
      - packing.modules.each do |mod|
        %a.btn.copy-link{ "data-clipboard-text" => "#{mod.url}", "title" => "#{mod.url}", "style" => "margin-bottom: 5px" }
          =mod.name
          %i.icon-copy

%script{"type" => "text/javascript" }
  var clip = new ZeroClipboard($(".copy-link"), { moviePath: "/assets/ZeroClipboard.swf" });
  clip.on('complete', function() { flash_notice(true, "Copied."); });
