%tr{ "data-link" => item_project_rollout_branch_path(@project, packing) }
  %td
    = link_to packing.tag, project_rollout_branch_path(@project, packing)
  %td
    = packing.module_names
  %td
    %i{ class: "#{icon_for_status(packing)}"}
  %td
    =render "action", packing: packing
