.static-index{ "data-link" => project_rollout_branches_path(@project, :format => :js) }
  = render "build_status"

  .row
    .span6
      %table
        %thead
          %tr
            %th Status
            %th Date
            %th Commit
            %th Viewlog
          - @rollout.imf.jenkins_datasource.hashable_builds.values.each do |build|
            - status = static_status(build["number"],@rollout.id)
            - status_text = static_status_text(build["number"],@rollout.id)
            %tr
              %td
                %span{ class: color_status(status || build['result'])}
                  = status_text ||build['result'].try(:downcase) || 'running'
              %td= build['time']
              %td= @revisions ? @rollout.imf.jenkins_datasource.get_build_revision(build['number']) : ""
              %td
                = link_to 'Viewlog', "#{build['url']}console", class: 'btn btn-small'

      - if !@rollout.job_running? && @rollout.can_static_rollback? && !@rollout.static_rollout_history.blank?
        %h4 Version History
        %table
          %thread
            %tr
              %td 日期
              %td From
              %td To
            - @rollout.static_rollout_history.each do |v|  
              %tr
                %td= v['Date']
                %td= v['FromVersion']
                %td= v['ToVersion']          

    .span5
      = render 'projects/rollout_branches/static/form', disable: false
      = render 'projects/rollout_branches/static/compare', disable: false
      = render 'projects/rollout_branches/static/cache', disable: false
      = render 'projects/rollout_branches/static/nopublish', disable: false
      = render 'projects/rollout_branches/static/rollback', disable: false unless @appname.blank?
= render partial: 'choose_war_to_clear_cache'