= render "head"

%div.packing-wrap
  = render "build_status"
  = render partial: "item", locals: { rollout: @rollout, packing: @packing }

= render partial: "log_viewer"

- if @packing.processing?
  :javascript
    (new Packing("#{item_project_rollout_branch_path(@project, @packing)}")).refresh();