= form_for [@project, @task] do |f|
  -if @task.errors.any?
    .alert.alert-error
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .row
    .span12
      .control-group
        = f.label :name do
          Subject:
        .controls
          = f.text_field :subject, class: "input-xxlarge", placeholder: "Enter the subject"

      .control-group
        = f.label :Branch do
          Branch:
        .controls
          = f.select :branch_name,  options_for_select(@project.dev_branches, @task.branch_name), {:include_blank => '在哪个分支开发'}, {class: ' chosen'}

      .control-group
        .left
          = f.label :assignee do
            %i.icon-user
            Assign To:
          .controls
            = f.select :assignee_id, @project.users.map { |u| [u.username, u.id] }, { include_blank: true }, { class: 'chosen', style: "width: 290px" }
        .left
          = label_tag :released_at do
            %i.icon-time
            Release Date:
          .controls
            = f.text_field :released_at, class: "input-xlarge datepicker-start-from-today", placeholder: "Pick a date"

      .control-group
        = f.label "modules" do
          Modules: [project][module]
        .controls
          = select_tag :modules, options_for_select(compose_module_options(@task), exist_packages(@task) || params[:modules]), multiple: true, data: {placeholder: 'Select wars'}, class: 'chosen', style: "width: 550px"

      .control-group
        = f.label :description do
          Description:
        .controls
          = f.text_area :description, class: "input-xxlarge", rows: 3, cols: 40

    .span5

  .form-actions
    = f.submit 'Submit task', class: "btn btn-create"
