.title
  .task-filters
    %span Filter by
    .dropdown.inline.prepend-left-10
      %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
        %i.icon-user
        %span.light assignee:
        - if @assignee.present?
          %strong= @assignee.name
        - else
          Any
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to project_tasks_filter_path(assignee_id: nil) do
            Any
        - @project.team.members.sort_by(&:name).each do |user|
          %li
            = link_to project_tasks_filter_path(assignee_id: user.id) do
              = image_tag gravatar_icon(user.email), class: "avatar s16", alt: ''
              = user.name

    .inline
      = form_tag project_tasks_filter_path, method: 'get', id: "tasks-index-form" do
        %i.icon-time
        =text_field_tag 'released_at', params[:released_at], {class: "datepicker date-search span2", placeholder: "Pick release date"}
