%tr
  %td{style: "width: 280px"}
    %strong= package.name
  %td{style: "width: 500px"}
    %cite.cgray
      belongs to
      = link_to package.project.name_with_namespace, project_path(package.project)
  %td
    %cite.cgray
      -if package.ticket.present?
        associate to
        = link_to "#ticket: #{package.ticket.id}", project_ticket_path(package.project, package.ticket)
      -else
        No ticket associated
