%li.task{class: cycle("odd", "even")}
  .task-subject.clearfix
    = link_to truncate(task.subject, length: 80), project_task_path(project, task), class: "row_title"
    %small.pull-right
      = task.status_name.to_s.titleize
  .task-desc.clearfix
    = task.package_name_list.join(", ")
    %small.pull-right
      = truncate(task.description, length: 80)
  .task-info.clearfix
    %strong{style: "color: black"}
      -if task.released_at
        release at #{task.released_at.stamp("Aug 21, 2011")}
      -else
        released date not set
    .pull-right
      create by #{link_to_member(nil, task.creator)}, assign to #{link_to_member(nil, task.assignee)}
