#task_config.modal.large-modal.hide.fade
  .modal-header
    %h4 Config task    
  .modal-body
    = render partial: 'projects/tasks/configs/form', locals: {project: @project, task: @task||Task.new, config: @config||TaskConfig.new}
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} Cancel
    %a.btn.btn-info#save Save