%fieldset
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:scope].blank?)}
      = link_to project_tasks_filter_path(scope: nil) do
        Everyone's
    %li{class: ("active" if params[:scope] == 'assigned-to-me')}
      = link_to project_tasks_filter_path(scope: 'assigned-to-me') do
        Assigned to me
    %li{class: ("active" if params[:scope] == 'created-by-me')}
      = link_to project_tasks_filter_path(scope: 'created-by-me') do
        Created by me

  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:status].blank?)}
      = link_to project_tasks_filter_path(status: nil) do
        All
    - Task.state_machines[:status].states.each do |state|
      %li{class: ("active" if params[:status].to_i == state.value)}
        = link_to project_tasks_filter_path(status: state.value) do
          = state.name.to_s.titleize

%fieldset
  - if %w(status scope assignee_id released_at).select { |k| params[k].present? }.any?
    = link_to project_tasks_path(@project), class: 'cgray pull-right' do
      %i.icon-remove
      %strong Clear filter
