#task_checker.modal.large-modal.hide.fade{ style: "width:880px" }
  .modal-header
    %h4 Check Item   
  .modal-body{ style: "height:240px" }
    = render partial: 'projects/checkers/form', locals: {project: @project, task: @task||Task.new, checker: @checker||Checker.new}
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} Cancel
    %a.btn.btn-info#checker_save Save