= render "projects/rollout_branches/head"

= link_to new_project_task_path(@project), class: "pull-right btn btn-new", title: "New Dev Task" do
  %i.icon-plus
  New Dev Task
%h3.page-title
  Dev Tasks
  %span="(#{@tasks.size})"

.row
  .span3
    = render 'task_filter'
  .span9
    .ui-box
      =render "head_filter"
      %ul.well-list.task-list
        - @tasks.each do |task|
          = render partial: "task", locals: {task: task, project: @project}
        - if @tasks.blank?
          %li
            %h4.nothing_here_message No tasks to show
    - if @tasks.present?
      .pull-right
        %span.cgray.pull-right #{@tasks.total_count} tasks for this filter

      = paginate @tasks, theme: "gitlab"
