= render "projects/rollout_branches/head"

%h3.page-title
  = "Dev Task ##{@task.id}:"

.back-link
  .btn-group
    = link_to project_tasks_path(@project), class: "btn" do
      %i.icon-long-arrow-left
      To Dev Tasks
    - if @task.can_edit?(current_user)
      = link_to edit_project_task_path(@project, @task), class: "btn" do
        %i.icon-edit
        Edit
    - if @task.can_destroy?(current_user)
      = link_to project_task_path(@project, @task), class: "btn btn-danger", method: "delete", confirm: "Are you sure?" do
        %i.icon-remove
        Delete


  - if @task.can_edit?(current_user)
    = form_tag update_status_project_task_path(@project, @task), id: "update-task-status-form", method: :put, style: "display: inline" do |f|
      = hidden_field_tag 'to'
      .btn-group.pull-right
        - @task.status_transitions.each do |transition|
          = button_tag(type: 'button', class: "btn", "data-event" => transition.event) do
            = caption_for_transition(transition)

.ui-box.ui-box-show
  .ui-box-head
    %h4.box-title.clearfix
      = @task.subject
      .success.status_info
        = @task.status_name.to_s.titleize
    %h6.box-desc
      = @task.description
  .ui-box-body
    %div
      %cite.cgray
        %strong{style: "color: black"}
          -if @task.released_at
            Released at #{@task.released_at.stamp("Aug 21, 2011")}
          -else
            Released date not set
        , created at #{@task.created_at.stamp("Aug 21, 2011")} by #{link_to_member(@project, @task.creator)}
        , currently assigned to #{link_to_member(@project, @task.assignee)}
        -if @task.branch_name
          .pull-right
            Developed on #{@task.branch_name} branch
        -else
          .pull-right
            Developing branch not set

.ui-box
  .title
    %i.icon-list
    Modules(#{@task.packages.count})
  %table.packages
    - @task.packages.each do |package|
      = render "projects/tasks/package", package: package
.pull-right
  .control-group
    .control
      %button.btn{ "data-toggle" => "modal", "href" => '#task_config', "class" => "modal.hide.fade", "data-keyboard" => "false" }
        %i.icon-edit
        New Config
      %button.btn#new_checker{ "data-toggle" => "modal", "href" => '#task_checker', "class" => "modal.hide.fade", "data-keyboard" => "false" }
        %i.icon-edit
        New Check

= render 'task_config'
= render 'task_checker'

= render 'config_list'
= render 'checker_list'