%ul
  = nav_link(path: 'dashboard#show', html_options: {class: 'home'}) do
    = link_to root_path, title: "Home" do
      %i.icon-home

  = nav_link(path: 'dashboard#projects') do
    = link_to projects_dashboard_path do
      Projects  
  = nav_link(path: 'dashboard#issues') do
    = link_to classifications_path(classification_id: Classification.first.try(:id)) do
      Issues
      %span.count= current_user.assigned_issues.opened.count
  = nav_link(path: 'dashboard#merge_requests') do
    = link_to merge_requests_dashboard_path do
      Merge Requests
      %span.count= current_user.cared_merge_requests.opened.count
  = nav_link(path:'dashboard#sonar') do
    = link_to sonar_dashboard_path do 
      Sonar 
  / = nav_link(path:'dashboard#checkers') do
  /   = link_to checkers_dashboard_path(current_user: 'true') do 
  /     Rollout Checkers
  /     %span.count= current_user.cared_checkers.unchecked.after_today.count
  = nav_link(path:'dashboard#grouping_strategies') do
    = link_to grouping_strategies_dashboard_path do 
      Rollouts
  = nav_link(controller: :help) do
    = link_to "Help", help_path 
  / = nav_link do
  /   = link_to "Ci Help", "https://docs.google.com/a/dianping.com/document/d/1-P31PnCkwcafCRCPQ6AQUpuElw1cPmY4L0vdqxapDeI/edit", :target => "_blank"

