%ul
  = nav_link(path: 'groups#show', html_options: {class: 'home'}) do
    = link_to group_path(@group), title: "Home" do
      %i.icon-home
  = nav_link(path: 'groups#issues') do
    = link_to classifications_path(classification_id: @group.classifications.try(:first).try(:id), group_id: @group.id) do
      Issues
      %span.count= Issue.opened.unassigned.of_group(@group).count
  = nav_link(path: 'groups#merge_requests') do
    = link_to merge_requests_group_path(@group) do
      Merge Requests
      %span.count= current_user.cared_merge_requests.opened.of_group(@group).count
  = nav_link(path: 'groups#members') do
    = link_to "Members", members_group_path(@group)
  / = nav_link(path:'dashboard#checkers') do
  /   = link_to checkers_dashboard_path(namespace_id: @group.id) do 
  /     Rollout Checkers
  /     %span.count= Checker.of_group(@group).after_today.unchecked.count  
  = nav_link(path: 'groups#tickets') do
    = link_to "Rollouts", tickets_group_path(@group)
  = nav_link(path: 'groups#rollout_logs') do
    = link_to "Rollout Logs", rollout_logs_group_path(@group)

  - if can?(current_user, :view_databaseinfo_code, @group)
    = nav_link(path: 'groups#databaseinfo') do
      = link_to "涉密代码", databaseinfo_group_path(@group)  

  - if can?(current_user, :manage_group, @group)
    = nav_link(path: 'groups#edit') do
      = link_to edit_group_path(@group), class: "tab " do
        Settings