%ul
  = nav_link(path: 'projects#show', html_options: {class: "home"}) do
    = link_to project_path(@project), title: "Project" do
      %i.icon-home

  - if project_nav_tab? :files
    = nav_link(controller: %w(tree blob blame edit_tree)) do
      = link_to 'Files', project_tree_path(@project, @ref || @repository.root_ref)

  - if project_nav_tab? :commits
    = nav_link(controller: %w(commit commits compare repositories protected_branches tags branches)) do
      = link_to "Commits", project_commits_path(@project, @ref || @repository.root_ref)

  - if project_nav_tab? :network
    = nav_link(controller: %w(network)) do
      = link_to "Network", project_network_path(@project, @ref || @repository.root_ref)

  - if project_nav_tab? :graphs
    = nav_link(controller: %w(graphs)) do
      = link_to "Graphs", project_graph_path(@project, @ref || @repository.root_ref)

  - if project_nav_tab? :issues
    = nav_link(controller: %w(issues milestones labels)) do
      = link_to url_for_project_issues do
        Issues
        - if @project.used_default_issues_tracker?
          %span.count.issue_counter= @project.issues.opened.count

  - if project_nav_tab? :merge_requests
    = nav_link(controller: :merge_requests) do
      = link_to project_merge_requests_path(@project) do
        Merge
        %span.count.merge_counter= @project.merge_requests.opened.count

    = nav_link(controller: :ci_branch) do
      = link_to project_ci_branch_path(@project, @ref || @repository.root_ref) do
        CI
        %span.count.merge_counter= @project.ci_branchs.length

    = nav_link(controller: :virtual_machines) do
      = link_to project_virtual_machines_path(@project) do
        Machines
        %span.count.merge_counter= @project.machines.where(:action_type => ['bind', 'apply']).length

    - if @project.ppe_branch.present?    
      = nav_link(controller: :ppe_branches) do
        = link_to "Rollout", project_ppe_branches_path(@project)
    - else
      = nav_link(controller: :rollout_branches) do
        = link_to "Rollout", project_rollout_branches_path(@project)

  - if project_nav_tab? :wiki
    = nav_link(controller: :wikis) do
      = link_to 'Wiki', project_wiki_path(@project, :home)

  - if project_nav_tab? :wall
    = nav_link(controller: :walls) do
      = link_to 'Wall', project_wall_path(@project)

  - if project_nav_tab? :snippets
    = nav_link(controller: :snippets) do
      = link_to 'Snippets', project_snippets_path(@project)

  - if project_nav_tab? :settings
    = nav_link(html_options: {class: "#{project_tab_class}"}) do
      = link_to edit_project_path(@project), class: "stat-tab tab " do
        Settings
