.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 paas 日志

.modal-body
  %pre
    = Gitlab::Logger.read_latest_for(@paas_rollout.logger_file).join("\n")
  %pre  
    = @paas_rollout.paas_log.to_s


.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 取消