- prs.each do |pr|
  - promt_pr = collect_pr_tips(pr)
  %tr{ class: "grouping-item-info", "data-group-id" => pr.id }
    %td
      %a.group-hostname{ "data-content" => "#{pr.hostname}", "data-placement" => 'top', "data-trigger" => 'hover' } 
        #{pr.name}
    %td
    - if !pr.can_do? && pr.has_version? && pr.status_name != :not_deploy && pr.in_progress?
      %td      
        %i.icon-spinner.icon-spin.icon-large{style: "color: red"}
        = pr.status_name.to_s.titleize
    - else
      - if pr.status_name.to_s.include?("success")
        %td{style:"color:#1A1"} #{pr.status_name.to_s.titleize}
      - elsif pr.status_name.to_s.include?("fail")
        %td{style:"color:red"} #{pr.status_name.to_s.titleize}
      - else
        %td #{pr.status_name.to_s.titleize}
    %td
      - if pr.can_deploy?
        - if pr.display_confirm_or_not_when_deploy?
          %button.btn{check_deploy(pr.id)}
            发布
        - else    
          %button.btn.btn-primary.paas-deploy{ 'data-link' => deploy_project_paas_rollout_path(@project, pr) } 发布
      - if pr.can_reset?
        %button.btn{ 'data-link' => reset_project_paas_rollout_path(@project, pr) ,class: "release-reset "} 重置
      - if !promt_pr.nil? && !pr.can_deploy?
        %i.icon-question-sign{ class: "grouping-strategy-operation-tips",title: "提示","data-content" => "#{promt_pr}"}
          %div{class:"grouping-strategy-operation-tips-content",style: "display:none"}
            = promt_pr    
    %td
      - unless pr.paas_log.nil?
        %a.group-log{ 'data-link' => log_project_paas_rollout_path(@project, pr) }
          %i.icon-film
      - else
        %i.icon-film{ style: 'color:grey', :target => "_blank", :title=>'暂无详情'}
        


