<% raise 'DB_PASSWORD is required.' if ENV['DB_PASSWORD'] == nil || ENV['DB_PASSWORD'].empty? %>
production:
  adapter: mysql2
  encoding: utf8
  database: gitlabhq_production
  reconnect: false
  pool: 25
  <%= "host: '#{ENV['DB_HOST']}'" if ENV['DB_HOST'] %>
  username: gitlab
  password: "<%= ENV['DB_PASSWORD'] %>"
  host: "192.168.211.19"
