%span5
  %h3.page-title
  %legend= "操作日志"
- if @group.id != 239
  %div{class:"rollback_package_div",style:"display:block;width:100%;float:left;"}
    - gss = gss || nil
    %tr
      %td 项目
      %td
        = select_tag "Select the project",options_for_select(compose_project_options(@group)), multiple: false, data: {placeholder: 'Choose a ticket......'}, class: 'project_select chosen',style: "width : 35%"
      %td 包
      %td
        = select_tag "Select the package",[],multiple: false, data: {placeholder: 'Choose a pacakge......'}, class: 'logs_package_select chosen',url: packages_group_path(@group),style: "width: 25%"
      %td 分组
      %td
        = select_tag "Select the group", [], multiple: false, data: {placeholder: 'Choose a group......'}, class: 'logs_group_select chosen', style: "width: 25%",url: groups_for_package_group_path(@group)

      %td
        %button.btn{ title: "package_logs", class: "package_logs","data-link" =>logs_group_path(@group,{group_id: @group.id})}
          查询
- else
  %div{class:"rollback_package_div",style:"display:block;width:100%;float:left;margin-left:300px;"}
    %tr
      %td{style:"font-size:14px;"} 请选择项目: &nbsp&nbsp
      %td 
        = select_tag "Select static the project",options_for_select(compose_project_options(@group)), multiple: false, data: {placeholder: 'Choose a ticket......'}, class: 'static_project_select chosen',style:"width:60%",style:"margin-left:300px;width:360px;"
      %td
        %button.btn{title: "package_logs", style:"margin-left:3px;",class: "static_package_logs  badge badge-success","data-link" =>static_logs_group_path(@group,{group_id: @group.id})}
          查询
            