= form_tag rollout_logs_group_path(@group), method: 'get', class: "form-inline" do
  .control-group
    = label_tag 'message'
    .controls
      = text_field_tag 'message', params[:message]
      = submit_tag "Search", class: "btn btn-primary wide"
