%body{style:"width:100%;height:min-height:750px;font-size:14px;"}
  %div{class:"static_package_logs_body"}
    .body_bg{style:"width:100%;margin:0 auto;background:#fff;border-radius:5px;padding:5px 10px;margin-bottom:40px;"}
    - @logs ||= logs
    - if !@logs.blank?
      - i = 0
      %section.main{style:"min-height:540px;margin-top:20px;width:1300px;position: relative;margin-bottom:20px;"}
        .vertical-line{style:"margin-bottom-top:10px;position:absolute; left:48%; height:100%; width:6px; background-color:#CCCCCC;"}
        - @logs.each do |log|
          - if i%2 == 0
            %ul.time-line{style:"width:1060px; margin:0px auto; overflow:hidden; height:auto; position:relative;"}
              %li.right{style:"width:565px; height:auto; overflow:hidden; margin-top:16px;float:right;"}
                .dot{style:"width:8px; height:8px; background-color:#709DFF; border-radius:8px; border:rgba(220,220,220,1) 4px solid;margin-left:5px;"}
                .time{style:"width:80px; padding:0px;margin-left:18px;margin-top:-20px;height:70px;"}
                  %p{class:"badge badge-warning",style:"margin-left:0px;"} #{log.log_at}
                  %p{class:"badge badge-success",style:"margin-left:0px;"} #{log.author}
                %p{style:"width:500px;margin-left:20px;background-color:#F2F3EB;border-radius:9px;"} #{log.message}

          - else
            %ul.time-line{style:"width:1060px; margin:0px auto; overflow:hidden; height:auto; position:relative;"}
              %li.left{style:"width:575px; height:auto; overflow:hidden; margin-top:16px;float:left;text-align:right;"}
                .dot{style:"width:8px; height:8px; background-color:#709DFF; border-radius:8px; border:rgba(220,220,220,1) 4px solid;float:right; margin-right:60px;"}
                .time{style:"width:80px; padding:0px;height:70px;"}
                  %p{class:"badge badge-warning",style:"margin-left:365px;"} #{log_info[:log_at]}
                  %p{class:"badge badge-success",style:"margin-left:300px;"} #{log_info[:log_author]}
                %p{style:"width:500px;margin-left:0px;background-color:#F2F3EB;border-radius:9px;"} #{log_info[:log_message]}
          - i = i+1
    - else
      %p{class:"badge badge-danger",style:"margin-top:100px;margin-left:400px;font-size:16px;"} 未选择项目或者所选项目没有静态发布的记录...
