=render "projects/tickets/ticket_filter"

%fieldset
  %legend Projects:
  %ul.nav.nav-pills.nav-stacked
    - @projects.each do |project|
      %li{class: ("active" if params[:project_id] == project.id.to_s)}
        = link_to tickets_filter_path(project_id: project.id) do
          = project.name_with_namespace
    - if @projects.blank?
      %p.nothing_here_message This group has no projects yet

=render "projects/tickets/clear_filter", extra: "project_id"
