- if @blobs.present?
  %fieldset
    %legend
      涉密代码

  = form_tag databaseinfo_group_path, method: :get, class: 'form-inline' do |f|    
    .results.prepend-top-10    
      - @blobs.each do |r|
        - b = db_info_blob_grep(r) rescue nil
        = render partial: 'search/blob', locals: { blob: b, project: Project.find(r.project_id)} unless b.blank?

    = paginate @blobs, theme: 'gitlab' unless @blobs.blank?  
- else
  %h3{style: 'text-align: center;margin-top: 100px; color: #666'}
    未发现任何涉密代码