%h3.page-title
  = "Issues assigned to me (#{@issues.total_count})"
  - if @group.issue_tracker.present?
    = link_to new_project_issue_path(@group.issue_tracker), class: 'btn btn-new pull-right' do 
      %i.icon-plus
      New issue

%p.light
  Only issues from
  %strong #{@group.name}
  group are listed here. To see all issues you should visit #{ link_to 'classification', classifications_path(classification_id: @group.classifications.try(:first).try(:id), group_id: @group.id)} page.


%hr

.row
  .span3
    = render 'shared/filter', entity: 'issue'
  .span9
    = render 'shared/issues'
