%h3.page-title
  Tickets
  %span="(#{@tickets.size})"

.row
  .span3
    = render 'ticket_filter'
  .span9
    .ui-box
      =render "projects/tickets/head_filter"
      %ul.well-list.ticket-list
        - @tickets.each do |ticket|
          = render partial: "projects/tickets/ticket", locals: {ticket: ticket, project: ticket.project}
        - if @tickets.blank?
          %li
            %h4.nothing_here_message No tickets to show
    - if @tickets.present?
      .pull-right
        %span.cgray.pull-right #{@tickets.total_count} tickets for this filter

      = paginate @tickets, theme: "gitlab"
