- disable = disable || false
- ptm_id = performance_test_module.nil? ? nil : performance_test_module.id
- pt_id = performance_test.nil? ? nil : performance_test_module.id
- selected = selected_value_for_all_select(ptm_id)
.span5{class: "config_params_span", style:"display:block;",performance_test_module_id: ptm_id, performance_test_id: pt_id}
  %div{class: "alert alert-info"}
    配置参数

  .control-group
    %label.control-label.pull-left.performance-test-label  测试名称
    .controls
      = text_field_tag :title, params[:title] || selected[:title],{class: "span4",style: "width: 200px;",disabled: disable}

  .control-group
    %label.control-label.pull-left.performance-test-label 测试目的
    .controls
      = text_field_tag :target, params[:target] || selected[:target], {class: "span4",style: "width: 200px;",disabled: disable}
        
  .control-group
    %label.control-label.pull-left.performance-test-label 并发
    .controls
      = text_field_tag :concurrent, params[:concurrent] || selected[:concurrent], {class: "span4",style: "width: 200px;",disabled: disable}

  .control-group
    %label.control-label.pull-left.performance-test-label 持续时间(分钟)
    .controls
      = text_field_tag :duration, params[:duration] || selected[:duration], {class: "span4",style: "width: 200px;",disabled: disable}

  .control-group
    %label.control-label.pull-left.performance-test-labe 上传脚本
    .controls
      = file_field_tag :files, { multiple: true, disabled: disable}

  .control-group
    %label.control-label.pull-left.performance-test-label 域名
    .controls
      = text_field_tag :domain_name, params[:domain_name] || selected[:domain_name], {class: "span4 ",style: "width: 200px;",disabled: disable}

  .control-group.hide
    %label.control-label.pull-left.performance-test-label test_id
    .controls
      - text_value = performance_test.nil? ? nil : performance_test.id
      = text_field_tag :performance_test_id, params[:performance_test_id] || text_value, {class: "span4 ",style: "width: 200px;",disabled: disable}
    

  .control-group
    = link_to '保存',add_test_sample_project_performance_tests_path(@project), class: "btn btn-primary create_performance_test_module",:remote => true,url: add_test_sample_project_performance_tests_path(@project)
  
    / %button.btn.btn-primary.edit_performance_test_module{ "data-link" =>edit_test_sample_project_performance_tests_path(@project)}
    /   编辑

    / %button.btn.hide-performance-test-config{name:"hide_performance_test_config"}
    /   隐藏
