- disable = disable || false
- text = text || "提交测试"

= form_for PerformanceTest.new, :url => { :action => "create" }, method: :post, html: { class: "performance-test-form"} do |f|
  .row{class: "performance_test_module_form"}
    %div
    .span6.performance-test-package-config{style: "width:650px;"}
      %div{class: "alert alert-info"}
        测试项目
        %ul
          %li 可以依次添加依赖的包进行测试
          %li 添加完毕提交测试即可

      %legend
      %table{ id: "performance-test-module-list"}
        - performance_test_modules = performance_test_modules rescue  nil
        %tr
          %th 应用名
          %th 分支名
          %th 服务类型
          %th Cpu(个)
          %th Memory
        - if !performance_test_modules.blank?
          - performance_test_modules.each do |performance_test_module|
            %tr{"data-link" => detail_config_project_performance_tests_path(@project),performance_test_module_id: performance_test_module.id}
              %td
                - appname = performance_test_module.nil? ? []: performance_test_module.appname
                = select_tag :appname, options_for_select(own_compose_module_options_for_performance_test(@project.id),appname), {class: 'chosen span4 performance_test_appname', style: "width: 130px"}
              %td
                - tag = performance_test_module.nil? ? []: performance_test_module.package_url
                - options = !performance_test_module.nil? && !performance_test_module.appname.nil?  ? special_tags_for_appname(@project.id,performance_test_module.id) : []
                = select_tag :tag,options_for_select(options),{class: "chosen span4 performance_test_tag_#{performance_test_module.id} performance_test_tag",style: "width: 120px", placeholder: "Select ", url: tags_for_module_name_project_performance_tests_path(@project)}
              %td
                - app_type = performance_test_module.nil? ? []: performance_test_module.app_type
                = select_tag :app_type,options_for_select(["web","service"],app_type ),{class: "chosen span4 performance_test_package_type",style: "width:40px;", placeholder: "Select "}

              %td          
                = select_tag :cpu,options_for_select([2,4],performance_test_module.cpu),{class: 'chosen span4 performance_test_cpu',style: "width:40px;", disabled: disable}

              %td
                = select_tag :memory,options_for_select(["2048000000(2g)","4096000000(4g)"],memory_for_performance_test(performance_test_module.id)),{class: 'chosen span4 performance_test_memory',style: "width:60px;",  disabled: disable}  

        - else
          %tr{"data-link" => detail_config_project_performance_tests_path(@project)}
            %td
              - appname = @performance_test.nil? ? []: @performance_test_module.appname
              = select_tag :appname, options_for_select(own_compose_module_options_for_performance_test(@project.id),appname), {class: 'chosen span4 performance_test_appname', disabled: disable, style: "width: 130px"}
            %td
              - tag = @performance_test_module.nil? ? []: @performance_test_module.tag
              = select_tag :tag,[[],tag],{class: "chosen span4 performance_test_tag",style: "width: 120px", placeholder: "Select ", disabled: disable, url: tags_for_module_name_project_performance_tests_path(@project)}
            %td
              - app_type = @performance_test_module.nil? ? []: @performance_test_module.app_type
              = select_tag :app_type,options_for_select(["web","service"],app_type ),{class: "chosen span4 performance_test_package_type",style: "width:40px;", placeholder: "Select ", disabled: disable}

            %td
              - cpu = @performance_test_module.nil? ? [] : @performance_test_module.cpu
              = select_tag :cpu,options_for_select([2,4], cpu),{class: 'chosen performance_test_cpu',style:"width:40px;", disabled: disable}

            %td
              - memory = @performance_test_module.nil? ? [] : memory_for_performance_test(@performance_test_module.id)
              = select_tag :memory,options_for_select(["2048000000(2g)","4096000000(4g)"],memory),{class: 'chosen span4 performance_test_memory',style:"width:60px;", disabled: disable}

      %div
        = link_to '添加依赖测试',add_dependency_performance_test_module_project_performance_tests_path(@project), class: "btn btn-primary add_dependency_performance_test_module_link",url:add_dependency_performance_test_module_project_performance_tests_path(@project),:remote => true
          
        %button.btn.btn-primary.btn-create{"data-link" => organize_network_project_performance_tests_path(@project),disabled:disable}
          #{text}


    .pull-right{style: "padding-right:100px;"}
      .span5{style: "width:390px;"}
        .loading.hide
        .performance-test-item
          %legend= "detail参数设置"
          %h4 点击左边的测试用例,配置测试参数...

