%table{ id: "performance-test-list",style:"width:570px;"}
  - performance_tests = performance_tests rescue  nil
  %tr
    %th 应用名
    %th 分支名
    %th 服务类型
  - if !performance_tests.blank?
    - performance_tests.each do |performance_test|
      %tr{"data-link" => detail_config_project_performance_tests_path(@project)}
        %td
          - appname = performance_test.nil? ? []: performance_test.appname
          = select_tag :appname, options_for_select(own_compose_module_options(@project.id),appname), {class: 'chosen span4 performance_test_appname', style: "width: 170px"}
        %td
          - tag = performance_test.nil? ? []: performance_test.tag
          = select_tag :tag,[[],tag],{class: "chosen span4 performance_test_tag",style: "width: 170px", placeholder: "Select ", url: tags_for_module_name_project_performance_tests_path(@project)}
        %td
          - package_type = performance_test.nil? ? []: performance_test.package_type
          = select_tag :package_type,options_for_select(["web","service"],package_type ),{class: "chosen span4 performance_test_package_type",style: "width:120px;", placeholder: "Select "}
  - else
    %tr{"data-link" => detail_config_project_performance_tests_path(@project)}
      %td
        - appname = @performance_test.nil? ? []: @performance_test.appname
        = select_tag :appname, options_for_select(own_compose_module_options(@project.id),appname), {class: 'chosen span4 performance_test_appname', disabled: disable, style: "width: 170px"}
      %td
        - tag = @performance_test.nil? ? []: @performance_test.tag
        = select_tag :tag,[[],tag],{class: "chosen span4 performance_test_tag",style: "width: 170px", placeholder: "Select ", disabled: disable, url: tags_for_module_name_project_performance_tests_path(@project)}
      %td
        - package_type = @performance_test.nil? ? []: @performance_test.package_type
        = select_tag :package_type,options_for_select(["web","service"],package_type ),{class: "chosen span4 performance_test_package_type",style: "width:120px;", placeholder: "Select ", disabled: disable}