= link_to *new_performance_test_link do
  %i.icon-plus
  New PerformanceTest
- if @performance_tests.blank? 
  %center
    %h3
      Click New PerformanceTest to create PerformanceTest.
- else
  .row
    .span10
      %table#performance-tests-list
        %thead
          %tr
            %th{style:"width:20%;"} 测试名称
            %th{style:"width:20%;"} 测试目的
            %th{style:"width:15%;"} 测试内容
            %th{style:"width:10%;"} 测试日期
            %th{style:"width:15%;"} 测试机器
            %th{style:"width:10%;"} 测试状态
            %th{style:"width:10%;"} 报告
        - @performance_tests.each do |performance_test|
          = render "performance_test", performance_test: performance_test