%tr{ "data-link" => item_project_performance_test_path(@project, performance_test) }
  %td
    %div{style: "word-break:break-all;word-wrap:break-word;"}
      = performance_test.title

  %td
    %div{style: "word-break:break-all;word-wrap:break-word;"}
      = performance_test.target

  %td
    %div{style: "word-break:break-all;word-wrap:break-word;"}
      - apps = performance_test_apps(performance_test.id)
      - first_app =  apps.split(",")[0]
      %a.performance_test_machines{ :"data-content" => apps,:title=>"",
	                              :"data-placement" => 'top',
                              :"data-trigger" => 'hover' } #{first_app}

  %td
    = DateTime.now.strftime("%Y-%m-%d")

  %td
    - machines = performance_test_machine(performance_test)
    = machines

  %td
    = performance_test.status

  %td
    %div{style: "word-break:break-all;word-wrap:break-word;"}
      - if !performance_test.test_log_url.nil?
        = link_to "查看log",performance_test.test_log_url, class: "btn btn-small",target: "_blank"
      - else

