= form_for [@project, @rollout], url: project_rollout_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|
  -if @rollout.errors.any?
    .alert.alert-error
      %ul
        - @rollout.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= @project.name_with_namespace
    .row
      .span6
        .control-group
          = f.label :branch_name, class: "control-label"
          .controls
            = f.select :branch_name, options_for_select(@repository.heads.map(&:name), @packing.try(:branch_name) || @rollout.branch_name), {}, { class: 'chosen span4 static_branch_name', disabled: disable }

        .control-group
          = f.label "action", class: "control-label"
          .controls
            .btn-toolbar
              .btn-group
                - if @rollout.job_running?
                  = link_to 'viewlog', @rollout.imf.build_log_link, class: 'btn btn-small'
                - else
                  %a.btn{class:"add_package_to_clear_cache",:id =>@rollout.id}
                    release

