= form_for 'shrinkwrap', url: project_rollout_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|

  %fieldset
    %legend clear shrinkwrap
    .row
      .span6
        .control-group
          = f.label "action", class: "control-label"
          .controls
            .btn-toolbar
              .btn-group
                = link_to 'clear shrinkwrap', "javascript:void(0);", "data-link" => static_shrinkwrap_build_project_rollout_branch_path(@project, @rollout), class: 'btn btn-small clear-cache'
