#staticRollbackModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h4 rollback
    #bind-status

  .modal-body
    %h4.static-rollback-info{ style: "color:red" }
      
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
    %a.btn.btn-danger#static-rollback-confirm{ "data-link" => static_rollback_project_rollout_branches_path(@project) } 回滚