= form_for 'rollback', url: project_rollout_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|
  %fieldset
    %legend= "rollback (#{@appname})"
    .row
      .span6
        .control-group
          = f.label :from_version, class: "control-label"
          .controls
            = f.select :from, options_for_select(@rollout.static_versions.reverse), {}, { class: 'chosen span4 static_rollback_from', disabled: disable }

        .control-group
          = f.label :to_version, class: "control-label"
          .controls
            = f.select :to, options_for_select(@rollout.static_versions.reverse), {}, { class: 'chosen span4 static_rollback_to', disabled: disable }
                
        .control-group
          - if !@rollout.job_running? && @rollout.can_static_rollback?
            = f.label "action", class: "control-label"
            .controls
              .btn-toolbar
                .btn-group
                  %a.btn.btn-small.btn-danger{ class: "static_rollback", rollout_id: @rollout.id, disabled: disable }
                    rollback



- if !@rollout.job_running? && @rollout.can_static_rollback? 
  .rollback_modal
    = render 'projects/rollout_branches/static/rollback_modal'                     

