.ui-box
  .title
    .task-filters
      %span Filter by
      .dropdown.inline.prepend-left-10
        %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
          %i.icon-folder-close
          %span.light group:
          - if @group.present?
            %strong= @group.name
          - else
            Any
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to checkers_filter_path(namespace_id: nil) do
              Any
          - current_user.authorized_groups.each do |group|
            %li
              = link_to checkers_filter_path(namespace_id: group.id) do
                = group.name
      .inline
        = form_tag checkers_filter_path, method: 'get', id: "tasks-index-form" do
          %i.icon-time
          =text_field_tag 'released_at', ( params[:released_at] || Date.today.to_s ) , {class: "datepicker date-search span2", placeholder: "Pick release date"}

- if @checkers.any?
  - @checkers.group_by(&:task).each do |group|
    .ui-box.small-box
      - task = group[0]
      .title
        = link_to "##{task.id} #{truncate(task.subject, length: 50)} ( #{task.project.name_with_namespace} )", project_task_path(task.project, task)

      %ul.well-list.issues-list
        - group[1].each do |checker|
          = render 'projects/checkers/checker', checker: checker
  = paginate @checkers, theme: "gitlab"
- else
  %p.nothing_here_message No checker to show

