%fieldset
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:checked] == 'false')}
      = link_to checkers_filter_path(checked: 'false') do
        Unchecked
    %li{class: ("active" if params[:checked] == 'true' )}
      = link_to checkers_filter_path(checked: 'true') do
        Checked     
    %li{class: ("active" if params[:checked].blank?)}
      = link_to checkers_filter_path(checked: nil) do
        All

%fieldset
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:current_user] == 'true')}
      = link_to checkers_filter_path(current_user: 'true') do
        My Checkers 
    %li{class: ("active" if params[:current_user].blank?)}
      = link_to checkers_filter_path(current_user: nil) do
        All        

