%div#checker-list-table{"data-project" => @project.to_param}
  %table.tablesorter
    %thead
      %tr
        %th 检查项
        %th 提出人
        %th 检查人
        %th 检查结果
        %th
        %th
    %tbody
      - Checker.find_all_by_task_id(task.id).each do |checker|
        %tr{ "data-link" => project_checker_path(@project, checker), "data-taskid" => task.id, "data-checkerid" => checker.id }
          %td  #{checker.description}
          %td  #{checker.author.name}
          %td  #{checker.assignee.try(:name)}
          %td
            - if checker.checked
              %i.check-result.icon-ok
            - else
              %i.check-result.icon-remove
          %td
            - pass_style = 'display:none' if (checker.assignee != current_user) || !checker.checked
            %button.btn.btn-small.check-fail{ style: "#{pass_style}" }
              不合格
            - fail_style = 'display:none' if (checker.assignee != current_user) || checker.checked
            %button.btn.btn-small.check-pass{ style: "#{fail_style}" }
              合格
          %td{ "assignee_id" => checker.assignee.try(:id), "description" => checker.try(:description) }
            - edit_style = 'display:none' if checker.author != current_user
            %button.btn.btn-small.editChecker{ "data-toggle" => "modal", "href" => '#task_checker', "class" => "modal.hide.fade", "data-keyboard" => "false", "style" => 'edit_style' }
              修改检查项
            = link_to 'Destroy', [@project, checker], confirm: "You are going to delete this check item.\n Are you sure?", method: :delete, class: "btn btn-small btn-remove", style: edit_style