%tr
  %td
    - display = display(event.action)
    %span{class: display[:class]}
      = display[:label]
  - if event.target
    %td
      = link_to event.target.jenkins_job_name, project_ci_branch_path(event.project, event.target.branch_name)
    %td
      = event.target.branch_name
    %td
      = event.project.try(:name_with_namespace)
    %td
      = event.created_at.to_s(:db)
  - else
    %td{colspan: 3} this ci branch has been deleted.
