= form_tag "#", method: 'get' do
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if (params[:f] == 'all' || !params[:f]))}
        = link_to build_path(f: 'all') do
          History
          = "#{@build[:stats_for_all][:target]}/#{@build[:stats_for_all][:total]} #{@build[:stats_for_all][:precent]}%"
      %li{class: ("active" if params[:f] == "wip")}
        = link_to build_path(f: "wip") do
          WIP
          = "#{@build[:stats_for_wip][:target]}/#{@build[:stats_for_wip][:total]} #{@build[:stats_for_wip][:precent]}%"
