%h3.page_title
  Build Info fail/total 
%br

.row
  .span3
    = render 'filter'

  .span9

    %div{class: "alert alert-info"}
      The Ci Branch which has been removed won't be listed here.
    %table
      %thead
        %tr
          %th Status
          %th Jenkins Job Name
          %th Branch
          %th Project
          %th Build Time
      %tbody
        = render partial: "event", collection: @build[:events]
        - if @build[:events].blank?
          %tr
            %td.nothing_here_message{colspan: 4} nothing to show here

    = paginate @build[:events], theme: "gitlab"
