= form_tag rollback_logs_project_path(@project), method: 'get', class: "form-inline" do
  .control-project
    = label_tag 'message'
    .controls
      = text_field_tag 'message', params[:message]
      = submit_tag "Search", class: "btn btn-primary wide"
