.project-edit-container
  .project-edit-errors
    = render 'projects/errors'
  .project-edit-content
    %p.slead
      New projects are public by default.
    %hr
    = form_for @project, remote: true do |f|
      .control-group.project-name-holder
        = f.label :name do
          %strong Project name is
        .controls
          = f.text_field :name, placeholder: "Example Project", class: "input-xlarge", tabindex: 1, autofocus: true
          %span.help-inline
            = link_to "#", class: 'js-toggle-visibility-link' do
              %span Customize repository name?

      .control-group.js-toggle-visibility-container.hide
        = f.label :path do
          %span Repository name
        .controls
          .input-append
            = f.text_field :path
            %span.add-on .git

      .control-group
        = f.label :bu_name do
          %span BU
        .controls
          = f.text_field :bu_name, placeholder: "平台技术中心", class: "input-xlarge"

      - if current_user.can_select_namespace?
        .control-group
          = f.label :namespace_id do
            %span Namespace
          .controls
            = f.select :namespace_id, namespaces_options(params[:namespace_id] || :current_user), {}, {class: 'chosen', tabindex: 2}

      .control-group
        .controls
          = link_to "#", class: 'appear-link' do
            %i.icon-upload-alt
            %span Import existing repository?
      .control-group.appear-data.import-url-data
        = f.label :import_url do
          %span Import existing repo
        .controls
          = f.text_field :import_url, class: 'input-xlarge', placeholder: 'https://github.com/randx/six.git'
          .light
            URL must be cloneable
      .control-group
        = f.label :description do
          Description
          %span.light (optional)
        .controls
          = f.text_area :description, placeholder: "awesome project", class: "input-xlarge", rows: 3, maxlength: 250, tabindex: 3

      .form-actions
        = f.submit 'Create project', class: "btn btn-create project-submit", tabindex: 4

        - if current_user.can_create_group?
          .pull-right
            .controls.light
              Need a group for several dependent projects?
              = link_to new_group_path, class: "btn btn-tiny" do
                Create a group

.save-project-loader.hide
  %center
    = image_tag "ajax_loader.gif"
    %h3 Creating project &amp; repository.
    %p Please wait a moment, this page will automatically refresh when ready.
