%h3.page-title
  Rollback Logs

%hr

.row
  = render 'rollout_logs_filter'
  - if @logs.any?
    %table.log-table
      %thead
      %tbody.content_list
  - else
    %p.nothing_here_message Rollout logs will be displayed here

:javascript
  $(function(){
    Pager.init(#{@per_page}, true)
  })