= render 'clone_panel'

.row
  .span9
    = render "events/event_last_push", event: @last_push
    .content_list
    .loading.hide
  .span3
    .light-well
      %h3.page-title
        = @project.name
      - if @project.description.present?
        %p.light= @project.description

      %hr
      %p
      %p
        %span.light Repo size is
        #{@project.repository.size} MB
      %p
        %span.light Created at
        #{@project.created_at.stamp('Aug 22, 2013')}
      %p
        %span.light Owned by
        #{link_to @project.creator.name, @project.creator}
      - if @project.forked_from_project
        %p
          %i.icon-code-fork
          Forked from:
          = link_to @project.forked_from_project.name_with_namespace, project_path(@project.forked_from_project)

      %hr
      %p
        = link_to pluralize(@repository.round_commit_count, 'commit'), project_commits_path(@project, @ref || @repository.root_ref) rescue 'no commit'
      %p
        = link_to pluralize(@repository.branch_names.count, 'branch'), project_branches_path(@project) rescue 'no branch'
      %p
        = link_to pluralize(@repository.tag_names.count, 'tag'), project_tags_path(@project) rescue 'no tag'

      - if @project.gitlab_ci?
        %hr
        = link_to @project.gitlab_ci_service.builds_path do
          = image_tag @project.gitlab_ci_service.status_img_path, alt: "build status"

    .sonar-coverage
