%table
  %thread
    %tr
      %th{:colspan => "2"}
        .pull-left
          - if @status
            %span#build_status{ class: color_status(@ci_branch.imf.job_status) }
              = @ci_branch.imf.job_status                  
          = link_to @ci_branch.jenkins_job_name, "http://#{@ci_branch.jenkins_url}", :target => "_blank", :id => "jenkins_job_name"
          - if @status
            - unless @ci_branch.imf.build_time == 'no built yet.'
              (
              = link_to @ci_branch.imf.build_time, @ci_branch.imf.build_link, :target => "_blank", :id => 'build_status'
              )
          = " jenkins超时(当前jenkins负载过高或jenkins任务被删除)" unless @status
        .pull-left
          - if @ci_branch.light_merge.blank?
            = render 'change_branch'
        .pull-right
          - if @ci_branch.beta?
            Run Test:
            .make-switch#test-switch{ 'data-on' => "info", 'data-off' => "warning" } 
              %input{ type: "checkbox", checked: @ci_branch.run_test}
          - else    
            Auto Deploy:
            .make-switch#deploy-switch{ 'data-on' => "info", 'data-off' => "warning" } 
              %input{ type: "checkbox", checked: @ci_branch.auto_deploy}    
          = link_to project_ci_branch_path(@project, @ci_branch.branch_name), :target => "_blank", confirm: '亲，你确定删除ci么？', method: :delete, class: " ci-branch-destroy btn btn-remove", style: "padding: 5px 12px; margin-left: 10px" do
            删除CI

    %tr 
      %td{:style => "width:50%"}  
        .progress.progress-striped.active
          .bar{:style => "width:0%"}
      %td   
        .pull-right 
          %button.btn.btn-primary#ci-build
            Build Now  
          - if @status
            - unless @ci_branch.imf.build_time == 'no built yet.' 
              = link_to 'View Build Log', @ci_branch.imf.build_log_link, :target => "_blank", :id => 'build_status', class: "button btn" 
              = select_tag 'deploy_log', options_for_select(@ci_branch.log_modules), { prompt: "选择部署日志", class: 'chosen'} if @ci_branch.deployers == 'Phoenix'
          = render 'projects/light_merges/ci_branch'
