- if ["War","Phoenix"].include?(@ci_branch.deployers)
	= form_for :ci_branch, :url => { :action => :change_branch_for_ci }, html: { class: "change-branch-form " } do |f|
		= f.select :branch_name, options_for_select(@project.branches_having_no_ci, ''), {:include_blank => '- 切换分支 -'}, {class: 'change-branch-select chosen'}
