#createModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 Machine (自动分配时不必填写)
    #bind-status

  .modal-body
    %ol{style: "color:red"}
      %li 手动绑定时填写具有sudo权限的账号。
      %li 修改你填写的机器的/etc/sudoers, 找到并注释掉 `Defaults requiretty` 这行, 否则该选项会导致部署不成功。
    %hr
    %form.form-horizontal#assign-machine{ "data-project" => @project.to_param }
      %fieldset
        .control-group
          .controls
            %input#build_branch_id{ type: "hidden", value: @ci_branch.id, name: "machine[build_branch_id]"  }
        .control-group
          .controls
            %input#deployer{ type: "hidden", value: @ci_branch.deployers, name: "machine[deployer]"  }    
        .control-group
          .controls
            %input#module_name{ type: "hidden", name: "machine[module_name]" }
        .control-group
          .controls
            %input#package_type{ type: "hidden", value: @ci_branch.package_type, name: "machine[package_type]" }
        .control-group
          %label.control-label 部署方式
          .controls
            = select_tag "to select the package to clear cache",options_for_select(@ci_branch.machine_deployers),multiple: false, data: {placeholder: 'Choose a package......'}, class: 'chosen machine_apply_type', name: "machine[deployer]"
        .control-group
          %label.control-label Machine IP
          .controls
            %input#ip{ type: "text", placeholder: "ip", name: "machine[ip]" }
        .control-group
          %label.control-label Port
          .controls
            %input#port{ type: "text", value: "58422", name: "machine[port]" }    
        .control-group
          %label.control-label User
          .controls
            %input#username{ type: "text", placeholder: "usrname", name: "machine[username]" }
        .control-group
          %label.control-label Password
          .controls
            %input#password{ type: "password", placeholder: "password", name: "machine[password]" }

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
    %a.btn.btn-info#auto_deploy 自动分配
    %a.btn.btn-primary#bind_deploy 手动绑定


#editModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 Machine

  .class.modal-body
    %p 解除绑定仅删除测试设备与 Git 分支的关联，此设备仍然属于本项目。
    下次可以通过 “手动绑定” 把它用于其他分支。

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#unbind-machine.btn-danger.btn 解除绑定

#slbModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 软负载

  .class.modal-body
    %ol
      %li.slb-text
      %li{style: "color:red"} 节点添加成功后，必须转向<a href='http://slb.alpha.dp/console/vs/w.alpha.dp#location'>SLB</a>发布相应版本

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#add-slb.btn-danger.btn 发布  


#myModal2.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 Machine

  .class.modal-body
    %p edit

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
    %a.btn.btn-info 自动分配
    %a.btn.btn-primary 手动绑定

#editBranchModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 Machine (自动分配时不必填写)
    #bind-status 

#swimlaneModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 泳道设置

  .class.modal-body
    %ol
      %li{style: "color:red"} 泳道内的web只能调用同一泳道的service
      %li{style: "color:red"} 泳道设置为空，则为默认泳道
    %hr
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label 当前泳道
          .controls
            %input#current_swimlane{ type: "text", readonly: "readonly"}
        .control-group
          %label.control-label Swimlane
          .controls
            %input#swimlane{ type: "text", placeholder: "Swimlane", name: "swimlane" } 
            %a.btn{"id" => "swimlane_query"} 查询

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#save-swimlane.btn-danger.btn 保存      


:javascript
  var ip_list = #{ip_autocomplete_source};
