- unless @tree.pom == [] && @tree.pom != []
  = form_for @ci_branch || CiBranch.new, url: project_ci_branch_build_path(@project, @repository.root_ref) do |f|
    - if @project.errors.any?
      .alert.alert-error
        %span= @project.errors.full_messages.first
    .control-group
      = f.label :ci_env do
        %span Environments
      .controls.input
        = f.select :ci_env, ci_env_options(@project), {}, {class: 'chosen'}
    .control-group        
      = f.label :ci_env do
        %span Code Type
      .controls.input
        = f.select :package_type, package_type_options,{},{class: 'chosen'}
    .clearfix
    .clearfix
      .input  
        = f.text_field :root_type, type: "hidden", value: @tree.pom_root_type 
        = f.text_field :branch_name, type: "hidden", value: @ref 

    .form-actions      
      = f.submit 'Create Jenkins Job', class: "btn btn-create ci_branch-submit"

  
    %p.padded
      = "The Job Name will be 'env'-#{@project.name}-#{@ref}"
    %p  
      = "1个分支只能对应1个环境的ci,beta环境ci只能建立1个,如果要切换环境请先删除"
    %hr

- else 
  = render partial: 'projects/ci_branch/empty'