- logs.each do |log|
  - if 'file' == log['location_type']
    %pre= Gitlab::GitLogger.read_latest_for(log['location']).join("\n")
  - if 'url' == log['location_type']
    %pre= link_to log['location'], log['location'], target: "_blank"