#log-viewer.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 部署日志

  .modal-body
    %div.log-content

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
