%h3
  Beta的发布log
  .ui-box.ui-box-show
    .ui-box-body
      .control-group
        .controls
          %tr
            %td
              = label_tag :appname do
                Appname
          
            %td
              = select_tag "to select the package to immediately rollback chosen", options_for_select(module_name(@project.id)),multiple: false, data: {placeholder: 'Choose a pacakge......'}, class: 'beta_logs_modules_select chosen',style:"width:350px"
            %td
              = label_tag :from_date, 'From_date:', class: 'control-label'
              = text_field_tag 'beta_released_from', ( params[:released_at] || Date.today.to_s ) , {class: "datepicker span2", placeholder: "Pick release date"}
            %td
              = label_tag :end_date, 'End_date:', class: 'control-label'
              = text_field_tag 'beta_released_end', ( params[:released_at] || Date.today.to_s ) , {class: "datepicker span2", placeholder: "Pick release date"}

        %button.btn{ title: "beta_logs", class: "beta_logs","data-link" =>beta_logs_for_module_project_ci_branch_path(@project)}
          查询

= render partial: 'module_logs'
