= render "head"
.ci_branch_new_holder
  %h3.page_title
    New Jenkins Job
  %hr
  = render 'form'


- if Rails.cache.fetch("remove-#{@project.id}-#{@ref}-errors")
  %h5{style: "color: red"}
    上次删除 CI 环境中遇到的问题：
    = Rails.cache.fetch("remove-#{@project.id}-#{@ref}-errors")

  