= render "head"

- if $redis.sismember("ci_branch:destroy:queue", "#{@ci_branch.project_id}-#{@ci_branch.id}")
  %h3{style: 'text-align: center;margin-top: 100px; color: #666'} 系统正在释放该 branch 的资源!

- else
  = render :partial => "projects/ci_branch/build"

  .light-merge-show
    = render partial: 'projects/light_merges/show', locals: { light_merge: @ci_branch.light_merge, ci_branch: @ci_branch }
  - if @ci_branch.deployers != "Static" && @status
    = render partial: 'projects/ci_branch/java/show', locals: { light_merge: @ci_branch.light_merge, ci_branch: @ci_branch }
    = render partial: 'projects/ci_branch/java/shadow_branch' if !@ci_branch.shadow_branch.blank?
    = render partial: 'projects/ci_branch/java/show', locals: { light_merge: @ci_branch.light_merge, ci_branch: @ci_branch.shadow_branch }if !@ci_branch.shadow_branch.blank?
    = render 'edit_machine'
    = render 'log_viewer'

#jbossLogModal.modal.large.hide.fade
