/**
   *
   * 
   *
   */

.domain-name-input {
  @extend .span2;
  text-align: left;
  cursor: left;
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 25px;
  font-size: 23px;
  @include border-radius(3px);
  border: 1px solid #c6c6c6;
  box-shadow: none;
  @include transition(all 0.15s ease-in 0s);
  &:focus {
    @extend .span2;
  }
}

#packing-list tbody tr {
  cursor: pointer;
}

#ticket-packing-list tbody tr {
  cursor: pointer;
}

#ticket-packing-list tbody tr.selectedgs.highlight td {
  background-color:#D9EFFA !important;
}

#performance-test-module-list tbody tr.selectedpt.highlight td {
  background-color:#D9EFFA !important;
}

.grouping-strategy-operation-tips{
  cursor:pointer;
} 

#rollout-form fieldset {
  border: 1px solid #eee;
  padding: 5px;
  legend {
    width: auto;
    border-bottom: none;
    font-size: 20px;
    line-height: 20px;
  }
}

