.task-list {
  .odd {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }
  .task {
    position: relative;
    .task-subject {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .task-desc {
      font-size: 13px;
      color: #666;
      margin-bottom: 5px;
    }
    .task-info {
      color: #999;
    }
    .task-actions {
      display: none;
      position: absolute;
      top: 10px;
      right: 2px;
    }
    &:hover {
      .task-actions {
        display: block;
      }
    }
  }
}

.task-filters {
  .date-search {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 4px;
    padding-left: 8px;
    margin-bottom: 0px;
  }
}

table.packages {
  border: 0;
  margin-bottom: 0;
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-left: none;
  }
}
