.ticket-list {
  .odd {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }
  .ticket {
    .ticket-subject {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .ticket-desc {
      font-size: 13px;
      color: #666;
      margin-bottom: 5px;
    }
    .ticket-info {
      color: #999;
    }
  }
}

.ticket-filters {
  .date-search {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 4px;
    padding-left: 8px;
    margin-bottom: 0px;
  }
}
