%h4.pull-left #{Date.today}

= text_field_tag 'filter', nil, class: 'pull-right', style: 'margin-top: 9px', id: 'beta-deploy-log-search-input', placeholder: 'Project Name'

%br
%br
%br

%table#beta_deploy_logs
  %tr
    %th Project
    %th Module
    %th Branch
    %th Deployed At
    %th
  - @logs.each do |log|
    %tr.logs-data
      %td{ style: 'display: none' }
        %span.id= log.id
      %td{ class: 'project-name' }
        = link_to project_ci_branch_path(log.project, log.branch_name) do
          = log.project_path_with_namespace
      %td
        = log.module_name
      %td
        = log.branch_name
      %td
        = log.created_at.localtime.strftime("%H:%M:%S")
      %td
        = voteup_link(log)
        = votedown_link(log)
