- if script.can_edit?
  = link_to edit_project_script_path(@project, script), class: "btn #{html_class}" do
    %i.icon-edit
    编辑
- if script.can_execute? && script.current_execute_type
  = link_to execute_project_script_path(@project, script, env: script.current_execute_type), class: "btn btn-primary script-execute #{html_class}", method: "put", confirm: "确认执行？" do
    = execute_label(script.current_execute_type)

- if script.can_close?
  = link_to close_project_script_path(@project, script), class: "btn btn-danger script-close #{html_class}", method: "put", confirm: "确认关闭？" do
    关闭
