= form_for [@project, @script], html: { multipart: true, class: "script-form" } do |f|
  -if @script.errors.any?
    .alert.alert-error
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg

  .row
    .span6
      .control-group
        = f.label :db_name do
          数据库（DB Name）：
        .controls
          = f.select(:db_name, Database.all.map {|d| [d.name, d.name] }, {prompt: "请选择数据库"}, {class: 'chosen'})

      .control-group
        = f.label :todo do
          执行顺序（Todo）：
        .controls
          = f.select(:todo, Script::TODO, {prompt: "请选择执行顺序"}, {class: 'chosen'})

      .control-group
        = label_tag :file do
          上传脚本（Script）：
        .controls
          %a.choose-btn.btn.btn-small.js-choose-attachment-button
            %i.icon-paper-clip
            %span 选择文件 ...
          &nbsp;
          %span.file_name.js-attachment-filename 文件名...
          = file_field_tag :file, class: "js-attachment-input hide"
          - if @script.persisted?
            .help-block
              .label.label-info （如果不需要重新上传，留空即可）

      .control-group
        = f.label :desc do
          描述（Desc）：
        .controls
          = f.text_area :desc, class: "input-large", rows: 3, cols: 20

    - if @script.persisted?
      .span6
        .ui-box
          = render partial: "history", locals: {script: @script}

  .form-actions
    = f.submit '提交', class: "btn btn-create"

:javascript
  var upload = new Upload(".script-form");
