.title
  .task-filters
    .inline
      = form_tag scripts_filter_path, method: 'get', id: "scripts-index-form" do
        %i.icon-time
        = text_field_tag 'created_at', params[:created_at], {class: "datepicker date-search span2", placeholder: "选择创建时间"}
        = text_field_tag 'name', params[:name], {class: "date-search span2", placeholder: "文件名"}
        = select_tag :db_name, options_for_select(Database.all.map {|d| [d.name, d.name] }, params[:db_name]), {prompt: "请选择数据库", class: 'chosen'}
        = select_tag :todo, options_for_select(Script::TODO, params[:todo]), {prompt: "请选择执行顺序", class: 'chosen'}
    - if %w(status scope created_at todo name db_name).select { |k| params[k].present? }.any?
      .pull-right
      = link_to project_scripts_path(@project), class: 'cgray pull-right has_tooltip', "data-toggle" => "tooltip", title: "清除查询条件" do
        %i.icon-eraser
