#hint-accordion.accordion
  .accordion-group
    .accordion-heading
      %a{"class" => "accordion-toggle", "data-toggle" => "collapse", "data-parent" => "#hint-accordion", "href" => "#collapseOne"} 注意事项
    #collapseOne{class: "accordion-body collapse"}
      .accordion-inner
        %ul
          %li
            只有状态是
            %span.label.label-success 未审核
            或者
            %span.label.label-info DBA负责执行
            时，才可以进行编辑活关闭操作。
          %li
            只有状态是
            %span.label.label-success DBA审核通过，允许执行
            时，才可以进行执行脚本操作。
          %li
            每次重新编辑后，状态会变回
            %span.label.label-success 未审核
            ，再交由DBA审核。
