%ul.well-list.task-list
  - script.data.reverse_each do |history|
    %li{class: cycle("odd", "even")}
      = link_to Script.download_url(history[:path]) do
        %i.icon-paper-clip
        = history[:name]
      = "上传于 #{history[:uploaded_at].to_s(:db)}"

