%fieldset
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:scope].blank?)}
      = link_to scripts_filter_path(scope: nil) do
        所有
    %li{class: ("active" if params[:scope] == "created-by-me")}
      = link_to scripts_filter_path(scope: "created-by-me") do
        由我创建的

  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:status].blank?)}
      = link_to scripts_filter_path(status: nil) do
        所有
    - Script.state_machines[:status].states.each do |state|
      %li{class: ("active" if params[:status] && params[:status].to_i == state.value)}
        = link_to scripts_filter_path(status: state.value) do
          = state.human_name

%fieldset
  - if %w(status scope created_at todo name db_name).select { |k| params[k].present? }.any?
    = link_to project_scripts_path(@project), class: 'cgray pull-right' do
      %i.icon-remove
      %strong 清除查询条件
