%li.task{class: cycle("odd", "even")}
  .task-subject.clearfix
    = link_to Script.download_url(script.path), {title: "下载#{script.name}"} do
      %i.icon-paper-clip
    = link_to script.name, project_script_path(project, script), class: "row_title"
    = render partial: "status", locals: {script: script}
  .task-info.clearfix
    相关数据库：
    %strong{style: "color: black"}
      - if script.req_url.present?
        = link_to script.req_url, {target: "_blank", title: "链接到DBA"} do
          #{script.db_name}
      - else
        #{script.db_name}
    ，执行顺序：
    %strong{style: "color: black"}
      #{script.todo}
    - if script.ppe_executed_at
      ，PPE执行于：
      %strong{style: "color: black"}
        #{script.ppe_executed_at.to_s(:db)}
    - if script.prd_executed_at
      ，线上执行于：
      %strong{style: "color: black"}
        #{script.prd_executed_at.to_s(:db)}
    .pull-right
      .task-actions{style: "top: 38px"}
        = render partial: "projects/scripts/action", locals: {script: script, html_class: "btn-small grouped"}
