.pull-right.status-entry
  - if Script::STATUS.slice(:not_review, :user_close).values.include?(script.status)
    .status_info.status-mini{class: script_status_label(script.status)}
      = script.human_status_name
  - else
    .status_info.status-mini{class: script_status_label(script.prd_status)}
      = "线上#{script.human_prd_status_name}"
    .status_info.status-mini{class: script_status_label(script.ppe_status)}
      = "PPE#{script.human_ppe_status_name}"
