= render "projects/rollout_branches/head"

= link_to new_project_script_path(@project), class: "pull-right btn btn-new", title: "上传数据库脚本" do
  %i.icon-plus
  上传数据库脚本
%h3.page-title
  数据库脚本
  %span="(#{@scripts.size})"

.row
  .span3
    = render 'script_filter'
  .span9
    .ui-box
      =render "head_filter"
      %ul.well-list.task-list.scripts-list
        - @scripts.each do |script|
          = render partial: "script", locals: {script: script, project: @project}
        - if @scripts.blank?
          %li
            %h4.nothing_here_message 还没有上传过数据库脚本
    - if @scripts.present?
      .pull-right
        %span.cgray.pull-right 找到#{@scripts.total_count}个相关脚本

      = paginate @scripts, theme: "gitlab"
