= render "projects/rollout_branches/head"

%h3.page-title
  = "数据库脚本 #{@script.name}:"

= render "projects/scripts/hint"

.row
  .span8
    .back-link
      .btn-group
        = link_to project_scripts_path(@project), class: "btn" do
          %i.icon-long-arrow-left
          返回列表
          = render partial: "projects/scripts/action", locals: {script: @script, html_class: ""}

  .span4
    %h4
      上传历史

.row
  .span8
    .ui-box.ui-box-show
      .ui-box-head
        %h4.box-title.clearfix
          = link_to Script.download_url(@script.path) do
            %i.icon-paper-clip
            = @script.name
          .status_info{class: script_status_label(@script.prd_status)}
            = "线上#{@script.human_prd_status_name}"
          .status_info{class: script_status_label(@script.ppe_status)}
            = "PPE#{@script.human_ppe_status_name}"
          .status_info{class: script_status_label(@script.status)}
            = @script.human_status_name
        %h6.box-desc
          = @script.desc
        %div
          %cite.cgray
            由 #{link_to_member(@project, @script.author)} 创建于 #{@script.created_at.to_date.to_s}
      .ui-box-body
        %div
          %cite.cgray
            相关数据库：
          %strong{style: "color: black"}
            - if @script.req_url.present?
              = link_to @script.req_url, {target: "_blank", title: "链接到DBA"} do
                #{@script.db_name}
            - else
              #{@script.db_name}
          %cite.cgray
            ，执行顺序：
          %strong{style: "color: black"}
            #{@script.todo}
          - if @script.ppe_executed_at
            %cite.cgray
              ，PPE执行于：
              %strong{style: "color: black"}
                #{@script.ppe_executed_at.to_s(:db)}
          - if @script.prd_executed_at
            %cite.cgray
              ，线上执行于：
              %strong{style: "color: black"}
                #{@script.prd_executed_at.to_s(:db)}

  .span4
    .ui-box.ui-box-show
      = render partial: "history", locals: {script: @script}
