- project_statistics = Service::Sonar::Api::ProjectStatistics.new( @project )
- if @project.sonar
  - unless ( coverages = project_statistics.modules_average_coverage ).blank?
    %hr
      .light-well
        %h3.page_title
          = link_to 'ut on beta', @project.sonar.dashboard_path, :target => "_blank"
        %hr
        %div 
          %strong= "total code coverage: #{coverages}%"
          - if !project_statistics.modules_average_coverage_trend.blank? && project_statistics.modules_average_coverage_trend == 'up'
            .icon-arrow-up{style: "color:red"}
          - if !project_statistics.modules_average_coverage_trend.blank? && project_statistics.modules_average_coverage_trend == 'down'
            .icon-arrow-down{style: "color:green"}
          - unless ( new_coverages = project_statistics.modules_new_code_average_coverage ).blank?
            %p
            %strong= "new code coverage:"
            - new_coverages.each_pair do |key, value|
              - unless key.blank?
                %p= "since #{key}: n/a" if value.blank? || value.nan?
                %p= "since #{key}: #{value}%" unless value.blank? || value.nan?
        
  - unless ( lines = @project.sonar.line.result ).blank?
    %hr
      .light-well
        %h3.page_title
          = link_to 'Codes', @project.sonar.dashboard_path, :target => "_blank" 
        %hr 
        %div 
          - lines.each do |key, val|
            %p{class: "mini_tooltip", "data-toggle" => "tooltip", "data-placement" => "left", "data-original-title" => "#{format_for_period(val)}"}
              %strong= "#{key}: #{val["frmt_val"]}"

  - unless ( violations = @project.sonar.violation.result ).blank?
    %hr
      .light-well
        %h3.page_title
          = link_to 'Violations', @project.sonar.dashboard_path, :target => "_blank" 
        %hr 
        %div 
        %p
          %strong= "violations: #{violations["violations"]["frmt_val"]}" unless violations["violations"].blank?
        %p
          %strong= "violations density: #{violations["violations_density"]["frmt_val"]}" unless violations["violations_density"].blank?

  - unless coverages.blank?
    %hr
      .light-well
        %h3.page_title Sonar Modules
        %hr
          - @project.tree.pom.each do |m|
            = link_to m.full_name, m.dashboard_path


:javascript
  $('.mini_tooltip').tooltip({html: true})
