- if (@merge_request.opened? || @merge_request.reopened?) && @merge_request.merge_request_inspection.present?
  .div.merge_request_inspect_item
    - charge = charge_merge_refresh_or_not(@merge_request.id)
    - accept_charge = enable_accept_or_not(@merge_request.id)
    .ui-box.merge_request_inspect_item_box{"data-link" => @merge_request.project.path_with_namespace,"id" => @merge_request.id,"charge" => "#{charge}","accept_charge" => "#{accept_charge}"}
      .title
        Merge检查
        .pull-right
          = link_to 'Jenkins Job', @merge_request.merge_request_inspection.jenkins_job_url ||"javascript:;", method: :put,  title: "Click To See Jenkins Job",:target => "_blank"
      .div
        .commits
          %ul.first-commits.well-list
            %li.bottom
              - if @merge_request.merge_request_inspection.finished?
                %p
                  - if MergeRequestInspection.state_machines[:status].states.state_at(@merge_request.merge_request_inspection.status).name.to_s == "inspect_success"
                    %strong
                      %h4{style:"color:#6cc644;"} 检查通过
                  - else    
                    %strong
                      %h4{style:"color:red;"} 检查不通过，不允许合并！
                - if !@merge_request.merge_request_inspection.stderr.blank?  
                  %h4{style:"color:red;font-style:italic;"} 标准错误
                  = simple_format(@merge_request.merge_request_inspection.stderr)
                        
                - if !@merge_request.merge_request_inspection.stdout.blank?
                  %h4{style:"color:#189;font-style:italic;"} 标准输出
                  = simple_format(@merge_request.merge_request_inspection.stdout)
               
              - else
                = "Merge的检查正在进行中，请耐心等待"
                %i.icon-spinner.icon-spin.icon-large{style:"color:grey"}


:javascript
  merge_inspect_refresher = new MergeInspectRefresher()
  merge_inspect_refresher.refresh()