%h3.page-title
  = "Merge Request ##{@merge_request.id}:"
  &nbsp;
  -if @merge_request.for_fork?
    %span.label-branch
      %span.label-project= truncate(@merge_request.source_project.try(:path_with_namespace) || '(removed project)', length: 25)
      #{@merge_request.source_branch}
    &rarr;
    %span.label-branch= @merge_request.target_branch
  - else
    %span.label-branch= @merge_request.source_branch
    &rarr;
    %span.label-branch= @merge_request.target_branch

  %span.pull-right
    - if can?(current_user, :modify_merge_request, @merge_request)
      - if @merge_request.opened?
        .left.btn-group
          %a.btn.grouped.dropdown-toggle{ data: {toggle: :dropdown} }
            %i.icon-download-alt
            Download as
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Email Patches", project_merge_request_path(@project, @merge_request, format: :patch)
            %li= link_to "Plain Diff",    project_merge_request_path(@project, @merge_request, format: :diff)

        = link_to 'Close', project_merge_request_path(@project, @merge_request, merge_request: {state_event: :close }), method: :put, class: "btn grouped btn-close", title: "Close merge request"

        = link_to edit_project_merge_request_path(@project, @merge_request), class: "btn grouped", id:"edit_merge_request" do
          %i.icon-edit
          Edit

        = link_to 'Reject', project_merge_request_path(@project, @merge_request, merge_request: {state_event: :reject }), method: :put, class: "btn grouped btn-close", title: "Reject merge request"  

.pull-right
  .span3#votes= render 'votes/votes_block', votable: @merge_request

.back-link
  = link_to project_merge_requests_path(@project) do
    &larr; To merge requests
