.light-well
  - group_coverage = Service::Sonar::Api::GroupStatistics.new(@group).average_coverage
  - if group_coverage[:average_coverage].blank? || group_coverage[:average_coverage].nan?
    - coverage = "n/a"
  - else
    - coverage = group_coverage[:average_coverage].to_s + "%"

  %strong{style: "color:#3a89a3"}= "30天内活动项目平均覆盖率: #{coverage}"
  %p
  %div
  - unless group_coverage[:project_coverage_pairs].blank?
    - group_coverage[:project_coverage_pairs].each_pair do |key, value|
      - if value.blank? || value.nan?
        %p= "#{key}: n/a"
      - else
        %p= "#{key}: #{value}%"
  
  %hr
  - new_line_code_group_coverage = Service::Sonar::Api::GroupStatistics.new(@group).new_line_code_average_coverage
  - if new_line_code_group_coverage[:new_line_code_average_coverage].blank? || new_line_code_group_coverage[:new_line_code_average_coverage].nan?
    - new_coverage = "n/a" 
  - else
    - new_coverage = new_line_code_group_coverage[:new_line_code_average_coverage].to_s + "%"

  %strong{style: "color:#3a89a3"}= "30天内新增行覆盖率: #{new_coverage}"
  %p
  %div
  - unless new_line_code_group_coverage[:project_lines_to_cover_pairs].blank?
    - new_line_code_group_coverage[:project_lines_to_cover_pairs].each_pair do |key, value|
      - coverd_lines = new_line_code_group_coverage[:project_covered_lines_pairs][key]
      %p= "#{key}: 新增#{value}行, 覆盖#{coverd_lines}行"