- beta_paases = beta_paas_info(ci_branch,module_name)
- if !beta_paases.blank?
  - beta_paases.each do |beta_paas|
    %tr{beta_paas_rollout_id: beta_paas.id,class: "beta_paas_id_"+beta_paas.id.to_s}
      %td
        - module_status = beta_paas_module_status(beta_paas)
        %span.module_status{ class: color_status(module_status)}
          - if !ci_branch.imf.modules[beta_paas.appname][:jenkins].nil? 
            = ci_branch.imf.modules[beta_paas.appname][:jenkins]['status']
            - url = ci_branch.imf.modules[beta_paas.appname][:jenkins]['url'] || '#'
          - else
            = module_status
        = link_to  "#{url}" do
          %span.module-name{ class: "beta_paas"}
            = beta_paas.appname
      %td
        %a.beta_paas_version{ :"data-content" => beta_paas.tag+"(commitId)",
                              :title=>"",:"data-placement" => 'bottom',:"data-trigger" => 'hover' }
          = ci_branch.imf.modules[beta_paas.appname][:version]
      %td
        = "war"
      %td
        %span.deploystatus{ class: lzm_color_status(beta_paas)}
          = beta_paas_status(beta_paas)
        = machine = beta_paas_machine(beta_paas)
      %td{ "module-name" => beta_paas.appname }
        - if !machine.include?('申请')
          - if ci_branch.current_build_status == 'success'
            - charge = beta_paas.in_deploying? ? true : false
            - display = current_user.can_deploy_to_beta?(beta_paas.appname) ? "block" : "none"
            - if current_user.can_deploy_to_beta?(beta_paas.appname)
              %button.btn.has_bottom_tooltip.beta-paas-deploy{ 'data-link' => deploy_project_beta_paas_rollout_path(@project, beta_paas), disabled: charge} 部署
              %button.btn.has_bottom_tooltip.beta-paas-restart-tomcat{ disabled: charge } 重启
              - if beta_paas.can_rollback?
                %button.btn.btn-danger.has_bottom_tooltip.createBetaRollbackModal{ 'data-link' =>tags_project_beta_paas_rollout_path(@project,beta_paas)} 回滚
            - else
              %span 无权限，联系运维
          - else
            %span{style:"color:red"}
              Ci Build Not Finish or Error


      %td
        - if ci_branch.current_build_status == 'success'
          = select_tag 'paas_deploy_log', options_for_select(beta_paas.build_branch.module_beta_paas_logs(beta_paas.appname)), { prompt: "部署日志", class: 'chosen'}
      %td
