%td 
  %span.deploystatus{ class: lzm_color_status(pom_module[:machine]) } 
    = lzm_status(pom_module[:machine])
  = get_ips_from_cmdb(pom_module[:warName], ci_branch.ci_env.cmdb_name)
%td
  %button.btn{ class: "btn shadow-log", "module-name" => pom_module[:module_name] }
    %i.icon-file
    deploy log
%td
%td
