#createBetaRollbackModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 选择回滚到的tag
    #bind-status

  .modal-body{style:"overflow-y:visible;height:300px;"}
    %ol{style: "color:red"}
      %li 选择要回滚到的tag进行回滚
    %hr

    %div.form-horizontal{ "data-project" => @project.to_param }
      %fieldset
        .control-group{style:"padding-bottom:8px;"}
          %label.control-label{style:'width:100px;'} 包
          .controls.module_name{style:"margin-left:120px;"}
            = ",,"

        .control-group.group-selection
          %label.control-label{style:'width:100px;'} Tag(Commit)
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the group to rollback",[], multiple: false, data: {placeholder: 'Choose a group......'}, class: 'beta_tags_select_modal chosen', style: "width: 25%",url: "#{tags_project_beta_paas_rollout_path(@ci_branch,@project)}"


  .modal-footer
    %a.btn{ title: "rollback_beta_paas_package", class: "rollback_beta_paas_package release-btn btn-new","data-link" =>rollback_project_beta_paas_rollout_path(@project)} 回滚
    %a.btn{ class:"btn-danger","href" =>"#", "data-dismiss" => "modal"} 关闭