- @jar_name = pom_module[:module_name] + "-" + pom_module[:version] + ".jar"   
- if pom_module[:version].empty?
  %td
  %td{ "module-name" => pom_module[:module_name] }
    %button.btn.jar-deploy.disabled{ :"data-content" => "Cann't be deployed because the jar has no version!",
                                     :"data-placement" => 'left',
                                     :"data-trigger" => 'hover' }
      %i.icon-upload
      to_Maven
  %td  
  
- else
  %td
    %span.deploystatus{ class: lzm_color_status(pom_module[:machine]) } 
      = lzm_status(pom_module[:machine])
  %td{ "module-name" => pom_module[:module_name] }
    %button.btn{:onclick =>"deploy_func('#{pom_module[:path]}','#{pom_module[:module_name]}','#{pom_module[:version]}','#{@ci_branch.jenkins_job_name}','#{@jar_name}','#{@ci_branch.id}', '#{pom_module[:groupId]}');"}
      %i.icon-upload
      to_Maven
  %td
    = select_tag 'deploy_log', options_for_select(@ci_branch.module_logs(pom_module[:module_name])), { prompt: "部署日志", class: 'chosen'} unless ['to deploy', 'not deploy'].include?(lzm_status(pom_module[:machine]))
  %td
