.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3.page-title 挑选依赖的服务

.modal-body
  %h5.cgray 我们提供了本项目所有 Phoenix 分支依赖的模块供您选择。如有其他依赖，可在后续页面单独创建。
  = form_tag bat_create_project_ci_branch_phoenix_deps_path(@project, @ci_branch.branch_name), id: "bat-deps-form", method: "post", class: "form-horizontal"  do |f|
    %div
      %table#deps-table
        %thead
          %tr
            %th Project
            %th Ci Branch
            %th Module
            %th
        %tbody
          - @all_deps.each do |dep|
            %tr
              - unless dep.target_project.nil?
                %td
                  = dep.target_project.name_with_namespace
                %td
                  = dep.target_ci_branch_name
                %td
                  = dep.module_name
                %td
                  %input.dep-label{ type: "checkbox", checked: true, value: dep.id, onclick: "$(this).attr('value', this.checked ? #{dep.id} : 0)"}
                %td  


.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 取消
  %a.btn.btn-primary#create-bat-deps 批量创建

