%td.ip
  %span.deploystatus.phoenix{ class: lzm_color_status(machine) }
    = lzm_status(machine)
  %span.ip-addr
    = machine.try(:ip) || 'not assigned'
%td.domain-name
  - if get_dn_by_ip(machine.try(:ip)).nil?
    %span{ class: 'domain-ref' }
      尚未设置
  - else
    = link_to "http://#{get_dn_by_ip(machine.try(:ip))}:#{Settings.dp['dev_web_service_port']}", :target => "_blank" do
      %span{ class: 'domain-ref' }
        = get_dn_by_ip(machine.try(:ip))
%td#app_default_domain_td{"data-link" => set_app_default_domain_project_ci_branch_path(@project, @ci_branch.branch_name)}
  %select{ :id => "app_default_domain", style: "width: 150px" }
    - domain_names = {"main" => "w.51ping.com", "tuangou" => "t.51ping.com", "d" => "d.51ping.com", "s" => "s.51ping.com", "mm" => "mm.51ping.com", "app.t" => "app.t.51ping.com",}
    - domain_names.keys.each do |key|
      %option{:value => "#{key}", :selected => domain_name_selected?(key)}=domain_names[key]
%td.manage-domain-name{ "module-name" => CiBranch::PHOENIX_MODULE,"ip" => machine.try(:ip),"domain_name" => get_dn_by_ip(machine.try(:ip)) }
  %button.btn.grouped{ title: "依赖的模块", class: "all-deps btn-primary", "data-link" => all_deps_project_ci_branch_phoenix_path(@project, @ci_branch.branch_name), "data-has-one-dep-link" => project_ci_branch_phoenix_deps_path(@project, @ci_branch.branch_name) }
    Manage Dependent Modules
  %button.btn.grouped{modules_type(machine.try(:ip))}
    %i.icon-edit
    Machine
  %button.btn{domain_type(get_dn_by_ip(machine.try(:ip)))}
    %i.icon-edit
    域名
  = lzm_deploy_button(machine) if machine.try(:deploy_error?)

= render 'projects/virtual_machines/edit_domain_name'
#confirmModal.modal.large.hide.fade