- if ci_branch.beta?
  %td.ip
    %span.ip-addr
      = get_ips_from_cmdb(pom_module[:module_name], ci_branch.ci_env.cmdb_name)
  %td{ "module-name" => pom_module[:module_name] }
  %td{ "module-name" => pom_module[:module_name] }
    - if current_user.can_deploy_to_beta?(pom_module[:module_name])
      = lzm_deploy_button(pom_module[:machine])
    - else
      %span 无权限部署，请联系QA
  %td
    - if pom_module[:machine].try(:ip)
      = select_tag 'deploy_log', options_for_select(@ci_branch.module_logs(pom_module[:module_name])), { prompt: "部署日志", class: 'chosen'}
- else  
  %td.ip
    %span.ip-addr
      = pom_module[:machine].try(:ip)
  %td{ "module-name" => pom_module[:module_name] }
    %button.btn.has_bottom_tooltip{ modules_type(pom_module[:machine].try(:ip)), "data-original-title" => "测试机管理" }
      %i.icon-th-large
  %td{ "module-name" => pom_module[:module_name] }
    - button_style = pom_module[:machine].try(:can_deploy?) ? 'display:yes' : 'display:none'
    = lzm_deploy_button(pom_module[:machine], button_style)
  %td
    - if pom_module[:machine].try(:ip)
      = select_tag 'deploy_log', options_for_select(@ci_branch.module_logs(pom_module[:module_name])), { prompt: "部署日志", class: 'chosen'}