- if !['War', 'Cmdb', 'CmdbShadow'].include? ci_branch.deployers
  = render partial: "projects/ci_branch/java/deployers/empty"
- elsif ci_branch.deployers == 'Cmdb'
  = render partial: "projects/ci_branch/java/deployers/cmdb", locals: { pom_module: pom_module, ci_branch: ci_branch}
- elsif ci_branch.deployers == 'CmdbShadow'
  = render partial: "projects/ci_branch/java/deployers/cmdb_shadow", locals: { pom_module: pom_module, ci_branch: ci_branch }
- else
  %td.ip
    %span.deploystatus{ class: lzm_color_status(pom_module[:machine]) }
      = lzm_status(pom_module[:machine])
    - ip = pom_module[:machine].try(:ip)
    %span.ip-addr
      = ip || 'not assigned'
  %td{ "module-name" => pom_module[:module_name] }
    - unless ci_branch.beta?
      %button.btn.has_bottom_tooltip{modules_type(ip), "data-original-title" => "测试机管理"}
        %i.icon-th-large
    - button_style = pom_module[:machine].try(:can_deploy?) ? 'display:yes' : 'display:none'
    = lzm_deploy_button(pom_module[:machine], button_style)
    = alpha_restart_tomcat_button(pom_module[:machine], button_style)
    - tomcat_log = jboss_log_project_virtual_machine_path(@project,pom_module[:machine].try(:id)) if pom_module[:machine]
    -unless ip.blank?
      %button.domain-ref.swimlaneModal.has_bottom_tooltip{ class: 'btn swimlane-btn', "data-original-title" => "当前泳道：#{pom_module[:machine].try(:swimlane)}", "id" => 'swimlane-btn' + ip.delete('.') }
        %i.icon-random

      %button.domain-ref.slbModal.has_bottom_tooltip{ class: 'btn route-btn ', "data-original-title" => "添加alpha节点#{pom_module[:machine].try(:slb_message)}" }
        %i.icon-plus
      = link_to "http://slb.alpha.dp/console/vs/w.alpha.dp#location", class: 'btn route-btn has_bottom_tooltip' , target: "_blank", "data-original-title" => '路由管理' do
        %i.icon-cogs

  %td
    = select_tag 'deploy_log', options_for_select(@ci_branch.module_logs(pom_module[:module_name], tomcat_log)), { prompt: "部署日志", class: 'chosen', style: 'width: 110px' } if !ip.blank? 

  %td.domain-name
    - button_style = 'display:none' if dn = get_dn_by_ip(ip)
    %button.btn.dn-button{:disabled => ip.blank? || dn || ( lzm_status(pom_module[:machine]) == "unbinding"), style: "#{button_style}"}
      域名
    = link_to "http://#{dn}:#{Settings.dp['dev_web_service_port']}", :target => "_blank"  do
      %span{ class: 'domain-ref' }
        = dn.truncate(13) if dn
 
    

