- if ci_branch.beta?
  %td
    %span.deploystatus{ class: lzm_color_status(pom_module[:machine]) }
      = lzm_status(pom_module[:machine])
    %span.ip-addr
      = get_ips_from_cmdb(pom_module[:warName], ci_branch.ci_env.cmdb_name)
  %td{ "module-name" => pom_module[:module_name] }
    - if current_user.can_deploy_to_beta?(pom_module[:module_name])
      = lzm_deploy_button(pom_module[:machine])
      = lzm_restart_tomcat_button(pom_module[:machine])
    - else
      %span 无权限部署，请联系QA
  %td
    = select_tag 'deploy_log', options_for_select(@ci_branch.module_logs(pom_module[:module_name])), { prompt: "部署日志", class: 'chosen'} if pom_module[:machine]
  %td
- else
  = render partial: "projects/ci_branch/java/deployers/empty",locals: {ci_branch: ci_branch, pom_module: pom_module }  
