= form_tag classification_filter_path, method: 'get' do
  %fieldset
    %legend Business Unit:
    %ul.nav.nav-pills.nav-pills-small.nav-stacked
      %li{class: ("active" if params[:classification_id].blank?)}
        = link_to classification_filter_path(classification_id: nil) do
          All
      - @classifications.each do |classification|
        %li{class: ("active" if params[:classification_id] == classification.id.to_s)}
          = link_to classification_filter_path(classification_id: classification.id) do
            = classification.name
            %small.pull-right= issues_per_classification(classification)
                    
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if params[:status].blank?)}
        = link_to classification_filter_path(status: nil) do
          Open
      %li{class: ("active" if params[:status] == 'closed')}
        = link_to classification_filter_path(status: 'closed') do
          Closed  
      %li{class: ("active" if params[:status] == 'all')}
        = link_to classification_filter_path(status: 'all') do
          All

    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if params[:scope] == 'assigned')}
        = link_to classification_filter_path(scope: 'assigned') do
          Assigned
      %li{class: ("active" if params[:scope].blank?)}
        = link_to classification_filter_path(scope: nil) do
          Unassigned
      %li{class: ("active" if params[:scope] == 'all')}
        = link_to classification_filter_path(scope: 'all') do
          All        

