.ui-box
  .title
    .clearfix
      .issues-filters
        %span Filter by
        .dropdown.inline.prepend-left-10
          %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
            %i.icon-tags
            %span.light labels:
            - if params[:label_name].present?
              %strong= params[:label_name]
            - else
              Any
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to classification_filter_path(label_name: nil) do
                Any
            - issue_main_label_names.each do |label_name|
              %li
                = link_to classification_filter_path(label_name: label_name) do
                  %span{class: "label #{label_css_class(label_name)}"}
                    %i.icon-tag
                  = label_name
        - unless @classification.blank?          
          .dropdown.inline.prepend-left-10
            %a.dropdown-toggle.btn.btn-small{href: '#', "data-toggle" => "dropdown"}
              %i.icon-folder-close
              %span.light group:
              - if @group.present?
                %strong= @group.name
              - else
                Any
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to classification_filter_path(group_id: nil) do
                  Any
              - @classification.groups.sort_by(&:name).each do |group|
                %li
                  = link_to classification_filter_path(group_id: group.id) do
                    = group.name
          .pull-right        
            .dropdown.inline
              %a.dropdown-toggle.btn.btn-new.btn-small{href: '#', "data-toggle" => "dropdown"}
                New issue to group:
                %b.caret
              %ul.dropdown-menu
                - @classification.groups.sort_by(&:name).each do |group|
                  %li
                    = link_to group.name, new_project_issue_path(group.issue_tracker) if group.issue_tracker.present?



  %ul.well-list.issues-list
    -@issues.each do |issue|
      = render 'issue', issue: issue
    - if @issues.blank?
      %li
        %h4.nothing_here_message No issues to show

- if @issues.present?
  .pull-right
    %span.issue_counter #{@issues.total_count}
    issues for this filter

  = paginate @issues, theme: "gitlab"
