%h3.page-title
  Issues
  .pull-right
    = link_to (@group.blank? ? issues_dashboard_path : issues_group_path(@group)), class: 'btn' do
      %i.icon-share-alt
      Back to my issues

%hr
.row
  .span3 
    = render 'filter'
  .span9
    - if @classification.present? && @classification.description.present?
      %pre= "#{@classification.description}"
    = render 'issues' 