.timeline {
  width: 70%;
  list-style: none;
  margin: 0 auto;
  padding: 20px 0 20px;
  position: relative;
  color: black;
  margin-top: 0;
  margin-bottom: 10px;

  li {
    margin-bottom: 20px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .node {
    margin-top: 40px;
    width: 8px;
    height: 8px;
    border: 4px solid #bbb;
    border-radius: 8px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -6px;
  }

  .box {
    width: 38%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 0 8px 6px -6px #565656;
    background-color: #eee;
  }

  .left:before {
    float: right;
    margin-right: -60px;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 20px solid #eee;
    border-right: 20px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }

  .right:before {
    float: left;
    margin-left: -60px;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 20px solid white;
    border-right: 20px solid #eee;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
  }
}

.clear {
  clear: both;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  left: 50%;
  background-color: #bbb;
}


.more {
  font-size: 20px;
  text-align: center;
}

#more {
  color: #000;
}

#more:hover {
  color: #555;
}

.undisplay {
  display: none;
}

.empty {
  font-size: 20px;
  text-align: center;
  color: #ccc;
}
