- if ticket_task_packages(@ticket) && !@ticket.package_tasks.blank?
  %div#lion-config-table
    %table
      %tr
        %th 应用名称
        %th Key名称
        %th 上线Value
        %th 操作
        %th 状态

      %tbody
      - @ticket.package_tasks.each do |task|
        - if !task.configs.blank?
          - task.configs.each do |config|
            %tr 
              %td  #{config.name}
              %td  #{config.key}
              %td  #{config.online_value}
              %td  #{config.online_op}
              %td  #{config.status}
- else
  %h5
    本上线发布没有配置信息...
