- gss = gss || nil
- error = error || nil
- tag = module_last_tag(package.id)
- prs = prs || nil
%legend= "分组操作(#{package.try(:name)}#{tag})"
-if !gss.blank? || !prs.blank?
  %table{ class: "grouping-strategies-list", "data-package-id" => package.id }
    %thead
      %tr
        %th GroupName
        %th SwimLane
        %th Status
        %th Action
        %th Detail

    %tbody
    -if !gss.blank?
      - gss.each do |gs|
        - prompt = collect_tips(gs)
        %tr{ class: "grouping-item-info", "data-group-id" => gs.id }
          %td
            %a.group-hostname{ :"data-content" => gs.hostname,:title=>"",
                              :"data-placement" => 'top',
                              :"data-trigger" => 'hover' } #{gs.name}
          %td #{gs.swimlane}
          - if gs.in_progress?
            %td
              %i.icon-spinner.icon-spin.icon-large{style: "color: red"}
              #{gs.status_name.to_s.titleize}
          - else
            - if gs.status_name.to_s.include?("success")
              %td{style:"color:#1A1"} #{gs.status_name.to_s.titleize}
            - elsif gs.status_name.to_s.include?("fail")
              %td{style:"color:red"} #{gs.status_name.to_s.titleize}
            - else
              %td #{gs.status_name.to_s.titleize}
          %td
            .btn-group
              - if !gs.ready_deploy? && gs.can_deploy?
                %button.btn{ title: "发布", class: "grouping-strategy-operation-tips btn-primary", "data-content" => "#{prompt}" }
                  %div{class:"grouping-strategy-operation-tips-content",style: "display:none"}
                    = prompt
                  发布
              - if gs.ready_deploy? && gs.can_deploy?                
                - if gs.display_confirm_or_not_when_deploy?
                  %button.btn{check_deploy(gs.id)}
                    发布
                - else
                  %button.btn{ title: "发布", class: "info_to_verify btn-primary", "data-link" =>info_to_verify_project_ticket_grouping_strategy_path(@project, ticket, gs,{package_id: package.id}) }
                    发布
              - if gs.can_kill?
                %button.btn{ title: "terminate", class: "release-terminate release-btn btn-danger", "data-link" => terminate_project_ticket_grouping_strategy_path(@project, ticket, gs)}
                  中止
              - if gs.can_rollback?
                = link_to pre_rollback_project_ticket_grouping_strategy_path(@project, ticket,gs,{package_id: package.id}), title:"点击进入回滚页面", method: :pre_rollback,target: "_blank",method: "get",class: "btn btn-rollback btn-danger" do
                  回滚
              - if gs.can_reset?
                %button.btn{ title: "reset", class: "release-reset ", "data-link" => reset_project_ticket_grouping_strategy_path(@project, ticket, gs) }
                  重置
            - if !prompt.nil? && !gs.can_do?
              %i.icon-question-sign{ class: "grouping-strategy-operation-tips",title: "提示","data-content" => "#{prompt}"}
                %div{class:"grouping-strategy-operation-tips-content",style: "display:none"}
                  = prompt

          %td
            - unless gs.log.nil?
              = link_to gs.log, :target => "_blank",:title=>"点击查看发布详情" do
                %i.icon-film
            - else
              %i.icon-film{ style: 'color:grey', :target => "_blank", :title=>'暂无详情'}
    - if !prs.blank?
      = render partial: "projects/paas_rollouts/rollout", locals: { prs: prs } if prs.present?
      
  %td
    %button.btn.hide_grouping_strategy{:onclick =>"$('.ticket-packing-item').replaceWith('<div class="'"span6 ticket-packing-item"'"><legend> 分组操作</legend><h4>点击左边的War包,进行上线操作...</h4></div>')"}
      %i.icon-remove
        隐藏      
   
- elsif error.blank?
  %h4
    %i.icon-warning-sign{style:""}
      很抱歉，指定package没有分组信息...
    %br
    - if cmdb_info_exist && package.has_paas? && prs.blank?
      %i.icon-warning-sign
        Can't conntect paas server or paas has no groups of package!
    - else    
      %i.icon-warning-sign
        还木有机器,
        %a{href:"http://workflow.dp/wfe/start/77",style:"color:red"}请点我进行线上机器和分组申请
- else
  %h4
    %i.icon-warning-sign
    = error    



#workflow.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h4{ style: "color:red" } 上线单未完成，不能上线
  .modal-body
    %div#unfinished_workflow_items
