%tr{"data-link" => grouping_strategy_project_ticket_path(@project, @ticket, package) }
  %td  #{package.id}
  %td  #{package.name}
  %td
    = select_tag "Tag", module_tag_collections(package.name), class: "project-refs-select chosen"
  %td  
    = link_to task.project.name, project_path(@project)
  %td  #{task.released_at}