- if !@ticket.package_tasks.blank?
  %div
    %table
      %tr
        %th Subject
        %th Description
        %th Assignee
        %th Creator
        %th Released_at
        %th Action

      %tbody
      - @ticket.package_tasks.each do |task|
        %tr 
          %td
            = link_to task.subject, project_task_path(task.project,task)
          %td  #{task.description}
          %td  #{task.assignee.name}
          %td  #{task.creator.name}
          %td  #{task.released_at}
          %td
            = hidden_field_tag :ticket_id, @ticket.id
            = link_to remove_relation_project_task_path(@project, task), class: "btn btn-danger", method: "remove_relation",confirm: "Are you sure to remove relation from this ticket?" do
              %i.icon-remove
              删除
- else
  %h5
    本上线发布没有相关的开发任务...