%fieldset
  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:scope].blank?)}
      = link_to tickets_filter_path(scope: nil) do
        Today
    %li{class: ("active" if params[:scope] == "all")}
      = link_to tickets_filter_path(scope: 'all') do
        All
    %li{class: ("active" if params[:scope] == "since-today")}
      = link_to tickets_filter_path(scope: "since-today") do
        Since Today
    %li{class: ("active" if params[:scope] == 'tomorrow')}
      = link_to tickets_filter_path(scope: 'tomorrow') do
        Tomorrow

  %ul.nav.nav-pills.nav-stacked
    %li{class: ("active" if params[:status].blank?)}
      = link_to tickets_filter_path(status: nil) do
        All
    - Ticket.state_machines[:status].states.each do |state|
      %li{class: ("active" if params[:status].to_i == state.value)}
        = link_to tickets_filter_path(status: state.value) do
          = state.name.to_s.titleize
