%tr{"data-link" => grouping_strategy_project_ticket_path(@ticket.project, @ticket, {tag: package.tag,package_id: package.id})}
  - if package.warname?
    %td  #{package.warname}
  - else
    %td  #{package.name}
  %td
    - if package_belongs_to_self?(package, @project) && !group_for_ticket_package_in_progress?(package,@ticket.project,@ticket) && !paas_for_ticket_package_in_progree?(package,@ticket.project,@ticket)
      = select_tag "Tag", lastest_module_tag_collections(package,@ticket,"ticket"), class: "project-refs-select chosen package_tag ticket-tag-chosen",data: {placeholder: 'Choose a tag......'}
    - else
      = select_tag "Tag", lastest_module_tag_collections(package,@ticket,"ticket"), class: "project-refs-select chosen package_tag ticket-tag-chosen",data: {placeholder: 'Choose a tag......'},disabled: "disabled"
  %td
    =  package_owner(package)
