%li.ticket{class: cycle("odd", "even")}
  .ticket-subject.clearfix
    = link_to project_ticket_path(project, ticket), class: "row_title" do
      = "Rollout Ticket ##{ticket.id}"
      %small.cgray release at
      = "#{ticket.released_at.stamp("2011-08-21")}"
    - unless @project
      %small.cgray belongs to
      = link_to ticket.project.name_with_namespace, project_path(ticket.project)
    %small.pull-right
      = ticket.status_name.to_s.titleize
  .ticket-info.clearfix
    .pull-right
      Last update at #{ticket.updated_at.stamp("2011-08-21")}

    Tasks
    %span.badge.badge-info= ticket.package_tasks.count
    Configs
    %span.badge.badge-info= ticket.configs.count
    
