.span6
  %legend= "包信息(选择一个包进行操作)"
  %table#ticket-packing-list{class: "packages_info"}
    %thead
      %tr
        %th WarName
        %th Tag
        %th CreatedBy
    - if @packages.present?
      - @packages.each do |package|
        = render "ticket_package", package: package, ticket: @ticket
  - if @project.ticket_add_wars_enabled && (@project.rollout_branch.blank? || @project.rollout_branch.java?)
    %td
      = link_to wars_project_ticket_path(@project, @ticket), class: "btn btn-new", method: :put do
        %i.icon-edit
        增加War包

.span6
  .loading.hide
  .ticket-packing-item
    %legend= "分组操作"
    - if @project.rollout_branch.java?
      %h4 点击左边的 War 包,进行上线操作...
    - else
      %h4 点击左边的 Zip 包,进行上线操作...
