= render "projects/rollout_branches/head"

%h3.page-title
  = "Ticket ##{@ticket.id} #{@ticket.released_at} :"

.box-title.clearfix
  .back-link
    .btn-group
      = link_to project_tickets_path(@project), class: "btn" do
        %i.icon-long-arrow-left
        To Rollout Tickets
    .pull-right
      自动刷新状态:
      .make-switch.switch-small.auto-refresh{ 'data-on' => "info" }
        %input.auto-refresh-box{ type: "checkbox", checked: true }

  .row
    %div{style: "margin:0;padding:0;display:inline"}
      %h5.box-title
        = render "wars"
  %br

  %legend= "配置信息"
  %div{style: "margin:0;padding:0;display:inline"}
    %h5.box-title.clearfix
      = render "configs"
      %br

  %legend= "开发任务"
  %div{style: "margin:0;padding:0;display:inline"}
    %h5.box-title.clearfix
      = render "tasks"

= render 'projects/grouping_strategies/deploy_check'

#confirmModal.modal.large.hide.fade

