= form_for [@project, @ticket] ,:url =>{:controller =>'tickets',:action =>'add_wars'} do |f|
  -if @ticket.errors.any?
    .alert.alert-error
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .row
    .span12
      .control-group
        = f.label "modules" do
          Modules: [project][module]
        .controls
          = select_tag :modules, options_for_select(module_compose_ticket_options(@ticket), exist_packages(@ticket) || params[:modules]), multiple: true, data: {placeholder: 'Select wars'}, class: 'chosen', style: "width: 550px"

      .control-group
        = f.label :project_name do
          Project:
        .controls
          = f.text_field :project, class: "input-xxlarge",value: "#{@ticket.project.name}",readonly: true

      .control-group
        = f.label :released_at do
          Released_At:
        .controls
          = f.text_field :released_at, class: "input-xxlarge",value: "#{@ticket.released_at}",readonly: true

    .span5

  .form-actions
    = f.submit '添加', class: "btn btn-create"

