/**
 * ===================================
 * Contain UI block elements:
 *   .ui-box   - for any block & widgets
 * ===================================
 */

/**
 * UI Block
 *
 */
.ui-box {
  background: #FFF;
  margin-bottom: 20px;
  border: 1px solid #CCC;
  word-wrap: break-word;

  &.small-box {
    margin-bottom: 10px;

    .title {
      font-size: 13px;
      line-height: 30px;

      a {
        color: #666;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.ui-box-show {
    margin:20px 0;
    background: #FFF;

    .control-group {
      margin-bottom: 0;
    }
  }

  &.ui-box-danger {
    .title {
      @include linear-gradient(#F26E5E, #bd362f);
      color: #fff;
      text-shadow: 0 1px 1px #900;
      font-weight: bold;
    }
  }

  img { max-width: 100%; }

  pre {
    code {
      background: none !important;
    }
  }

  .ui-box-head,
  .ui-box-body,
  .ui-box-bottom {
    padding: 15px;

    .clearfix {
      margin: 0;
    }
  }

  .ui-box-head {
    .box-title {
      color: $style_color;
      font-size: 18px;
      font-weight: normal;
      line-height: 28px;
      margin: 0;
    }
    h3 {
      margin: 0;
    }
  }

  .ui-box-body {
    border: none;
    background-color: #f5f5f5;
    border: none;
    border-top: 1px solid #eee;
  }

  .ui-box-bottom {
    border-top: 1px solid #eee;
  }

  &.white {
    background: #fff;
  }

  /*ul {
   *  margin: 0;
   *} */

  .title {
    @include bg-gray-gradient;
    border-bottom: 1px solid #CCC;
    color: #456;
    font-size: 16px;
    text-shadow: 0 1px 1px #fff;
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
    margin: 0;

    > a {
      text-shadow: 0 1px 1px #fff;
    }

    form {
      margin-bottom: 0;
      margin-top: 0;
    }

    .btn {
      vertical-align: middle;
      padding: 4px 12px;
      @include box-shadow(0 0px 1px 1px #f2f2f2);
    }

    .nav-pills {
      > li {
        > a {
          padding: 13px;
          margin: 0;
          font-size: 13px;
        }
        &.active {
          > a {
            background: #D5D5D5;
            color: $style_color;
            @include border-radius(0);
            border-radius: 0;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
          }
        }
      }
    }
  }

  &.padded {
    h5, .title {
      margin: -20px;
      margin-bottom: 0;
      padding: 5px 20px;
    }
  }

  .row_title {
    font-weight: bold;
    color: #444;
    &:hover {
      color: #444;
      text-decoration: underline;
    }
  }

  .form-holder {
    padding-top: 20px;
    form {
      margin-bottom: 0;
      legend {
        text-indent: 10px;
      }
      .form-actions {
        margin-bottom: 0;
      }
    }
  }
}

.tab-pane {
  .ui-box {
    margin: 3px 3px 25px 3px;
  }
}

.light-well {
  background: #f9f9f9;
  padding: 15px;
}
