- unless ProtectedBranch.exists?(project_id: @project.id, name: @ci_branch.branch_name)
  - if @ci_branch.light_merge
    = link_to 'LightMerge', edit_project_light_merge_path(@project, @ci_branch.light_merge), class: "btn light-merge-new"
  - else
    = link_to 'New LightMerge', new_project_light_merge_path(@project, 'light_merge[build_branch_id]' => @ci_branch.id), :target => "_blank", class: "btn light-merge-new"

