= form_for [@project, @light_merge], html: { class: "#{controller.action_name}-light-merge form-horizontal" } do |f|
  -if @light_merge.errors.any?
    .alert.alert-error
      %ul
        - @light_merge.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend 1. Select Branches Light Merge 

    .row
      .span5
        .mr_branch_box
          %h5.cgray Base (Base Branch)
          .body
            .padded= f.select :base_branch, options_for_select(@repository.heads.map(&:name), (@light_merge.base_branch || @repository.root_ref)), {}, {class: 'chosen span4'}
        .mr_source_commit

      .span2
        %center= image_tag "light_merge.png", class: 'mr_direction_tip'
      .span5
        .mr_branch_box
          %h5.cgray Merge (Source Branches)
          .body
            .padded= f.select :source_branches, options_for_select(@repository.heads.collect {|r| [r.name, r.name]},@light_merge.source_branches), { include_hidden: false}, multiple: true, data: {placeholder: 'Select branches'}, class: 'chosen span4'
        .mr_target_commit

  %fieldset
    %legend 2. Into Branch with CI

    .row
      .span5
        .mr_branch_box
          %h5.cgray CI branch (Branch to be Merged into)
          .body
            .padded= f.select :build_branch_id, @project.unprotected_ci_branches, { include_blank: "Select branch with CI" }, {class: 'chosen span4'}   

  .control-group

  .form-actions
    = f.submit 'Submit merge request', class: "btn btn-create"
