-if light_merge && light_merge.errors.present?
  .alert.alert-error
    %button{ type: "button", class: "close", "data-dismiss" => "alert"} &times;
    = light_merge.errors.full_messages.first

-if light_merge 
  %table#lmerge-t
    %thead
      %tr
        %th
          = "Light Merge Branches last merged at #{time_ago_in_words(light_merge.updated_at)} ago." 
          .pull-right
            = link_to automerge_check_project_light_merge_path(@project, light_merge), :remote => true, :method => :get, class: "btn lmerge-check" do
              %i.icon-refresh
            = link_to 'refresh and push', automerge_project_light_merge_path(@project, light_merge), :remote => true, :method => :get, class: "btn lmerge-push"
            %button.btn#lmerge-remove
              %i.icon-thumbs-down
      %tr
        %td 
          -if light_merge.conflict_branches
            .automerge_widget.all_ok
              - light_merge.conflict_branches['success'].each do |success_branch|
                = link_to success_branch, project_commits_path(@project,success_branch), :target => "_blank", class: " badge badge-success"
              - light_merge.conflict_branches['conflict'].each do |conflict_branch|  
                = link_to conflict_branch, project_commits_path(@project,conflict_branch), :target => "_blank", class: " badge badge-important"
          
      - unless light_merge.conflict_branches.blank? || light_merge.conflict_branches['log'].empty?
        %tr
          %td
            %ul.nav.nav-tabs
              %li.active
                %a{ "href" =>"#tab_blank", "data-toggle" => "tab" }
                  conflicts:
              - light_merge.conflict_branches['log'].each_key do |branch|
                %li
                  %a{ "href" =>"#tab-#{branch.delete('.').delete('/')}", "data-toggle" => "tab" } 
                    = branch      
            .tab-content
              .tab-pane.active#tab_blank
              - light_merge.conflict_branches['log'].each_key do |branch|
                .tab-pane{ "id" => "tab-#{branch.delete('.').delete('/')}" }       
                  .log-content
                    %pre= light_merge.conflict_branches['log'][branch]

       
