%h5.page_title
  = link_to "http://#{@rollout.jenkins_url}", :target => "_blank", :id => "jenkins_job_name" do
    - if !@rollout.try(:static?)
      %span#build_status{ class: color_status(@job_status) }
        = @job_status || 'jenkins call timeout'
    = @rollout.jenkins_job_name
  - if @rollout.can_delete?
    = link_to project_ppe_branch_path(@project, @rollout), confirm: 'are you sure to delete product ci?', method: :delete, class: "btn btn-remove pull-right", style: "padding: 5px 12px; margin-left: 10px" do
      删除CI并根据betaCI重建
