.static-index{ "data-link" => project_ppe_branches_path(@project, :format => :js) }
  = render "build_status"

  .row
    .span6
      %table
        %thead
          %tr
            %th Status
            %th Date
            %th Commit
            %th Viewlog
          - @rollout.imf.jenkins_datasource.hashable_builds.values.each do |build|
            - status = static_status(build["number"],@rollout.id)
            - status_text =  static_status_text(build["number"],@rollout.id)
            %tr
              %td
                %span{ class: color_status(status || build["result"])}
                  = status_text ||build["result"].try(:downcase)|| 'running'
              %td= build['time']
              %td= @revisions ? @rollout.imf.jenkins_datasource.get_build_revision(build['number']) : ""
              %td
                = link_to 'Viewlog', "#{build['url']}console", class: 'btn btn-small'

    .span5
      = render 'projects/ppe_branches/static/form', disable: false
      = render 'projects/ppe_branches/static/compare', disable: false
      = render 'projects/ppe_branches/static/cache', disable: false
      = render 'projects/ppe_branches/static/nopublish', disable: false
= render partial:"choose_war_to_clear_ppecache"
