= render "projects/rollout_branches/head"

- if @rollout.errors.present?
  = render 'projects/rollout_branches/error_index'
- elsif @rollout.static?
  = render 'projects/ppe_branches/static_index'
- else
  %h2 只有static项目使用
