%li.grouping_strategy.issue{ class: "#{checker.checked ? "closed" : "open" }", id: "checker_#{checker.id}" }
  .grouping_strategy-title.clearfix
    %span.light= "##{checker.id}"
    %span= "#{truncate(checker.description, length: 80)}"
    .make-switch.switch-mini.checker-switch.pull-right{ 'data-on' => "info", 'data-off' => "warning", 'data-on-label' => "已检查", 'data-off-label' => "未检查", 'data-checkerid' => checker.id }
      %input{ type: "checkbox", checked: checker.checked, disabled: (checker.can_confirm_by(current_user) ? false : true) }  


