%form.form-horizontal
  %fieldset
    .control-group.create-style
      %label.control-label 创建方式
      .controls
        %select{ :name => "create_style", style: "width: 150px" }
          %option{:value => 1}= "逐条输入"
          %option{:value => 2}= "来自模板"
  %hr.create-style{style: ' border-style: dotted; '}
  .control-group  
    %label.control-label
    .controls
      %ul#explanatoryText
        %li
        %li
          系统将自动创建'OP上线前检查'、'DBA上线前检查' 和 'QA上线前检查' 三个检查项

= form_for [project, checker], html: { id: "task-checker-form", class: "form-horizontal" } do |f|

  .control-group
    .left
      = f.label '审核者'
      .controls.checker-assignee
        = f.select :assignee_id, @project.users.map { |u| [u.username, u.id] }, { include_blank: true }, { class: 'chosen' }
  .control-group
    .left
      = f.label '检查项', class: "control-label"
      .controls
        = f.text_field :description, style: "width: 600px"
  = hidden_field_tag :task_id, task.id
  = hidden_field_tag :task_path, project_task_path(project, task)
   
  - if checker.persisted?
    .control-group    
      .controls
        = f.submit 'Submit', class: "btn btn-create"



