%p
  = "Task go to #{@task.human_status_name} !#{@task.id}"
%p
  = link_to_gfm truncate(@task.subject, length: 40), project_task_url(@task.project, @task)
%p
  Author: #{@task.try(:creator).try(:name)}
%p
  Assignee: #{@task.try(:assignee).try(:name)}

