%p
  = "Merge Request #{@merge_request.id} was #{@merge_request.state} by #{@updated_by.name}"
%p
  = link_to_gfm truncate(@merge_request.title, length: 40), project_merge_request_url(@merge_request.target_project, @merge_request)
%p
  != merge_path_description(@merge_request, '&rarr;')
%p
  Assignee: #{@merge_request.author_name} &rarr; #{@merge_request.assignee_name}

