%p
  = "Jar deployed to maven storage"
%p
  project: #{@ci_branch.project.name_with_namespace}
%p
  branch: #{@ci_branch.branch_name}
%p
  ci job: #{@ci_branch.jenkins_job_name}
%p
  module: #{@module_name}
%p
  status: #{@status}
%p
  stdout: #{@stdout}