%p
  = "Assign machine with ip #{@machine.ip}"
%p
  project: #{@ci_branch.project.name_with_namespace}
%p
  branch: #{@ci_branch.branch_name}
%p
  ci job: #{@ci_branch.jenkins_job_name}
%p
  module: #{@machine.module_name}
%p
  username: #{@sudo_account}
%p
  password: #{@sudo_password}

