%p
  = "We have released #{@machine.ip} machine ! Details:"
%p
  project: #{@project.name}
- if @ci_branch
  %p
    ci_branch: #{@ci_branch.branch_name}
- if @module_name
  %p
    module_name: #{@module_name}
%p
  last_update_time: #{@last_update_time}
