%p
  = "war deployed for ci `#{@ci_branch.jenkins_job_name}`"
%p
  project: #{@ci_branch.project.name_with_namespace}
%p
  branch: #{@ci_branch.branch_name}
%p
  ci job: #{@ci_branch.jenkins_job_name}

%table{border: 1, style: "border-collapse: collapse", cellpadding: '5px'}
  %tr
    %td war name
    %td machine
    %td release path
    %td deploy status
  - @deployed_wars.each do |dw|
    %tr
      %td= dw[:war].deploy_name
      %td= dw[:war].machine.try(:ip)
      %td= dw[:war].release_path
      %td= dw[:status] == true ? 'success' : 'fail'
