#createImmediatelyRollbackModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 快速全量回滚
    #bind-status

  .modal-body{style:"overflow-y:visible;height:240px;"}
    %font{size:"5px;",style:"color:red;"} 特别注意:
    %ol{style: "color:red;"}
      %li{style:"font-size:16px;"} 快速全量回滚将同时暂停线上所有相关服务！
      %li{style:"font-size:16px;"} 回滚期间，线上服务会全部down掉，除非紧急情况，否则请慎用！
    %hr
    %form.form-horizontal{ "data-project" => @project.to_param }
      %fieldset
        .control-group{style:"padding-bottom:8px;"}
          %label.control-label{style:'width:100px;'} 包
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the package to immediately rollback chosen",options_for_select(own_compose_module_options_for_whole(@project)),multiple: false, data: {placeholder: 'Choose a pacakge......'}, class: 'immediately_rollback_package_select chosen',style:"width:80px"
  .modal-footer
    %a.btn{ title: "add_rollback_package", class: "add_whole_group_package release-btn btn-new","data-link" =>add_whole_group_package_project_rollback_packages_path(@project)} 全量回滚
    %a.btn{ class:"btn-danger","href" =>"#", "data-dismiss" => "modal"} 关闭