#deployCheckModal.modal.hide.fade

  .modal-body
    %div
      %p{style:"color:red;font-size:25px;"}
        %strong
          Warning
      %br    
      %ul{style:'color:red;font-size:16px;'} 
        %li
          已有分组发布失败，建议先fix失败的分组 !!!
        %br
        %li
          继续发布其他分组，可能会导致线上应用风险，是否继续发布 ???
      %br
      %br

  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 取消
    %button.btn.deploy_check_btn{ title: "发布", class: "btn btn-danger"}
      带风险发布