#createRollbackModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 增加回滚包
    #bind-status

  .modal-body{style:"overflow-y:visible;height:300px;"}
    %ol{style: "color:red"}
      %li 先选择要回滚的War包及回滚方式.
      %li 若配置了泳道，则支持按泳道回滚，否则只支持按分组回滚.
      %li 按分组回滚时，只提供已成功发布过的分组.
    %hr

    %div.form-horizontal{ "data-project" => @project.to_param }
      %fieldset
        .control-group{style:"padding-bottom:8px;"}
          %label.control-label{style:'width:100px;'} 包
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the package to rollback",options_for_select(own_compose_module_options_for_rollback(@project)),multiple: false, data: {placeholder: 'Choose a pacakge......'}, class: 'package_select chosen',style:"width:80%"

        .control-group
          %p.control-label{style:'width:100px;'} 分组类型
          .controls{style:"margin-left:120px;"}
            .make-switch.has-switch.switch-small.rollback-switch{ 'data-on' => "info",'data-on-label'=>"分组",'data-off-label'=>"泳道"}
              %input.rollback-switch-box{ type: "checkbox", checked: true }

        .control-group.group-selection
          %label.control-label{style:'width:100px;'} 分组
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the group to rollback", [], multiple: false, data: {placeholder: 'Choose a group......'}, class: 'group_select_modal chosen', style: "width: 25%",url: "#{groups_for_package_project_rollback_packages_path(@project)}"

        .control-group.swimlane-selection
          %label.control-label.swimlane-label{style:'width:100px;'} 泳道
          .controls{style:"margin-left:120px;"}
            = select_tag "to select the swimelane to rollback", [], multiple: false, data: {placeholder: 'Choose a swimlane......'}, class: 'swimlane_select_modal chosen', style: "width: 25%",url: "#{swimlanes_for_package_project_rollback_packages_path(@project)}"
  .modal-footer
    %a.btn{ title: "add_rollback_package", class: "add_rollback_package release-btn btn-new","data-link" =>add_rollback_package_project_rollback_packages_path(@project)} 添加
    %a.btn{ class:"btn-danger","href" =>"#", "data-dismiss" => "modal"} 关闭