%li.grouping_strategy{class: ( current ? '' : 'merge-request closed')}
  .grouping_strategy-title.clearfix
    %span.light= "##{grouping_strategy.id}"
    %span{class: ( current ? '' : 'light')}= "#{grouping_strategy.appname} (#{grouping_strategy.name})"
    %span.pull-right{ class: color_status(grouping_strategy.status_name.to_s.titleize) }
      = grouping_strategy.status_name.to_s.titleize

  .grouping_strategy-info.clearfix
    %span.light
      - unless grouping_strategy.tag.blank?
        %i.icon-time{ style: 'color:darkgoldenrod' }= grouping_strategy.tag
    .pull-right.light
      %small updated #{time_ago_in_words(grouping_strategy.updated_at)} ago