.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 版本确认

.modal-body
  %div
    是否确认发布?
    %br
    %br
    - unless @branch_error.blank?
      %div{style: 'color: #f0ad4e'}
        %p 本次发布的内容:
        %div{style: 'padding-left: 20px'}
          Branch: `#{@branch_error.current_branch}'
          %br
          Commit: `#{@branch_error.current_commit}'
          %br
          Tag: `#{@branch_error.current_tag}'
        %br
        %p 未包含上次发布的内容:
        %div{style: 'padding-left: 20px'}
          Branch: `#{@branch_error.pre_branch}'
          %br
          Commit: `#{@branch_error.pre_commit}'
          %br
          Tag: `#{@branch_error.pre_tag}'

.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 取消
  %button.btn{ title: "发布", class: "release-deploy release-btn btn-primary","data-link" =>deploy_by_group_project_ticket_grouping_strategy_path(@project, @ticket, @gs, {package_id: @package.id})}
    发布
