- gss = gss || nil
%td
= select_tag "Select the group to rollback", options_for_select(compose_group_options(gss)), multiple: false, data: {placeholder: 'Select group'}, class: 'select_package_group chosen', style: "width: 200px"
%td
= select_tag "Select the tag to rollback", options_for_select(compose_group_options(gss)), multiple: false, data: {placeholder: 'Select tag'}, class: 'select_package_group chosen', style: "width: 200px"