.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 Lion 回滚确认

.modal-body
  %ol{style: "color:red;font-size:16px;"}
    %li 默认情况下，回滚会同时回滚lion的配置
    %li 如果不想回滚lion，请将下面的switch置为否      

  %hr          
  %table{class:"lion_config"}
    %thead
      %tr
        %td key
        %td 当前值
        %td
        %td 回滚值
    %tbody
      - @diffs.result.each do |diff|
        %tr
          %td
            = diff["key"]
            %label.hide.checkbox
              %input{ type: "checkbox", checked: true, name: diff["key"] }
                = diff["key"]
          %td= diff["current"] || 'key不存在'
          %td
            %i.icon-arrow-right.cred
          %td= diff["snapshot"] || 'key不存在'

.modal-footer
  / %p.pull-left{style: 'color: red'}
  /   如果不用回滚Lion,请进入
  /   = link_to current_project_tickets_path(@project) do
  /     发布页面
  / %p.pull-left{style: 'color: red'}
  /   ，选择tag重新发布。

  %div{style:'color:blue;font-size:16px;margin-right:0px;'}  
    是否回滚lion:
    .make-switch.has-switch.switch-small.rollback-lion-switch{ 'data-on' => "info",'data-on-label'=>"是",'data-off-label'=>"否"}
      %input.rollback-lion-switch-box{ type: "checkbox", checked: true }
    %button.btn{ title: "回滚", class: "release-rollback release-btn btn-danger","data-link" =>rollback_project_rollback_packages_path(@project,{package_id: @gs.package_id,id:@gs.id})} 回滚