- if !gss_rollback_today.blank?
  %span5
    %h3.page-title
    %table{ class: "rollbacking-packages-list", "data-package-id" =>"rollbacking-list" }
      %thead
        %tr
          %th WarName
          %th GroupName
          %th From_tag
          %th To_tag
          %th Released_at
          %th Rollback_at
          %th Status

      %tbody
      - gss_rollback_today.each do |gs|
        %tr{ class: "rollbacking-package-list-info", "data-group-id" => gs.id}
          %td
            %a.group-url{:"data-placement" => 'top',:"data-trigger" => 'hover' } #{gs.appname}
          %td #{gs.name}
          %td #{gs.package.tag}
          %td
            = select_tag "Tag", lastest_module_tag_collections(gs.package,gs.package.ticket,"rollback"), class: "project-refs-select chosen package_tag",disabled:"disabled"
          - released_at = !gs.ticket.nil? ? gs.ticket.released_at : gs.created_at.strftime("%Y-%m-%d")
          - if !gs.released_on.nil?
            %td #{gs.released_on.localtime.strftime("%Y-%m-%d %H:%M:%S")}
          - else
            %td
          - if !gs.rollback_on.nil?
            %td #{gs.rollback_on.localtime.strftime("%Y-%m-%d %H:%M:%S")}
          - else
            %td
          %td #{gs.status_name.to_s.titleize }