%table{ class: "to-be-rollback-packages-list"}
  - if !gss.blank?
    %thead
      %tr
        %th WarName
        %th Swimlane
        %th GroupName
        %th From_tag
        %th To_Tag
        %th released_at
        %th Status
        %th Action

    %tbody
    - gss.each do |gs|
      %tr{ class: "to-rollback-package-list-info", "data-group-id" => gs.id}
        %td
          %a.group-url{ :"data-content" => "grouping_strategy_url", :"data-placement" => 'top',:"data-trigger" => 'hover' } #{gs.appname}
        %td #{gs.swimlane}
        %td #{gs.name}
        %td #{gs.package.tag}
        %td
          - if gs.group_id != 0
            = select_tag "Tag", module_rollback_tag_collections(gs), class: "project-refs-select package_tag_rollback chosen ",data: {placeholder: 'Choose a tag......'}
          - else
            = select_tag "Tag", whole_amount_rollback_tag(gs), class: "project-refs-select package_tag_rollback chosen ",data: {placeholder: 'Choose a tag......'}
        - if !gs.released_on.nil?
          %td #{gs.released_on.localtime.strftime("%Y-%m-%d %H:%M:%S")}
        - else
          %td
        %td #{status(gs)}
        %td
          -if !gs.in_progress?
            %button.btn{ title: "回滚", class: "info_to_verify_when_rollback btn-danger", "data-link" =>rollback_confirm_project_rollback_packages_path(@project, {package_id: gs.package_id,id:gs.id}) }
              回滚
          - if gs.ticket_id.nil?
            %button.btn{ title: "删除", class: "delete_rollout_package btn-danger", "data-link" =>delete_rollback_package_project_rollback_packages_path(@project, {package_id: gs.package_id,id:gs.id}) }
              删除