= render partial: "projects/grouping_strategies/head_tabs"
%span5
  %h3.page-title
  %legend= "等待回滚"
  = render partial: "projects/grouping_strategies/to_be_rollback",locals:{gss: @gss}
%div
  %gss_rollback_today
    %button.btn{add_rollback_package}
      增加回滚包
    %button.btn.btn-danger{add_immediately_rollback_package}
      快速全量回滚
  .br
%legend= "当日回滚"
= render partial: "projects/grouping_strategies/rollbacking",locals:{gss_rollback_today: @gss_rollback_today}

= render 'projects/grouping_strategies/edit_rollback_package'
= render 'projects/grouping_strategies/add_immediately_rollback_package'

#confirmModal.modal.large.hide.fade