- if dep.persisted?
  %tr{"data-id" => dep.id}
    %td
      = dep.target_ci_branch.project.name_with_namespace if dep.target_ci_branch
    %td
      - if dep.target_ci_branch
        = dep.target_ci_branch.jenkins_job_name
      - else
        %font{style:"color:red;"} 依赖的CI分支被删掉了
    %td
      = dep.module_name
    %td
      = link_to 'Delete', project_ci_branch_phoenix_dep_path(project, ci_branch.branch_name, dep), class: "btn btn-small btn-remove"
