%tr
  %td
    = project.name_with_namespace
  %td
    = ci_branch.branch_name
  %td
    = pom_module[:module_name]
  %td
    = module_deploy?(ci_branch.id, pom_module[:module_name]) ? '是' : '否'
  %td
    = link_to module_deploy_command(ci_branch.id, pom_module[:module_name])["command"], module_deploy_config_for_phoenix_project_ci_branch_path(project,ci_branch.branch_name,{"module_name" => pom_module[:module_name], "command" => module_deploy_command(ci_branch.id, pom_module[:module_name])["command"]}), method: :post, class: "btn btn-small #{module_deploy_command(ci_branch.id, pom_module[:module_name])["button"]}"
