= render "projects/ci_branch/head"

= form_for @dep, url: project_ci_branch_phoenix_deps_path, method: :post, html: { class: "deps-form form-horizontal" }  do |f|
  .row
    .span4
      .control-group
        = f.label :project, class: "control-label"
        .controls
          = select :m, :project_id, projects_options, {:include_blank => true}, {class: 'chosen', "data-placeholder" => "Choose a project..."}

      .control-group
        = f.label "ci branch", class: "control-label"
        .controls
          = f.select :target_build_branch_id, [], {:include_blank => true}, {class: 'chosen', "data-placeholder" => "Choose a ci branch...", "data-url" => "#{ci_branches_project_ci_branch_phoenix_path}"}

      .control-group
        = f.label "module name", class: "control-label"
        .controls
          = f.select :module_name, [], {:include_blank => true}, {class: 'chosen', "data-placeholder" => "Choose a module...", "data-url" => "#{modules_project_ci_branch_phoenix_path}"}

      .control-group
        = label_tag nil, nil, class: "control-label"
        .controls
          = f.hidden_field :build_branch_id
          = f.submit 'Add Dependent Module', class: "btn btn-save"

    .span8
      %div{class: "alert alert-info"}
        Dependent Modules
      %table#phoenix-deps-list
        %thead
          %tr
            %th Project
            %th Ci Branch
            %th Module
            %th.cred Command
        %tbody
          - @ci_branch.deps.each do |dep|
            = render partial: "dep", locals: {project: @project, dep: dep, ci_branch: @ci_branch}

      %div{class: "alert alert-info"}
        Self-contained Modules
      %table#self-deps-list
        %thead
          %tr
            %th Project
            %th Ci Branch
            %th Module
            %th 是/否部署
            %th.cred Command
        %tbody
          - @ci_branch.modules_with_type('war').each do |pom_module|
            = render partial: "mod", locals: {project: @project, pom_module: pom_module, ci_branch: @ci_branch}
.pull-right
  %button.btn.btn-primary#ci-build-from-deps{ "data-link" => project_ci_branch_path(@project, @ci_branch.branch_name), "data-jenkins-job-name" => @ci_branch.jenkins_job_name }
    Build Now
