#beta_deploy_logs {
  font-size: 1.2em;

  span.vote,span.unvote {
    margin: 0px 5px;
    display: block;
    float: left;
    cursor: pointer;

    i {
      font-size: 1.2em;
      display: block;
      color: #aaa;
      width: 20px;
      float: left;
    }

    i:hover {
      color: #666;
    }

    i.active {
      color: black;
    }

    span.x {
      font-size: 0.8em;
      color: black;
      display: block;
      margin: 0px 1px;
      float: left;
    }

    span.vote_count {
      font-size: 0.8em;
      color: black;
      display: block;
      float: left;
    }
  }

  span.disabled {
    cursor: default;
  }
}
