html {
  overflow-y: scroll;
}

/** LAYOUT **/

body {
  margin-bottom: 20px;
}

.container {
  padding-top: 0;
  z-index: 5;
}

.container .content {
  margin: 0 0;
}

.author_link {
  color: $link_color;
}

.help li { color:$style_color; }

.back-link {
  font-size: 14px;
}

table a code {
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.loading {
  margin: 20px auto;
  background: url(ajax_loader.gif) no-repeat center center;
  width: 40px;
  height: 40px;
  &.loading-gray {
    background: url(ajax_loader_gray.gif) no-repeat center center;
  }
}

/** FLASH message **/
.flash-container {
  display: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 5px;
  width: 100%;
  opacity: 0.8;
  z-index: 9999;

  .flash-notice {
    background: #49C;
    padding: 10px;
    text-shadow: 0 1px 1px #178;
  }

  .flash-alert {
    background: #C67;
    text-shadow: 0 1px 1px #945;
    padding: 10px;
  }
}

span.update-author {
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
  strong {
    font-weight: bold;
    font-style: normal;
  }
}

.user-mention {
  color: #2FA0BB;
  font-weight: bold;
}

.label {
  padding: 1px 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.field_with_errors {
  display: inline;
}

ul.breadcrumb {
  background: white;
  border: none;
  li {
    display: inline;
    text-shadow: 0 1px 0 white
  }

  a {
    font-size: 16px;
  }
}

.line_holder {
  &:hover {
    td {
      background: #FFFFCF !important;
    }
  }
}

p.time {
  color: #999;
  font-size: 90%;
  margin: 30px 3px 3px 2px;
}

.search-holder {
  label, input {
    height: 30px;
    padding: 0;
    font-size: 14px;
    margin-left: 5px
  }
  label {
    line-height: 30px;
    color: #666;
  }
  .search-field {
    padding-left: 10px;
    width: 168px;
  }
}

.highlight_word {
  border-bottom: 2px solid #F90;
}

.status_info {
  font-size: 14px;
  padding: 5px 15px;
  line-height: 26px;
  text-align: center;
  float: right;
  position: relative;
  top: -5px;
  @include border-radius(4px);
  margin-left: 5px;

  &.success {
    background: #4A4;
    color: #FFF;
  }

  &.error {
    background: #DA4E49;
    color: #FFF;
  }

  &.info {
    background: #4994DA;
    color: #FFF;
  }

  &.normal {
    background: #AAAAAA;
    color: #FFF;
  }

  &.status-mini {
    font-size: 12px;
    padding: 0 7px;
  }

}

.thin_area{
  height: 150px;
}

// Fixes alignment on notes.
.new_note {
  label {
    text-align: left;
  }
}

// Fix issue with notes & lists creating a bunch of bottom borders.
li.note {
  img { max-width:100% }
  .note-title {
    li {
      border-bottom:none !important;
    }
  }
}

.markdown {
  img {
    max-width: 100%;
  }
}

.wiki_content code, .readme code{
  background-color: inherit;
}

.team_member_show {
  td:first-child {
    color: #aaa;
  }
}

.rss-icon {
  img {
    width: 24px;
    vertical-align: top;
  }

  strong {
    line-height: 24px;
  }
}

.supp_diff_link,
.show-all-commits {
  cursor: pointer;
}

.merge-request,
.issue {
  &.today{
    background: #EFE;
    border-color: #CEC;
  }
  &.closed {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }
  &.merged {
    background: #F5f5f5;
    border-color: #E5E5E5;
  }
}

.git_error_tips {
  @extend .span6;
  text-align: left;
  margin-top: 40px;
  pre {
    background: white;
    border: none;
    font-size: 12px;
  }
}

.error-message {
  padding: 10px;
  background: #C67;
  padding-left: 20px;
  margin: 0;
  color: #FFF;

  a {
    color: #fff;
    text-decoration: underline;
  }
  &.centered {
    text-align: center;
  }
}

.warning_message {
  border-left: 4px solid #ed9;
  color: #b90;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffe6;
  padding-left: 20px;

  &.centered {
    text-align: center;
  }
}

.oauth_select_holder {
  padding: 20px;
  img {
    padding: 5px;
    margin-right: 10px;
  }
  .active {
    img {
      border: 1px solid #ccc;
      background: $hover;
      @include border-radius(5px);
    }
  }
}

.btn-build-token {
  float: left;
  padding: 6px 20px;
  margin-right: 12px;
}

.gitlab-promo {
  a {
    color: #aaa;
    margin-right: 30px;
  }
}

pre {
  &.clean {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.milestone {
  &.milestone-closed {
    background: #eee;
  }
  .progress {
    margin-bottom: 0;
    margin-top: 4px;
  }
}

h1.http_status_code {
  font-size: 56px;
  line-height: 100px;
  font-weight: normal;
  color: #456;
}

.control-group {
  .controls {
    span {
      &.descr {
        position: relative;
        top: 2px;
        left: 5px;
        color: #666;
      }
    }
  }
}

img.emoji {
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

.appear-data {
  display: none;
}

.chart {
  overflow: hidden;
  height: 220px;
}

#module-machine-list {
  .popover .arrow {
    background: transparent;
    padding: 0px;
    @include border-radius(0px);
  }
}

.navless-container {
  margin-top: 20px;
}

.description-block {
  @extend .light-well;
  @extend .light;
  margin-bottom: 10px;
}

.deps-form {
  .control-label {
    width: 80px;
  }
  .controls {
    margin-left: 50px;
  }
}
.performance-test-div{
  background-color: #d9edf7;

}

.performance-test-td{
  background-color: #d9edf7;
}

.performance-test-label {
  padding-right:40px;

}


.performance-test-form {
  .control-label {
    width: 80px;
  }
  .controls {
    margin-left: 100px;
  }
}   

.group-name {
  font-size: 14px;
  line-height: 24px;
}

table {
  td.permission-x {
    background: #D9EDF7 !important;
    text-align: center;
  }
}


.zeroclipboard-is-hover {
  @extend .btn:hover;
}

.zeroclipboard-is-active {
  @extend .btn:active;
}

.large-modal {
  @extend .modal;
  width: 960px;
  margin-left: -480px;
}

#packing-list {
  .btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.release-btn {
  cursor: pointer;
}

.btn-rollback:hover{
  cursor: pointer;  
}

.btn-rollback{
  background-color: #DEDEDE;
  color: black
}

.log-table {
  td {
    padding: 4px;
  }
}
