// Place all the styles related to the rollout_branches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal.large {
    width: 80%; 
    margin-left:-40%; 
}

.ticket-tag-chosen {
    width: 200px;
}

.popover {
  max-width: 600px;
}