/* CHZN reset few styles */
.chosen-container-single .chosen-single {
  background: #FFF;
  border: 1px solid #bbb;
  box-shadow: none;
}
.chosen-container-active .chosen-single {
  background: #fff;
}

.chosen-container-active .chosen-container-multi{
  width:300px;
}

.chosen-container .chosen-container-multi .chosen-with-drop .chosen-container-active{
 width:300px; 
}

.ajax-users-select {
  width: 400px;

  &.input-large {
    width: 210px;
  }
}

.user-result {
  .user-image {
    float: left;
  }
  .user-name {
  }
  .user-username {
    color: #999;
  }
}

/** Branch/tag selector **/
.project-refs-form {
  margin: 0;
  span {
    background:none !important;
    position:static !important;
    width:auto !important;
    height:auto !important;
  }
}
.project-refs-select {
  width: 120px;
}

.project-refs-form .chosen-container {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;

  .chosen-drop {
    min-width: 400px;
    .chosen-results {
      max-height: 300px;
    }
    .chosen-search input {
      min-width: 365px;
    }
  }
}

.change-branch-form {
  position: relative;
  left: 100px;
  margin: 0px;
}

.change-branch-select{
  width: 200px;
}

.change-branch-form .chosen-container {
  position: relative;
  left: 0;
  margin-right: 10px;

  .chosen-drop {
    min-width: 400px;
    .chosen-search input {
      min-width: 365px;
    }
  }
}



/** Fix for Search Dropdown Border **/
.chosen-container {
  min-width: 100px;

  .chosen-search {
    input:focus {
      @include box-shadow(none);
    }
  }

  .chosen-drop {
    margin: 7px 0;
    min-width: 200px;
    border: 1px solid #bbb;
    @include border-radius(0);

    .chosen-results {
      margin-top: 5px;
      max-height: 300px;

      .group-result {
        color: $style_color;
        border-bottom: 1px solid #EEE;
        padding: 8px;
      }
      .active-result {
        @include border-radius(0);

        &.highlighted {
          background: $hover;
          color: $style_color;
        }
        &.result-selected {
          background: #EEE;
          border-left: 4px solid #CCC;
        }
      }
    }

    .chosen-search {
      @include bg-gray-gradient;
      input {
        min-width: 165px;
        border-color: #CCC;
      }
    }
  }
}

.chosen-container .chosen-single,
.chosen-container.chosen-with-drop .chosen-single {
  @include bg-light-gray-gradient;

  div {
    background: transparent;
    border-left: none;
  }

  span {
    font-weight: normal;
  }
}

/** Select2 styling **/
.select2-container .select2-choice {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, whitesmoke), to(#e1e1e1));
  background-image: -webkit-linear-gradient(whitesmoke 6.6%, #e1e1e1);
  background-image: -moz-linear-gradient(whitesmoke 6.6%, #e1e1e1);
  background-image: -o-linear-gradient(whitesmoke 6.6%, #e1e1e1);
}

.select2-container .select2-choice div {
  border: none;
  background: none;
}

.select2-drop {
  padding-top: 8px;
}

.select2-no-results, .select2-searching {
  padding: 7px;
  color: #666;
}

.chosen-container .chosen-single div b {
  background-position-y: 0px !important;
}

.chosen-container .chosen-drop .chosen-search input {
  background-position-y: -24px !important;
}

/** explanatoryText **/
ul#explanatoryText li {
    display: none;
}

ul#explanatoryText li.descriptor {
    display: list-item;
    color: #999;
}
