.terminal {
  width: 480px;
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
  @include border-radius(5px);
  @include box-shadow(black 0 0 25px);

  .terminal-titlebar {
    height: 20px;
    @include border-radius(5px 5px 0 0);
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px);
    background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px);
    background: -o-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px);
    padding: 2px 0 0 4px;
    position: relative;

    .terminal-btn {
      position: absolute;
      a {
        display: inline-block;
        margin: 2px 2px 3px 2px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: #f36;
        @include box-shadow(0px 1px 0px rgba(255,255,255,.5));
        text-indent: -9999px;
        position: relative;
      }

      a:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
        @include box-shadow(inset 0 1px 4px rgba(0, 0, 0, .8));
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
      }

      a:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 1px;
        bottom: 1px;
        right: 1px;
        border-radius: 100%;
        background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
        background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
        background: -o-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
        box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
      }

      a.terminal-close {
        background: #FD4E4E;
      }

      a.terminal-minimize {
        background: #F3BB55;
      }

      a.terminal-maximize {
        background: #96D16F;
      }
    }

    .terminal-title {
      color: #666;
      text-align: center;
    }

  }
  .terminal-body {

    background-color: black;
    opacity: 0.8;
    @include border-radius(0 0 5px 5px);
    overflow: scroll;
    color: #EEE;

    .terminal-content {
      padding: 4px 6px;
      .terminal-line {
        padding: 2px 0;
      }
    }
  }
}
