- logs.each_with_index do |log, index|
  .node
  - if index.even?
    %l.left.box
      %i.icon-calendar
        &nbsp;&nbsp;
        = Time.parse(log.log_at).strftime('%F %T')

      %br

      %i.icon-user
        &nbsp;&nbsp;
        = log.author

      %br

      %i.icon-suitcase
        &nbsp;&nbsp;
        = Package.select(:name).find_by_id(log.package_id).name

      %br

      %i.icon-tag
        &nbsp;&nbsp;
        = Package.select(:tag).find_by_id(log.package_id).tag

      %br

      %i.icon-comment
        &nbsp;&nbsp;
        = log.message

      %br
  - else
    %li.right.box
      %i.icon-calendar
        &nbsp;&nbsp;
        = Time.parse(log.log_at).strftime('%F %T')

      %br

      %i.icon-user
        &nbsp;&nbsp;
        = log.author

      %br

      %i.icon-suitcase
        &nbsp;&nbsp;
        = Package.select(:name).find_by_id(log.package_id).name

      %br

      %i.icon-tag
        &nbsp;&nbsp;
        = Package.select(:tag).find_by_id(log.package_id).tag

      %br

      %i.icon-comment
        &nbsp;&nbsp;
        = log.message

      %br
  .clear
