:plain
  RolloutLog.changeStatus();

- if @logs.count.zero?
  RolloutLog.disableMore();

- else
  var html = "#{escape_javascript(render(partial: 'logs', locals: { logs: @logs }, layout: false))}";
  - if @logs.count < @per_page
    RolloutLog.disableMore();
    RolloutLog.appendLogs(html);
  - else
    RolloutLog.changeHref(#{@page+1});
    RolloutLog.appendLogs(html);
