= render 'projects/rollout_branches/head'

- if @logs.present?
  %ul.timeline
    = render partial: 'logs', locals: { logs: @logs }

- if @logs.size == @per_page
  .more
    = link_to 'More', project_rollout_logs_path(page: 2), data: { remote: true }, id: 'more'

    %span#refresh.undisplay
      %i.icon-refresh.icon-spin
      Loading...

- elsif @logs.size > 0
  .empty
    No More
- else
  .empty
    No Logs
