%td{width: "130px"}
  %font{color: "gray"}= "[#{log.log_at.to_time.to_s(:db)}]"
%td{width: "100px"}
  -if log.author.present?
    %span.author_name= log.author
  -else
    %span.author_name= "system" 
%td
  = colorful(log.message)
%td
  - if log.ticket_id && log.project_path
    ticket: 
    = link_to log.ticket_id, project_ticket_path(project_id: log.project_path, id: log.ticket_id)
  - if log.project_path
    project:
    = link_to log.project_name || log.project_id, project_path(log.project_path)
  - if log.group_name
    group:
  = link_to log.group_name || log.group_id, group_path(log.group_name)
    
