.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 任务完成情况

.modal-body
  %div
    - if @tasks.blank?
      %h5 本次合入的分支没有对应的开发任务。是否合并？
    - else
      %table
        %thead
          %tr
            %td 任务
            %td 上线时间
            %td 状态
          %tbody
            - @tasks.each do |task|
              %tr
                %td
                  = task.subject
                %td
                  = task.released_at
                %td
                  = task.status_name.to_s.titleize

.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 取消
  %button.btn{ title: "提交合并申请", class: "btn-primary create-merge-request-info"}
    提交合并申请
