#editDomainName.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 alpha 测试环境域名设置
    #bind-status
  .modal-body
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label  IP
          .controls
            %input#ip_edit
        .control-group
          %label.control-label  域名
          .controls
            %input#domain_name_edit
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
    %a.btn.btn-primary#edit_domain_name 配置域名

#deleteDomainName.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 alpha 测试环境域名清理
  .modal-body
    %form.form-horizontal
      %fieldset
        .control-group
          %label.control-label  IP
          .controls
            %input#ip_delete
        .control-group
          %label.control-label  域名
          .controls
            %input#domain_name_delete
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a.btn-danger.btn#delete_domain_name  删除域名 
