#editModal.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 Machine

  .class.modal-body#assign-machine{ "data-project" => @project.to_param }
    %p 解除绑定仅删除测试设备与 Git 分支的关联，此设备仍然属于本项目。下次可以通过 “手动绑定” 把它用于其他分支。
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#unbind-machine.btn-danger.btn 解除绑定
     