= form_tag project_virtual_machines_path(@project), method: 'get' do
  %fieldset
    %ul.nav.nav-pills.nav-stacked
      %li{class: ("active" if (params[:f] == 'alpha_all' || !params[:f]))}
        = link_to project_virtual_machines_path(@project, f: 'alpha_all') do
          alpha_all
      %li{class: ("active" if (params[:f] == 'alpha_used'))}
        = link_to project_virtual_machines_path(@project, f: 'alpha_used') do
          alpha_used    


