.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 Catalina Log

.modal-body
  %pre=@partial_log.to_s.force_encoding("UTF-8")

.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭