.modal-header
  %a.close{ "data-dismiss" => "modal" } ×
  %h3 Local Nginx

.modal-body{style: "overflow-y: hidden;"}
  %div
    = form_tag(update_local_nginx_project_virtual_machine_path(@project, @machine), id: "nginx-conf-form", method: :post, class: "form-horizontal") do
      .file-editor
        .file-content.code
          %pre#editor=@config_file_content
      .form-actions
        = hidden_field_tag 'content', '', id: "file-content"

.modal-footer
  %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭
  %a.btn.nginx-local-conf-button.btn-primary 提交


:javascript
  ace.config.set("modePath", "#{Gitlab::Application.config.assets.prefix}/ace-src-noconflict")
  var ace_mode = "markdown";
  var editor = ace.edit("editor");
  if (ace_mode) {
    editor.getSession().setMode('ace/mode/' + ace_mode);
  }

  $(".nginx-local-conf-button").click(function(){
    $("#file-content").val(editor.getValue());
    $("#nginx-conf-form").submit();
  });

