#setLongTerm.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 申请长期借用设备
  .class.modal-body#assign-machine{ "data-project" => @project.to_param }
    %p 项目组如果需要长期使用设备,请点击"确定"。确保项目终止前系统不会收回此设备。
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#borrow_long_term.btn 确定

#setTempTerm.modal.hide.fade
  .modal-header
    %a.close{ "data-dismiss" => "modal" } ×
    %h3 取消长期占用设备
  .class.modal-body#assign-machine{ "data-project" => @project.to_param }
    %p 设备在两周内都没有被使用（没有绑定给分支，或分支没有变更），系统将收回该设备，分配给其他项目使用。
  .modal-footer
    %a.btn{ "href" =>"#", "data-dismiss" => "modal"} 关闭 
    %a#borrow_temporary.btn 确定