= render 'edit_machine'
= render 'set_tenancy'

%h3.page_title
  Machines
%br

.row
  .span2
    = render 'filter'
  .span10
    %ul.well-list
      - if can? current_user, :push_code, @project
        - if @machines.blank?
          %li
            %h4.nothing_here_message There is no machine used in alpha environment !
        - else
          %table.module-machine-list
            %thead
              %tr
                %th Branch
                %th Module
                %th IP
                %th Name / Password
                %th 域名
                %th 借用
                %th{ style:'width: 45%' }
            - @machines.each do |m|
              %tr
                %td
                  - if m.ci_branch
                    %a{href: project_ci_branch_path(@project, m.ci_branch.branch_name)} #{m.ci_branch.branch_name}
                %td
                  = m.module_name
                %td.ip
                  %span.ip-addr
                    = m.ip
                %td
                  = m.username + ' / ' + m.password unless m.username.blank?
                %td.domain-name
                  - if get_dn_by_ip(m.ip).nil?
                    %span{ class: 'domain-ref' }
                      尚未设置
                  - else
                    = link_to "http://#{get_dn_by_ip(m.ip)}:#{Settings.dp['dev_web_service_port']}", :target => "_blank" do
                      %span{ class: 'domain-ref' }
                        = get_dn_by_ip(m.ip)
                %td.machine-tenancy
                  = get_machine_tenancy(m.ip)
                %td.manage-domain-name{ "ip" => m.ip, "domain_name" => get_dn_by_ip(m.ip) }
                  %button.btn.btn-small.btn-remove.release-machine
                    释放
                  %button.btn.btn-small{domain_type(get_dn_by_ip(m.ip))}
                    %i.icon-edit
                    域名
                  = link_to "路由管理", "http://slb.alpha.dp/console/vs/w.alpha.dp#location", class: 'btn btn-small', target: "_blank"
                  %button.btn.btn-small{ class: "local_nginx", "data-link" =>local_nginx_project_virtual_machine_path(@project,m.id) }
                    本地Nginx
                  - lock_button_style = 'display:none' if m.tenancy == 9 or m.action_type != 'apply'
                  %button.btn.btn-small.borrow-long-term{ "data-toggle" => "modal", "href" => '#setLongTerm', "data-keyboard" => "false", style: "#{lock_button_style}" }
                    %i.icon-lock
                    上锁
                  - unlock_button_style = 'display:none' if m.tenancy != 9
                  %button.btn.btn-small.borrow-temporary{ "data-toggle" => "modal", "href" => '#setTempTerm', "data-keyboard" => "false", style: "#{unlock_button_style}" }
                    %i.icon-unlock
                    解锁
                  - if m.ci_branch
                    %input#build_branch_id{ type: "hidden", value: m.ci_branch.id }
                    %button.btn.btn-small.unbind{modules_type(m.ip)}
                      解绑

      - else
        %li
          %h4.nothing_here_message No rights to see any machine!

= render 'edit_domain_name'

#editLocalNginxModal.modal.large.hide.fade
#jbossLogModal.modal.large.hide.fade
