= render "projects/rollout_branches/head"

= form_for 'cache', url: project_rollout_branches_path(@project), method: :post, html: { class: "form-horizontal", id: "rollout-form" } do |f|

  %fieldset
    %legend clear ip cache
    .row
      .span6
        .control-group
          = f.label :ip, class: "control-label"
          .controls
            = f.text_field :ip, class: 'span4'

        .control-group
          = f.label :enviroment, class: "control-label"
          .controls
            = f.select :enviroment, options_for_select(['prelease', 'release']), {}, { class: 'chosen span4'}

        .control-group
          = f.label "action", class: "control-label"
          .controls
            .btn-toolbar
              .btn-group
                = link_to 'clear cache', "javascript:void(0);", "data-link" => clear_project_cache_path(@project), class: 'btn btn-small clear-ip-cache'
