%h3.page-title
  WebHooks

%hr.clearfix

= form_for [@project, @hook], as: :hook, url: project_hooks_path(@project), html: { class: 'form-inline' } do |f|
  -if @hook.errors.any?
    .alert.alert-error
      - @hook.errors.full_messages.each do |msg|
        %p= msg
  .control-group
    = f.label :url, "URL:"
    .controls
      = f.text_field :url, class: "text_field input-xxlarge input-xpadding", placeholder: 'http://example.com/trigger-ci.json'

  .control-group
    .controls
      = f.check_box :push_events, class: 'pull-left'
      = f.label :push_events, style: 'text-align: left; width: 350px; margin-left: 20px; padding-top: 3px;' do
        %strong Push events
        %p.light
          This url will be triggered by a push to the repository

  .control-group
    .controls
      = f.check_box :merge_requests_events, class: 'pull-left'
      = f.label :merge_requests_events, style: 'text-align: left; width: 350px; margin-left: 20px; padding-top: 3px;' do
        %strong Merge requests events
        %p.light
          This url will be triggered when a merge request is created

  .form-actions
    = f.submit "Add Web Hook", class: "btn btn-create"
%hr

-if @hooks.any?
  .ui-box
    .title
      Hooks (#{@hooks.count})
    %table.table
      - @hooks.each do |hook|
        %tr
          - %w(push_events merge_requests_events).each do |trigger|
            - if hook.send(trigger)
              %td
                %span.label.label-gray= trigger.titleize
          %td
            %span.badge.badge-info POST
          %td
            %span.monospace= hook.url

          %td{style: 'width: 180px'}
            = link_to 'Test Hook', test_project_hook_path(@project, hook), class: "btn btn-small grouped"
            = link_to 'Remove', project_hook_path(@project, hook), confirm: 'Are you sure?', method: :delete, class: "btn btn-remove btn-small grouped"
