- user_id = current_user ? current_user.id : nil
- projects = current_user ? current_user.watched_project_ids : []

:javascript
  Gitpub = {
    fayeServer: "#{Settings.faye.url}",
    fayeUserId: "#{user_id}",
    fayeProjects: #{projects}
  };
