%header.navbar.navbar-static-top.navbar-gitlab
  .navbar-inner
    .container
      %div.app_logo
        %span.separator
        = link_to root_path, class: "home has_bottom_tooltip", title: "Dashboard" do
          %h1 GITLAB
        %span.separator
      %h1.project_name= title
      %ul.nav
        %li
          %a
            %div.hide.turbolink-spinner
              %i.icon-refresh.icon-spin
              Loading...
        %li
          = render "layouts/search"
        %li
          = link_to public_root_path, title: "Public area", class: 'has_bottom_tooltip', 'data-original-title' => 'Public area' do
            %i.icon-globe
        %li
          = link_to user_snippets_path(current_user), title: "My snippets", class: 'has_bottom_tooltip', 'data-original-title' => 'Public area' do
            %i.icon-paste   
        - if current_user.is_admin?
          %li
            = link_to admin_root_path, title: "Admin area", class: 'has_bottom_tooltip', 'data-original-title' => 'Admin area' do
              %i.icon-cogs
        - if current_user.can_create_project?
          %li
            = link_to new_project_path, title: "Create New Project", class: 'has_bottom_tooltip', 'data-original-title' => 'New project'  do
              %i.icon-plus
        %li
          = link_to build_path, title: "Build Info", class: 'has_bottom_tooltip', 'data-original-title' => 'Build Info'  do
            %i.icon-legal
        %li
          = link_to beta_deploy_logs_path, title: "Beta Deploys", class: 'has_bottom_tooltip', 'data-original-title' => 'Beta Deploys'  do
            %i.icon-bar-chart
        %li
          = link_to profile_path, title: "My Profile", class: 'has_bottom_tooltip', 'data-original-title' => 'Your profile'  do
            %i.icon-user
        %li
          = link_to destroy_user_session_path, class: "logout", method: :delete, title: "Logout", class: 'has_bottom_tooltip', 'data-original-title' => 'Logout'  do
            %i.icon-signout
        %li
          = link_to current_user, class: "profile-pic", id: 'profile-pic' do
            = image_tag gravatar_icon(current_user.email, 26), alt: ''
