%head
  %meta{charset: "utf-8"}
  %title
    = "#{title} | " if defined?(title)
    GitLab
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = include_gon

  /= render 'layouts/google_analytics' if extra_config.has_key?('google_analytics_id')
  /= render 'layouts/ga'
  = render 'layouts/faye'

  -# Atom feed
  - if current_user
    - if controller_name == 'projects' && action_name == 'index'
      = auto_discovery_link_tag :atom, projects_url(:atom, private_token: current_user.private_token), title: "Dashboard feed"
    - if @project && !@project.new_record?
      - if current_controller?(:tree, :commits)
        = auto_discovery_link_tag(:atom, project_commits_url(@project, @ref, format: :atom, private_token: current_user.private_token), title: "Recent commits to #{@project.name}:#{@ref}")
      - if current_controller?(:issues)
        = auto_discovery_link_tag(:atom, project_issues_url(@project, :atom, private_token: current_user.private_token), title: "#{@project.name} issues")
