!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: @project.name_with_namespace
  %body{class: "#{app_theme} project", :'data-page' => body_data_page, :'data-project-id' => @project.id }
    = render "layouts/head_panel", title: project_title(@project)
    = render "layouts/init_auto_complete"
    = render "layouts/flash"
    - if can?(current_user, :download_code, @project)
      = render 'shared/no_ssh'

    %nav.main-nav
      .container= render 'layouts/nav/project'


    .container
      .content= yield
